@using Erp.BackOffice.App_GlobalResources
@using Erp.BackOffice.Helpers
@using Erp.BackOffice.Staff.Models

@model DayOffViewModel

@{
    ViewBag.Title = Wording.PageCreate_DayOff;

    Layout = "~/Views/Shared/" + (Request["IsPopup"] == null ? "ACE_AdminLayout.cshtml" : "_PopupLayout.cshtml");

}

@if (ViewBag.SuccessMessage != null && ViewBag.SuccessMessage != "")
{
    <div class="alert alert-block alert-success">
        <button class="close" data-dismiss="alert" type="button">
            <i class="icon-remove"></i>
        </button>
        <i class="ace-icon fa fa-check green"></i>
        @ViewBag.SuccessMessage
    </div>
}

@if (ViewBag.FailedMessage != null && ViewBag.FailedMessage != "")
{
    <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">
            <i class="ace-icon fa fa-times"></i>
        </button>
        <i class="ace-icon fa fa-times"></i>
        @ViewBag.FailedMessage
    </div>
}

@section HeadOfPage {

    @Html.ScriptTop_ChosenStyle()

}
<script src="~/Scripts/mobiscroll/js/mobiscroll.core.js"></script>
<script src="~/Scripts/mobiscroll/js/mobiscroll.core.js"></script>
<script src="~/Scripts/mobiscroll/js/mobiscroll.frame.js"></script>
<script src="~/Scripts/mobiscroll/js/mobiscroll.scroller.js"></script>


<script src="~/Scripts/mobiscroll/js/mobiscroll.select.js"></script>

<script src="~/Scripts/mobiscroll/js/mobiscroll.frame.ios.js"></script>
<script src="~/Scripts/mobiscroll/js/mobiscroll.frame.jqm.js"></script>
<script src="~/Scripts/mobiscroll/js/i18n/mobiscroll.i18n.en-UK.js"></script>

<link href="~/Scripts/mobiscroll/css/mobiscroll.animation.css" rel="stylesheet" type="text/css" />
<link href="~/Scripts/mobiscroll/css/mobiscroll.frame.css" rel="stylesheet" type="text/css" />
<link href="~/Scripts/mobiscroll/css/mobiscroll.frame.ios.css" rel="stylesheet" type="text/css" />
<link href="~/Scripts/mobiscroll/css/mobiscroll.scroller.css" rel="stylesheet" type="text/css" />
<link href="~/Scripts/mobiscroll/css/mobiscroll.scroller.ios.css" rel="stylesheet" type="text/css" />
@using (Html.BeginForm_AceStyle((string)ViewBag.Title, "Create", "DayOff", null, FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.StaffId)
    @Html.HiddenFor(model => model.DayStart)
    @Html.HiddenFor(model => model.DayEnd)
    <input type="hidden" value="@Request["IsPopup"]" name="IsPopup" />
    <input type="hidden" name="UrlReferrer" value="@Request.UrlReferrer" />
    @*@Html.CustomDropDownListFor(model => model.TypeDayOffId, SelectListHelper.GetSelectList_TypeDayOff(null, Wording.Empty,true), WidthType.span12, true, null, DropdownListStyle.DropdownListStyleChosen)*@
  
    <div data-role="fieldcontain" class="demo-cont" id="demo_cont_select">
        <label for="demo_select">Loại vắng</label>
        <select name="TypeDayOffId" id="demo_select" data-role="none">
            @foreach (var item in SelectListHelper.GetSelectList_SymbolTimekeeping(null,null, false))
            {
                <option value="@item.Value">@item.Text</option>
            }
        </select>

    </div>
    <button style="margin-top:10px" type="submit" class="btn btn-info" name="Submit" value="Save"
            data-rel="tooltip" title="" data-placement="top" data-original-title="Thêm ngày nghỉ vào ngày này">
        <i class="ace-icon fa fa-save bigger-110"></i>
        @Wording.Save
    </button>
   
}

@section Scripts {    
   <script>
   var urlRefer = '@ViewBag.urlRefer';
        //truyền từ action create của controller qua khi thực hiện submit và return về lại view create, để nhận biết là được gọi theo dạng popup
        var closePopup = '@ViewBag.closePopup';
        $(document).ready(function () {
            //nếu là được gọi theo dạng popup từ form khác thì chạy đoạn code bên dưới
            if (closePopup != '') {
                var option = '<option value="@Model.Id" >@Model.Name</option>';
                //tên funtion có thể khác theo từng công việc riêng (đây chỉ là mẫu khi thêm mới sẽ gọi lại)
                window.parent.ClosePopupAndDoSomething(option);
            }

            //nếu có url thì gọi hàm này để trang ngoài iframe nhảy trang
            if (urlRefer != '') {
                window.parent.ClosePopupAndRedirectToURL(urlRefer);
            }
        });
       $(document).ready(function () {
           $('[data-rel="tooltip"]').tooltip({ container: 'body' });

       });
       $(function () {

           function init() {


               $('#demo_select').mobiscroll().select({
                   theme: 'ios',     // Specify theme like: theme: 'ios' or omit setting to use default 
                   mode: 'scroller',       // Specify scroller mode like: mode: 'mixed' or omit setting to use default 
                   display: 'inline', // Specify display mode like: display: 'bottom' or omit setting to use default 
                   lang: 'en-UK'        // Specify language like: lang: 'pl' or omit setting to use default 
               });
              
           }
           init();

       });
</script>
    @Html.ScriptBottom_ValidationMvc()  
    @Html.ScriptBottom_DatePicker("dd/mm/yyyy")  
    @Html.ScriptBottom_ChosenStyle()
}
