<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
@model IEnumerable<SalesReturnsViewModel>

@using Erp.BackOffice.App_GlobalResources
@using Erp.BackOffice.Sale.Models
@using Erp.BackOffice.Helpers
@using GridMvc.Html

@{
    ViewBag.Title = Wording.PageIndex_SalesReturns;
    Layout = "~/Views/Shared/" + (Request["IsPopup"] == null ? "ACE_AdminLayout.cshtml" : "_PopupLayout.cshtml");
    Erp.BackOffice.Models.PageSetting pageSetting = new Erp.BackOffice.Models.PageSetting
    {
        ModuleName = "SalesReturns",
        ActionName = "Index",
        PageTitle = ViewBag.Title,
        DisplaySearchPanel = true,
        IsPopup = false,
        DisplayBackButton = false
    };
    string Status = Request["Status"] != null ? Request["Status"] : "";
    int rowNumber = 0;
    int numberOfItem = 30;
    int currentPage = Request["grid-page"] != null ? Convert.ToInt32(Request["grid-page"]) : 1;
}

<link href="@Url.Content("~/assets/css/Gridmvc.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/gridmvc.min.js")" type="text/javascript"> </script>

@helper GridColumnCommand(int id)
{
    @*<div class="hidden-phone visible-desktop action-buttons" style="display: inline-block; float: left;">
            <p>
                <button name="Delete" value="Delete" type="submit" class="btn btn-mini btn-danger">
                    <i class="ace-icon fa fa-trash bigger-120"></i>
                </button>
            </p>
        </div>*@
    @*<a href="@Url.Action("Print", new { Id = id })" target="_blank" class="btn btn-primary btn-xs"><i class="fa fa-print"></i></a>*@
}
@helper GridColumnName(int? customerid, string customername, string name, int id, string note, bool isPopup = false)
{
    if (isPopup)
    {
        <a onclick="parent.selectItemCustomer(@id, '@name','@customername','@customerid')">@name</a>
    }
    else
    {
        name = string.IsNullOrEmpty(name) ? "No Title" : name;
        <a href="@Url.Action("Detail", "SalesReturns", new { Id = id })">@name</a>

        if (!string.IsNullOrEmpty(note))
        {
            <span class="help-button" data-rel="tooltip" data-placement="bottom" data-original-title="@note">?</span>
        }
    }

}

@helper GridColumnStatusName(string status)
{
    switch (status)
    {
        case "pending":
            <span class="label label-info">@Wording.OrderStatusDisplay_pending</span>
            break;
        case "inprogress":
            <span class="label label-warning">@Wording.OrderStatusDisplay_inprogress</span>
            break;
        case "shipping":
            <span class="label label-warning">@Wording.OrderStatusDisplay_shipping</span>
            break;
        case "complete":
            <span class="label label-success">@Wording.OrderStatusDisplay_complete</span>
            break;
        case "delete":
            <span class="label label-danger">@Wording.OrderStatusDisplay_delete</span>
            break;
    }
}
@helper CheckDeleteColumns(int Id)
{
    <label>
        <input class="ace class-delete-all" type="checkbox" name="DeleteId-checkbox" value="@Id">
        <span class="lbl"></span>
    </label>
}

@helper BuildCheckAll()
{
    <label>
        <input class="ace" type="checkbox" name="checkAll" id="checkAll" />
        <span class="lbl" title="" ></span>
    </label>
}

@using (Html.BeginPageHeaderContainer(pageSetting))
{
    <p>
        <span class="input-daterange input-group">
            @Html.TextBox("startDate", Request["startDate"] != null ? Request["startDate"] : "", new { autocomplete = "off", placeholder = "Từ ngày" })
            <span class="input-group-addon">
                <i class="fa fa-exchange"></i>
            </span>
            @Html.TextBox("endDate", Request["endDate"] != null ? Request["endDate"] : "", new { autocomplete = "off", placeholder = "Đến ngày" })
        </span>
        <script>

                          $('.input-daterange').datepicker({format:'dd/mm/yyyy'}).on('changeDate', function (e) {

                          });
        </script>
        @Html.TextBox("txtCode", Request["txtCode"], new { autocomplete = "off", placeholder = "Mã đơn hàng bán trả lại..." })
        @*@Html.TextBox("txtProductInvoiceCode", Request["txtProductInvoiceCode"], new { autocomplete = "off", placeholder = "Mã đơn hàng..." })*@
        @Html.TextBox("txtCusName", Request["txtCusName"], new { autocomplete = "off", placeholder = "Tên khách hàng..." })
        <select class="chzn-select" style="width:250px; float:left" name="SalerId">
            <option value="">- Nhân viên QL -</option>
            @foreach (var item in SelectListHelper.GetSelectList_User(null, null))
            {
                <option @(Request["SalerId"] == item.Value ? "Selected" : "") value="@item.Value">@item.Text</option>
            }
        </select>

        <select name="Status" id="Status">
            <option @(Status == "" ? "selected" : "") value="">Tất cả</option>
            <option @(Status == "delete" ? "selected" : "") value="delete">Đã hủy</option>
            <option @(Status == "pending" ? "selected" : "") value="pending">Chưa ghi sổ</option>
            <option @(Status == "complete" ? "selected" : "") value="complete">Đã ghi sổ</option>
        </select>



   
    </p>
}

@if (ViewBag.SuccessMessage != null && ViewBag.SuccessMessage != "")
{
    <div class="alert alert-block alert-success">
        <button class="close" data-dismiss="alert" type="button">
            <i class="ace-icon fa fa-times"></i>
        </button>
        <i class="ace-icon fa fa-check green"></i>
        @ViewBag.SuccessMessage
    </div>
}

@if (ViewBag.FailedMessage != null && ViewBag.FailedMessage != "")
{
    <div class="alert alert-block alert-danger">
        <button class="close" data-dismiss="alert" type="button">
            <i class="ace-icon fa fa-times"></i>
        </button>
        <i class="ace-icon fa fa-warning red"></i>
        @ViewBag.FailedMessage
    </div>
}


@using (Html.BeginForm("Delete", "SalesReturns", FormMethod.Post))
{
    @Html.Grid(Model).Columns(columns =>
    {
        columns.Add().Titled("#").SetWidth(50).RenderValueAs(o =>
        {
            rowNumber++;

            return @<text> @(rowNumber + ((currentPage - 1) * numberOfItem)) </text>;
        });
        columns.Add().Titled(Wording.Status).Sanitized(false).Encoded(false).RenderValueAs(n => GridColumnStatusName(n.Status));
        columns.Add(u => u.CreatedDate).Titled(Wording.CreatedDate).Format("{0:dd/MM/yyyy HH:mm}");
        columns.Add().Titled("Mã đơn hàng").Sortable(false).Sanitized(false).Encoded(false).RenderValueAs(u => GridColumnName(u.CustomerId, u.CustomerName, u.Code, u.Id, u.Note)).SetWidth(140);
        columns.Add(u => u.TotalAmount).Titled(Wording.TotalAmount).Sortable(true).RenderValueAs(n => CommonSatic.ToCurrencyStr(n.TotalAmount, null)).Css("text-right");
        columns.Add().Titled(Wording.Customer).Sortable(false).Sanitized(false).Encoded(false).RenderValueAs(n => n.CustomerName);
        columns.Add().Titled(Wording.CustomerCode).Sortable(false).Sanitized(false).Encoded(false).RenderValueAs(n => n.CustomerCode);
        columns.Add().Titled(Wording.ManagerStaffName).Sortable(false).Sanitized(false).Encoded(false).RenderValueAs(n => n.ManagerStaffName);

        //columns.Add().Titled(Wording.BranchName).Sortable(false).Sanitized(false).Encoded(false).RenderValueAs(n => n.BranchName);
        columns.Add(u => u.ModifiedDate).Titled(Wording.ModifiedDate).Sortable(true).Format("{0:dd/MM/yyyy HH:mm}");
        columns.Add(u => u.IsArchive).Titled("TT ghi sổ").Sanitized(false).Encoded(false).RenderValueAs(n => (n.IsArchive ? "<span style=\"color:green\"><b>Đã ghi sổ</b></span>" : "<span style=\"color:red\"><b>Chưa ghi sổ</b></span>")).SetWidth(90).Sortable(true);
        //columns.Add(u => u.Id).Titled("").Sanitized(false).Encoded(false).RenderValueAs(u => GridColumnCommand(u.Id)).SetWidth(50);
    }).WithPaging(20)

    using (Html.BeginButtonContainer(pageSetting))
    {
        if (Erp.BackOffice.Filters.SecurityFilter.AccessRight("Create", "SalesReturns", "Sale"))
        {
            <a class="btn btn-mini btn-primary" href="@Url.Action("Create", pageSetting.ModuleName)">
                <i class="ace-icon fa fa-plus"></i>
                @Wording.CreateNew
            </a>
        }
        
        <button class="btn btn-white btn-success btn-sm" type="button" value="Export" onclick="GetPrint(true)">
            <i class="ace-icon fa fa-file-excel-o"></i>Xuất excel
        </button>
    }

}

@section Scripts {
    <script type="text/javascript">

        $(document).ready(function () {
            //$('input[name="txtMinAmount"]').numberFormat();
            //$('input[name="txtMaxAmount"]').numberFormat();
        });

        function CheckIsval() {
            if ($('[name="DeleteId-checkbox"]').is(':checked') == false) {
                alert("Phải chọn ít nhất 1 item.");
                return false;
            }
            else {
                if (confirm('Bạn có chắc muốn xóa các item đã chọn ?')) {
                    return true;
                }
                else {
                    return false;
                }
            }
        }

        $('[name="Delete"]').click(function () {
            if (confirm('Bạn có chắc muốn xóa item ?')) {
                $(this).closest('tr').children('td').each(function (i, e) {
                    $(this).find("input.class-delete-all").prop("checked", true);
                    return true;
                })
            }
            else {
                return false;
            }

        })

        function GetPrint(type) {
            var startDate = $('#startDate').val();
            var endDate = $('#endDate').val();
            var txtCode = $('#txtCode').val();
            var txtCusName = $('#txtCusName').val();
            var SalerId = $('#SalerId').val();    
            var Status = $('#Status').val();

            OpenPopup('/SalesReturns/PrintSalesReturns?startDate=' + startDate + '&endDate=' + endDate + '&txtCode=' + txtCode + '&txtCusName=' + txtCusName + '&SalerId=' + SalerId + '&Status=' + Status + '&ExportExcel=' + type + '&IsPopup=true', '', 0, 900);

            setTimeout(function () {
                $("#myModal .modal-body .iframe-container").html("");
                $('#myModal').modal('hide');
            }, 200000);
            HideLoading();
        };

    </script>

    @Html.ScriptBottom_ValidationMvc()
    @Html.ScriptBottom_DatePicker("dd/MM/yyyy")
    @*@Html.ScriptBottom_ChosenStyle()*@
}