@using Erp.BackOffice.App_GlobalResources
@using Erp.BackOffice.Helpers

@model Erp.BackOffice.Sale.Models.UsingServiceLogDetailViewModel
@{
    ViewBag.Title = Wording.PageDetail_Vote;
    Layout = "~/Views/Shared/" + (Request["IsPopup"] == null ? "ACE_AdminLayout.cshtml" : "_PopupLayout.cshtml");

    Erp.BackOffice.Models.PageSetting pageSetting = new Erp.BackOffice.Models.PageSetting
    {
        ModuleName = "Vote",
        ActionName = "Detail",
        PageTitle = ViewBag.Title,
        DisplaySearchPanel = false,
        IsPopup = false,
        DisplayBackButton = true
    };

    int QuestionOrderNo = 0;
}
<style>
    .ui-ribbon {
        position: relative;
        display: block;
        text-align: center;
        font-size: 15px;
        font-weight: 600;
        color: #fff;
        transform: rotate(43deg);
        padding: 7px 0;
        left: -2px;
        top: 19px;
        width: 140px;
        line-height: 20px;
        /*background-color: rgba(183, 51, 51, 0.94);*/
        box-shadow: 0 0 3px rgba(0,0,0,.3);
    }

    .ui-ribbon-wrapper {
        position: absolute;
        overflow: hidden;
        width: 108px;
        height: 103px;
        top: 0px;
        right: 12px;
        z-index: 1;
    }
</style>
@using (Html.BeginPageHeaderContainer(pageSetting))
{

}

<div class="row">
    <div class="col-sm-7">
        @foreach (var question in Model.list_vote)
        {
            QuestionOrderNo++;

            <div class="question alert alert-success">
                <h4><b>@(QuestionOrderNo). @question.QuestionName</b></h4>
                <div class="answer top-5">
                    @foreach (var answer in question.AnswerList)
                    {
                        <label style="margin-right:30px !important">
                            <input name="AnswerList[@(QuestionOrderNo - 1)].AnswerId" type="radio" class="ace" @(answer.Id == question.AnswerId ? "checked" : "") />
                            <span class="lbl"> @answer.Content</span>
                        </label>
                    }
                </div>
                @if (QuestionOrderNo == 3)
                {
                    <label style="margin-right:30px !important">
                        <span class="lbl">Ý kiến khác: @question.Note</span>
                    </label>
                }
            </div>
            <p></p>
        }
    </div>
    <div class="col-sm-5">
        <div class="row" style="text-align:center">
            <div class="col-sm-12">
                <div class="widget-box">
                    <div class="widget-body">
                        <div class="widget-main" style="background: #f7f7f7;">
                            <div class="row">
                                <div class="col-sm-5">
                                    <img id="avatar" alt="@Model.CustomerName" src="@(Erp.BackOffice.Helpers.Common.KiemTraTonTaiHinhAnh(Model.CustomerImage, "Customer", "user"))" style="width:130px;height:130px;border-radius:100%;border:1px solid #ccc" />
                                </div>
                                <div class="col-sm-7">
                                    <div style="color:#337ab7;border-bottom:3px solid" class="top-20"><h3><a onclick="OpenPopup('@Url.Action("Detail", "Customer", new {area="Account", Id = Model.CustomerId,IsPopup=true })', '@Wording.DetailCustomer', 0, 700)"><b>@Model.CustomerName</b></a></h3></div>
                                    <div style="color:#337ab7">@(Model.CustomerCode)</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row top-10">
            <div class="col-xs-12">
                <div class="ui-ribbon-wrapper">
                    @if (Model.Type == "usedservice")
                    {
                        <div class="ui-ribbon" style="background-color:#FEE188">
                            <span>Sử dụng DV</span>
                        </div>
                    }
                    else
                    {
                        <div class="ui-ribbon" style="background-color:#87B87F;">
                            <span>Tái khám</span>
                        </div>
                    }
                </div>
                <div class="btn btn-white btn-primary btn-bold" style="text-align: left;  white-space: normal; width: 100%; margin-bottom: 10px; ">
                    <h4>
                        <b style="color: #0058ff;">Dịch vụ: @Model.ServiceName</b>
                    </h4>
                    <p><i style="font-size:13px;">Ngày tạo: @Model.CreatedDate.Value.ToString("dd/MM/yyyy HH:mm")</i></p>
                    <p>Mã hóa đơn: <a onclick="OpenPopup('@Url.Action("Detail", "ProductInvoice", new {area="Sale", Id = Model.ProductInvoiceId,IsPopup=true })', '@Wording.ProductInvoice', 0, 700)">@Model.ProductInvoiceCode</a></p>
                    <p>Hiện trạng: @Model.Status</p>
                </div>
            </div>
        </div>
        <div class="row" style="text-align:center">
            <div class="col-sm-12">
                <div class="widget-box">
                    <div class="widget-body">
                        <div class="widget-main" style="background: #f7f7f7;">
                            <div class="row">
                                <div class="col-sm-5">
                                    <img id="avatar" alt="@Model.Name" src="@(Erp.BackOffice.Helpers.Common.KiemTraTonTaiHinhAnh(Model.ProfileImage,"Staff","user"))" style="width:130px;height:130px;border-radius:100%;border:1px solid #ccc" />
                                </div>
                                <div class="col-sm-7">
                                    <div style="color:#337ab7;border-bottom:3px solid" class="top-20"><h3><a onclick="OpenPopup('@Url.Action("Detail", "Staffs", new {area="Staff", Id = Model.StaffId,IsPopup=true })', '@Wording.PageDetailStaff', 0, 700)"><b>@Model.Name</b></a></h3></div>
                                    <div style="color:#337ab7">@(Model.Code)</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




