@model Erp.BackOffice.Crm.Models.CRM_KH_BANHANGViewModel
@using Erp.BackOffice.Account.Models
@using Erp.BackOffice.Crm.Models
@using Erp.BackOffice.Areas.Cms.Models
@using Erp.BackOffice.App_GlobalResources
@using Erp.BackOffice.Sale.Models
@using Erp.BackOffice.Helpers
@using GridMvc.Html
@{
    IEnumerable<ProductInvoiceViewModel> ProductInvoice = (IEnumerable<ProductInvoiceViewModel>)ViewBag.ProductInvoice;
    IEnumerable<CRM_KH_BANHANG_CTIETViewModel> vwCRM_KH_BANHANGCT = (IEnumerable<CRM_KH_BANHANG_CTIETViewModel>)ViewBag.vwCRM_KH_BANHANG;
    string Month3 = Request["month"] != null ? Request["month"] : new DateTime(DateTime.Now.Year, DateTime.Now.Month, DateTime.Now.Day).ToString("MM/yyyy");
    string Year3 = Request["year"] != null ? Request["year"] : new DateTime(DateTime.Now.Year, DateTime.Now.Month, DateTime.Now.Day).ToString("MM/yyyy");
    IEnumerable<KH_TUONGTACViewModel> LICHSUTUONGTAC = (IEnumerable<KH_TUONGTACViewModel>)ViewBag.LICHSUTUONGTAC;
    IEnumerable<CRM_KH_BANHANGViewModel> BANHANG_CTIET_ProductInvoice = (IEnumerable<CRM_KH_BANHANGViewModel>)ViewBag.BANHANG_CTIET_ProductInvoice;
    decimal? sum = 0;
}
<div class="tab-content clear-fix">
    @Html.HiddenFor(model => model.ID_LEONORGREYL)
    <p>
        <label>Tháng/năm</label>
        @Html.TextBox("month3", Request["month"] != null ? Request["month"] : new DateTime(DateTime.Now.Year, DateTime.Now.Month, DateTime.Now.Day).ToString("MM/yyyy"), new { autocomplete = "off", style = "width:120px", disabled = "true" })
        <label style="padding-left:51px">Người lập</label>
        @Html.TextBox("NGUOILAP_ID", Request["NGUOILAP_ID"], new { @class = "hidden", autocomplete = "off", placeholder = "Người lập", style = "width:120px" })

        @Html.TextBox("FullName", Request["FullName"], new { @class = "", disabled = "disabled", autocomplete = "off", placeholder = "Người lập", style = "width:200px" })

        <label style="padding-left:80px">Nhãn hàng</label>
        <input type="text" value="LEONOR GREYL" style="width:200px" readonly="readonly" />
    </p>
    <p>
        <label style="padding-left:2px">Taget(VNĐ)</label>
        <input type="text" name="LEONORGREYL" id="LEONORGREYL" class="LEONORGREYL" value="@ViewBag.LEONORGREYL" style="width:120px" />
        <label style="padding-left:10px">Kế hoạch đã lập</label>
        <input type="text" name="TotalAmountLEONORGREYL" id="TotalAmountLEONORGREYL" style="width:200px" readonly="readonly" />
        <label style="padding-left:10px">(%) Đạt theo kế hoạch</label>
        <input type="text" name="DATLEONORGREYL" id="DATLEONORGREYL" class="ORLANEPARIS" readonly style="width:200px" />
    </p>
    <p>
        <label style="padding-left:26px">Ghi chú</label>
        <input type="text" name="GHICHU_LEONORGREYL" class="GHICHU_LEONORGREYL" value="@ViewBag.GHICHU_LEONORGREYL" style="width:440px" />
        <label style="padding-left:23px">(%) Đạt theo thực tế</label>
        @Html.TextBox("DATTHUCTE3", Request["DATTHUCTE"], new { @class = "", disabled = "disabled", autocomplete = "off", placeholder = "Đạt (%)", style = "width:200px" })

    </p>
    <p>
        @if (@ViewBag.ID_LEONORGREYL == null)
        {
            <a class="btn btn-mini add" onclick="OpenPopup('@Url.Action("CreateKH_BANHANG", "CRM_KH_BANHANG", new {CountForBrand="LEONOR GREYL", id=@ViewBag.NGUOILAP,month=Month3,year=Year3 })','',0,0)">
                Lập kế hoạch mới
            </a>
        }
        else
        {
            <a class="btn btn-mini add" onclick="OpenPopup('@Url.Action("CreateKH", "CRM_KH_BANHANG",new { KH_BANHANG_ID=@ViewBag.ID_LEONORGREYL,Month=Month3,Year=Year3})','',0,0)">
                Thêm mới KH
            </a>
        }
        <a id="btnKETHUA3" class="btn btn-mini btn-primary">
            Kế thừa tháng trước
        </a>
    </p>
    <div id="listOrderDetail3" class="table-responsive top-10 ">
        <table id="CTable" class="table table-bordered">
            <thead>
                <tr>
                    <th rowspan="2" style="width:40px;text-align:center">STT</th>
                    <th rowspan="2" style="text-align:center"> Tên khách hàng</th>
                    <th rowspan="2" style="text-align:center">Mã KH</th>
                    <th rowspan="2" style="text-align:center">Điện thoại </th>
                    <th rowspan="2" style="width:100px;text-align:center">Thông tin lưu ý</th>
                    <th rowspan="2" style="text-align:center">Tỷ lệ thành công(%)</th>
                    <th rowspan="2" style="text-align:center">Ghi chú</th>
                    <th rowspan="2" style="text-align:center">Đơn hàng PS</th>
                    <th rowspan="2" style="text-align:center">Đánh giá lại</th>
                    <th rowspan="2" style="text-align:center">Lịch sử tương tác</th>
                    <th rowspan="2" style="text-align:center">Đơn hàng dự kiến</th>
                    @*<td></td>*@
                </tr>
            </thead>
            <tbody class="productInvoiceList3">
                @if (Model.CRM_KH_BANHANGList.Count > 0)
                {
                    var q = 0;
                    for (int i = 0; i < Model.CRM_KH_BANHANGList.Count(); i++)
                    {
                        if (Model.CRM_KH_BANHANGList[i].KH_BANHANG_ID == @ViewBag.ID_LEONORGREYL)
                        {
                            <tr role="@(i+1)" id="@(i+1)">
                                <td class="text-center">
                                    @((q += 1))
                                </td>
                                <td>
                                    <input class="id" type="hidden" id="CRM_KH_BANHANGList_@(i)__KH_BANHANG_CTIET_ID" name="CRM_KH_BANHANGList[@(i)].KH_BANHANG_CTIET_ID" value="@Model.CRM_KH_BANHANGList[i].KH_BANHANG_CTIET_ID" />
                                    <input class="id" type="hidden" id="CRM_KH_BANHANGList_@(i)__KHACHHANG_ID" name="CRM_KH_BANHANGList[@(i)].KHACHHANG_ID" value="@Model.CRM_KH_BANHANGList[i].KHACHHANG_ID" />
                                    <span>@Model.CRM_KH_BANHANGList[i].CompanyName</span>
                                </td>
                                <td>
                                    <input class="name" type="hidden" id="CRM_KH_BANHANGList_@(i)__Code" name="CRM_KH_BANHANGList[@(i)].Code" value="@Model.CRM_KH_BANHANGList[i].Code" readonly="readonly" />
                                    <span class="code" id="CRM_KH_BANHANGList_@(i)__Code" name="CRM_KH_BANHANGList[@(i)].Code" value="@Model.CRM_KH_BANHANGList[i].Code">@Model.CRM_KH_BANHANGList[i].Code</span>
                                </td>
                                <td>
                                    <input class="phone" type="hidden" id="CRM_KH_BANHANGList_@(i)__Phone" name="CRM_KH_BANHANGList_[@(i)].Phone" value="@Model.CRM_KH_BANHANGList[i].Phone" readonly="readonly" />
                                    <span>@Model.CRM_KH_BANHANGList[i].Phone</span>
                                </td>
                                <td>
                                    @*<input class="THANG" type="text" id="@Model.NOIDUNG" name="@Model.NOIDUNG" value="@Model.NOIDUNG" />*@
                                    <span>@Model.CRM_KH_BANHANGList[i].NOIDUNG</span>
                                </td>
                                <td>
                                    <input style="width:50px" class="nr-Tap3 tylethanhcong" type="text" id="CRM_KH_BANHANGList_@(i)__TYLE_THANHCONG" name="CRM_KH_BANHANGList[@(i)].TYLE_THANHCONG" value="@(Model.CRM_KH_BANHANGList[i].TYLE_THANHCONG ==null ? 0 : Model.CRM_KH_BANHANGList[i].TYLE_THANHCONG)" readonly="readonly" />
                                    @*<input style="width:50px" class="nr" type="text" id="CRM_KH_BANHANG_CTIETList@(i)__TYLE_THANHCONG" name="CRM_KH_BANHANG_CTIETList[@(i)].TYLE_THANHCONG " value="0" readonly="readonly" />*@
                                    <input style="width:30px;color:white;border:none" class="btn-mini btn-CONG-Tap3 add" type="button" value="+" />
                                    @*<a class="btn-CONG">
                                            <i class="ace-icon fa fa-trash red bigger-120" style="cursor:pointer"></i>
                                        </a>*@
                                    <input style="width:30px;color:white;border:none" class="btn-mini btn-TRU-Tap3 add" type="button" value="-" />
                                </td>
                                <td><span>@Model.CRM_KH_BANHANGList[i].GHI_CHU</span></td>


                                <td>
                                    @foreach (var item in ProductInvoice.Where(x => x.CustomerId == Model.CRM_KH_BANHANGList[i].KHACHHANG_ID && x.CountForBrand == "LEONOR GREYL"))
                                    {
                                        <a onclick="OpenPopup('@Url.Action("Detail", "ProductInvoice",new { area="Sale",id=item.Id,IsPopup=true})','',0,0)">@CommonSatic.ToCurrencyStr( item.TotalAmount,null)</a>
                                    }
                                </td>
                                <td>
                                    <input style="width:50px" class="nr-REVIEW-Tap3 tylethanhcongreview" type="text" id="CRM_KH_BANHANGList_@(i)__TYLE_THANHCONG_REVIEW" name="CRM_KH_BANHANGList[@(i)].TYLE_THANHCONG_REVIEW" value="@(Model.CRM_KH_BANHANGList[i].TYLE_THANHCONG_REVIEW == null ? 0 : Model.CRM_KH_BANHANGList[i].TYLE_THANHCONG_REVIEW)" readonly="readonly" />


                                    @*<input style="width:50px" class="nr_REVIEW" type="text" id="@Model.TYLE_THANHCONG_REVIEW" name="@Model.TYLE_THANHCONG_REVIEW" value="0" readonly="readonly" />*@
                                    <input style="width:30px;color:white;border:none" class="btn-mini btn-CONG-REVIEW-Tap3 add" type="button" value="+" />
                                    <input style="width:30px;color:white;border:none" class="btn-mini btn-TRU-REVIEW-Tap3 add" type="button" value="-" />
                                </td>
                                <td>
                                    @if (LICHSUTUONGTAC.Where(x => x.KHACHHANG_ID == Model.CRM_KH_BANHANGList[i].KHACHHANG_ID).Count() > 0)
                                    {
                                        <a onclick="OpenPopup('@Url.Action("LichSuTuongTac", "Plan", new { area = "Sale",NGUOILAP_ID=Model.NGUOILAP_ID,KHACHHANG_ID= Model.CRM_KH_BANHANGList[i].KHACHHANG_ID , IsPopup = true })', '', 0, 0)">Xem</a>
                                    }
                                </td>
                                <td>
                                    <span> <a onclick="OpenPopup('@Url.Action("DetailProductInvoice", "CRM_KH_BANHANG",new { area="Crm",Id=@Model.CRM_KH_BANHANGList[i].ProductInvoiceId})','',0,0)">@CommonSatic.ToCurrencyStr(@Model.CRM_KH_BANHANGList[i].TotalAmount, null)</a></span>

                                    <a onclick="DeleteData3(@Model.CRM_KH_BANHANGList[i].KH_BANHANG_CTIET_ID)" class="Delete" style="float:right">
                                        <i class="ace-icon fa fa-trash red bigger-120" style="cursor:pointer"></i>
                                    </a>
                                    <a class="glyphicon glyphicon-pencil" style="float:right;margin-right:20px" onclick="OpenPopup('@Url.Action("CreateProductInvoice", "CRM_KH_BANHANG",new { area="Crm",CountForBrand="LEONOR GREYL", CustomerId=@Model.CRM_KH_BANHANGList[i].KHACHHANG_ID,CustomerName=@Model.CRM_KH_BANHANGList[i].CompanyName,KH_BANHANG_CTIET_ID=@Model.CRM_KH_BANHANGList[i].KH_BANHANG_CTIET_ID})','',0,0)"></a>
                                </td>
                            </tr>
                        }

                    }

                }
            </tbody>
            <thead>
                <tr hidden>
                    <td colspan="7"></td>
                    @*@foreach (var item in vwCRM_KH_BANHANGCT)
                        {
                            foreach (var item1 in ProductInvoice.Where(x => x.CountForBrand == "LEONOR GREYL" && x.CustomerId == item.KHACHHANG_ID))
                            {
                            <td id="DHPS3">
                                @CommonSatic.ToCurrencyStr(ProductInvoice.Where(x => x.CountForBrand == "LEONOR GREYL" && x.Month.ToString() == Month3 && x.Year.ToString() == Year3 && x.CustomerId == Model.KHACHHANG_ID).Sum(x => x.TotalAmount), null)
                            </td>
                            }
                        }*@
                    @if (BANHANG_CTIET_ProductInvoice.Where(x => x.CountForBrand == "LEONOR GREYL") != null)
                    {
                        <td id="DHPS3">
                            @CommonSatic.ToCurrencyStr(BANHANG_CTIET_ProductInvoice.Where(x => x.CountForBrand == "LEONOR GREYL").Sum(x => x.TotalAmount), null)
                        </td>
                    }
                    <td></td>
                    <td></td>
                    @if (vwCRM_KH_BANHANGCT.Where(x => x.CountForBrand == "LEONOR GREYL") != null)
                    {
                        <td id="Total3">
                            @CommonSatic.ToCurrencyStr(vwCRM_KH_BANHANGCT.Where(x => x.CountForBrand == "LEONOR GREYL" && x.NGUOILAP_ID == Model.NGUOILAP_ID).Sum(x => x.TotalAmount), null)
                        </td>
                    }
                </tr>
            </thead>
        </table>
    </div>
    @for (int i = 0; i <= 100; i += 10)
    {
        decimal? sum1 = 0;
    <label style="color:blue;padding-left:20px">
        @foreach (var item in Model.CRM_KH_BANHANGList.Where(x => x.CountForBrand == "LEONOR GREYL" && x.NGUOILAP_ID == Model.NGUOILAP_ID))
        {
            if (item.TYLE_THANHCONG == i)
            {
                if (item.TotalAmount == null)
                {
                    item.TotalAmount = 0;
                }
                sum1 += item.TotalAmount;
            }
            sum = sum1;
        }
        @i%:( @(sum == null ? Convert.ToString(0) : CommonSatic.ToCurrencyStr(sum, null)) )
    </label>
    }
</div>
<script>
    $('#btnKETHUA3').click(function () {
        if (confirm('Bạn có muốn kế thừa tháng trước không ?')) {
            PostData3();
        }
        else {
            return false;
        }
    });
    function DeleteData3(KH_BANHANG_CTIET_ID) {
        if (confirm('Bạn có muốn xóa item đã chọn ?')) {

            $.ajax({
            type: "POST",
            url: '@Url.Action("Delete", "CRM_KH_BANHANG")',
            data: JSON.stringify({ model: { KH_BANHANG_CTIET_ID: KH_BANHANG_CTIET_ID } }),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                //alert(result);
                window.locationre = result.url;
            }
            });
            location.reload();
        }
        else {
            return false;
        }
        
    }
     function PostData3() {
        $.ajax({
            type: "POST",
            url: '@Url.Action("KETHUA", "CRM_KH_BANHANG", new { KH_BANHANG_ID = @ViewBag.ID_LEONORGREYL})',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({ model: { CountForBrand: 'LEONOR GREYL', NGUOILAP_ID:@Model.NGUOILAP_ID, month : @Month3 + "/" + @Year3} }),
            dataType: "json",
            success: function (result) {
                //alert(result);
                window.locationre = result.url;
            }
         });
         location.reload();
    }
    $(document).ready(function () {
        var LEONORGREYL = 0;
        var DAT = 0;
        var DHPS3 = $('#DHPS3').text();
        var Total = $('#Total3').text();
        LEONORGREYL = removeComma($('#LEONORGREYL').val());
        //alert(LEONORGREYL);
        $('#TotalAmountLEONORGREYL').val($.trim(Total));
        var tes = parseFloat(removeComma(Total));
        var ds = parseFloat(LEONORGREYL);
        var q = (parseFloat(removeComma(Total) / parseFloat(removeComma(LEONORGREYL))) * 100).toFixed(1);
       
        var DonhangPS3 = (parseFloat(removeComma(DHPS3) / parseFloat(LEONORGREYL)) * 100);
        $('#DATLEONORGREYL').val(q)
        $('#DATTHUCTE3').val(DonhangPS3)
        if (isNaN(($('#DATLEONORGREYL').val()))) {
            $('#DATLEONORGREYL').val(0);
        } else {
            $('#DATLEONORGREYL').val(numeral(q).format('0,0.0'));
        }
        if ($('#DATLEONORGREYL').val() > 100) {
            $('#DATLEONORGREYL').val(100);
        }
        if (isNaN(($('#DATTHUCTE3').val()))) {
            $('#DATTHUCTE3').val(0);
        } else {
            $('#DATTHUCTE3').val(numeral(DonhangPS3).format('0,0.0'));
        }
        //if (removeComma($('#DATTHUCTE3').val()) > 100) {
        //    $('#DATTHUCTE3').val(100);
        //}
    });
    //var Total = $('#Total3').text();
    //$('#TotalAmount3').val($.trim(Total));

    $('#listOrderDetail3').on('click', '.btn-CONG-Tap3', function () {
            var $row = $(this).closest("tr");    // Find the row
            var $text = $row.find(".nr-Tap3").val(); // Find the text
            var w = parseFloat($text);
            if (w < 0) {
                w = -1;
            }
            if (w > 0) {
                w += 10;
            } if (w == 0) {
                w += 10;
            }
            if (w == -1) {
                w = 0;
            }
            if (w > 100) {
                w = 100;
                alert('Tỷ lệ thành công không được quá 100%');
            }
            $row.find(".nr-Tap3").val(w);

            var kh_id = $row.find("td:eq(1) input:nth-child(1)").val();
            var khach_id = $row.find("td:eq(1) input:nth-child(2)").val();
            var tyle = $row.find("td:eq(5) input").val();
            var tylerw = $row.find("td:eq(8) input").val();

            UpdateTaget(kh_id,khach_id,tyle,tylerw);
        });
    $('#listOrderDetail3').on('click', '.btn-TRU-Tap3', function () {
            var $row = $(this).closest("tr");    // Find the row
            var $text = $row.find(".nr-Tap3").val(); // Find the text
            var w = parseFloat($text);
            if (w == 0) {
                w = -1;
            }
            if (w < 0) {
                w = -1;
            } if (w == -1) {
                w = -1;
            } if (w > 0) {
                w += -10;
            }
            $row.find(".nr-Tap3").val(w);
            var kh_id = $row.find("td:eq(1) input:nth-child(1)").val();
            var khach_id = $row.find("td:eq(1) input:nth-child(2)").val();
            var tyle = $row.find("td:eq(5) input").val();
            var tylerw = $row.find("td:eq(8) input").val();

            UpdateTaget(kh_id,khach_id,tyle,tylerw);
        });
    $('#listOrderDetail3').on('click', '.btn-CONG-REVIEW-Tap3', function () {
            var $row = $(this).closest("tr");    // Find the row
        var $text = $row.find(".nr-REVIEW-Tap3").val(); // Find the text
            var w = parseFloat($text);
            if (w < 0) {
                w = -1;
            }
            if (w > 0) {
                w += 10;
            } if (w == 0) {
                w += 10;
            }
            if (w == -1) {
                w = 0;
            }
            if (w > 200) {
                w = 200;
                alert('Tỷ lệ thành công không được quá 200%');
            }
            $row.find(".nr-REVIEW-Tap3").val(w);

            var kh_id = $row.find("td:eq(1) input:nth-child(1)").val();
            var khach_id = $row.find("td:eq(1) input:nth-child(2)").val();
            var tyle = $row.find("td:eq(5) input").val();
            var tylerw = $row.find("td:eq(8) input").val();

            UpdateTaget(kh_id,khach_id,tyle,tylerw);
        });
    $('#listOrderDetail3').on('click', '.btn-TRU-REVIEW-Tap3', function () {
            var $row = $(this).closest("tr");    // Find the row
        var $text = $row.find(".nr-REVIEW-Tap3").val(); // Find the text
            var w = parseFloat($text);
            if (w == 0) {
                w = -1;
            }
            if (w < 0) {
                w = -1;
            } if (w == -1) {
                w = -1;
            } if (w > 0) {
                w += -10;
            }
            $row.find(".nr-REVIEW-Tap3").val(w);
            var kh_id = $row.find("td:eq(1) input:nth-child(1)").val();
            var khach_id = $row.find("td:eq(1) input:nth-child(2)").val();
            var tyle = $row.find("td:eq(5) input").val();
            var tylerw = $row.find("td:eq(8) input").val();

            UpdateTaget(kh_id,khach_id,tyle,tylerw);
        });
</script>
