@using Erp.BackOffice.App_GlobalResources
@using Erp.BackOffice.Helpers
@using Erp.BackOffice.Sale.Models

@model ProductViewModel

@{
    ViewBag.Title = "Thêm gói liệu trình";

    Layout = "~/Views/Shared/" + (Request["IsPopup"] == null ? "ACE_AdminLayout.cshtml" : "_PopupLayout.cshtml");
    Erp.BackOffice.Models.PageSetting pageSetting = new Erp.BackOffice.Models.PageSetting
    {
        ModuleName = "ProductPackage",
        ActionName = "Create",
        PageTitle = ViewBag.Title,
        DisplaySearchPanel = false,
        IsPopup = false,
        DisplayBackButton = true
    };

    IEnumerable<SelectListItem> ManufacturerList = Erp.BackOffice.Helpers.Common.GetSelectList_Category("manufacturerList", null, "value");
    IEnumerable<SelectListItem> CategoryList = Erp.BackOffice.Helpers.Common.GetSelectList_Category("product", null, "value");
    IEnumerable<SelectListItem> productUnitList = Erp.BackOffice.Helpers.Common.GetSelectList_Category("productUnit", null, "value");
    IEnumerable<SelectListItem> productGroupList = Erp.BackOffice.Helpers.Common.GetSelectList_Category("ProductGroup", null, "value");
    IEnumerable<SelectListItem> OriginList = Erp.BackOffice.Helpers.SelectListHelper.GetSelectList_Category("Origin", null, Wording.Empty);
}

@section HeadOfPage {
    @Html.ScriptTop_ChosenStyle()
    <link href="/assets/css/combojax.css" rel="stylesheet" />
    <link href="/Scripts/ckeditor/contents.css" rel="stylesheet" />

    <style type="text/css">
        .cell-center {
            text-align: center;
        }

        .tr-bold {
            font-weight: 700;
        }

        .ctl {
            position: relative;
            /*float: left;*/
            margin-right: 3px;
        }

            .ctl .error {
                position: absolute;
                background: #de2a2a;
                left: 0px;
                top: 28px;
                padding: 2px 5px;
                color: #fff;
                z-index: 999;
            }

                .ctl .error:before {
                    border-bottom: 7px solid #de2a2a;
                    border-left: 7px solid transparent;
                    border-right: 7px solid transparent;
                    left: 9px;
                    top: -6px;
                    content: "";
                    display: inline-block;
                    position: absolute;
                }

        .icon-add {
            margin-top: 0px !important;
        }

        .combojax {
            display: inline-block;
        }

            .combojax ul {
                padding: 0px !important;
            }
    </style>


}

@if (ViewBag.FailedMessage != null && ViewBag.FailedMessage != "")
{
    <div class="alert alert-block alert-danger">
        <button class="close" data-dismiss="alert" type="button">
            <i class="ace-icon fa fa-times"></i>
        </button>
        <i class="ace-icon fa fa-warning red"></i>
        @ViewBag.FailedMessage
    </div>
}
@using (Html.BeginPageHeaderContainer(pageSetting))
{

}

@using (Html.BeginForm_AceStyle((string)ViewBag.Title, "Create", "ProductPackage", null, FormMethod.Post, new { id = "CreateProduct", @class = "form-horizontal clearfix", enctype = "multipart/form-data" }))
{
    //@Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <input type="hidden" name="IsPopup" value="@Request["IsPopup"]" />
    <input type="hidden" name="Type" value="productpackage" />
    <div class="row">
        <div class="col-sm-6">
            <div class="widget-container-col ui-sortable" id="widget-container-col-10" style="min-height: 108px;">
                <div class="widget-box ui-sortable-handle" id="widget-box-10" style="opacity: 1;">
                    <div class="widget-header widget-header-small">
                        <div class="widget-toolbar no-border pull-left">
                            <ul class="nav nav-tabs" id="myTab">
                                <li class="active">
                                    <a data-toggle="tab" href="#home" aria-expanded="true"><i class="fa fa-info-circle"></i> Tổng quan</a>
                                </li>
                                <li class="">
                                    <a data-toggle="tab" href="#image" aria-expanded="false"><i class="fa fa-image"></i> Ảnh minh họa</a>
                                </li>
                                <li class="">
                                    <a data-toggle="tab" href="#profile" aria-expanded="false"><i class="fa fa-comment-o"></i> Mô tả</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="widget-body">
                        <div class="widget-main padding-6">
                            <div class="tab-content">
                                <div id="home" class="tab-pane active">
                                    @Html.CustomTextboxFor(model => model.Name, null, null, WidthType.span12)
                                    @Html.CustomTextboxFor(model => model.Code, null, null, WidthType.span12)
                                    @*@Html.CustomTextboxFor(model => model.Origin, null, null, WidthType.span12)*@
                                    @Html.CustomDropDownListFor(model => model.Origin, OriginList, WidthType.span12, true, null, DropdownListStyle.DropdownListStyleDefault)
                                    @*@Html.CustomDropDownListFor(model => model.Manufacturer, ManufacturerList, WidthType.span12, true, null, DropdownListStyle.DropdownListStyleChosen)*@
                                    @Html.CustomDropDownListFor(model => model.CategoryCode, CategoryList, WidthType.span12, true, null, DropdownListStyle.DropdownListStyleDefault)
                                    @Html.CustomDropDownListFor(model => model.ProductGroup, productGroupList, WidthType.span12, true, null, DropdownListStyle.DropdownListStyleDefault)
                                    @Html.CustomDropDownListFor(model => model.Unit, productUnitList, WidthType.span12, true, null, DropdownListStyle.DropdownListStyleDefault)
                                    @*@Html.CustomDropDownListFor(model => model.ProductLinkId, ProductLinkIdList, WidthType.span12, true, null, DropdownListStyle.DropdownListStyleChosen)*@
                                    @Html.HiddenFor(model => model.ProductLinkId)
                                    @Html.CustomTextboxFor(model => model.ProductLinkName, null, null, WidthType.span12)
                                    @*@Html.CustomTextboxFor(model => model.Size, null, null, WidthType.span12)*@
                                    <div id="" class="control-group form-group">
                                        <label class="control-label col-lg-5 col-md-4 col-sm-4">Giá nhập</label>
                                        <div class="control-value col-lg-7 col-md-8 col-sm-8">
                                            <div class="clearfix">
                                                <input class="numberinput2 col-sm-12 text-right" id="PriceInbound" name="PriceInbound" type="text" value="@Model.PriceInbound">
                                            </div>
                                        </div>
                                    </div>
                                    <div id="" class="control-group form-group">
                                        <label class="control-label col-lg-5 col-md-4 col-sm-4">Giá xuất</label>
                                        <div class="control-value col-lg-7 col-md-8 col-sm-8">
                                            <div class="clearfix">
                                                <input class="numberinput2 col-sm-12 text-right" id="PriceOutbound" name="PriceOutbound" type="text" value="@Model.PriceOutbound">
                                            </div>
                                        </div>
                                    </div>
                                    @Html.CustomTextboxFor(model => model.MinInventory, null, null, WidthType.span12, true, new Dictionary<string, object> { { "class", "numberinput2 col-sm-12 text-right" } })
                                </div>
                                <div id="image" class="tab-pane">
                                    <div class="wrap-btn-upload">
                                        <a class="btn btn-primary btn-sm btn-white"><i class="fa fa-upload"></i><span>Tải hình mới</span></a>
                                        <input type="file" id="file-image" name="file-image" class="file-image" accept="image/*" onchange="previewFileImage(event, '#display-image img')" />
                                    </div>
                                    <div class="text-center" id="display-image">
                                        <img src="/assets/css/images/noimage.gif" title="@Model.Name" id="imgAvt" style="max-height:250px" />
                                    </div>
                                </div>
                                <div id="profile" class="tab-pane">
                                    <textarea class="ckeditor" cols="20" id="Description" name="Description" placeholder="" rows="2">@Model.Description</textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-sm-6">
            <div class="widget-box">
                <div class="widget-header">
                    <h5 class="widget-title"> Danh sách nguyên liệu của túi liệu trình</h5>
                </div>
                <div class="widget-body">
                    <div class="widget-main">
                        <div class="box-body">
                            <table class="table table-bordered grid-table">
                                <thead>
                                    <tr>
                                        <th class="grid-header" style="width:5%">STT</th>
                                        <th class="grid-header">Tên nguyên liệu </th>
                                        <th class="grid-header" style="width:100px">Số lượng</th>
                                        <th class="grid-header" style="width:50px;"></th>
                                    </tr>
                                </thead>
                                <tbody id="detailList">
                                    <tr role="0" hidden>
                                        <td>1</td>
                                        <td>
                                            <span class="ctl inline">
                                                <input class="detail_material_name" type="text" id="ProductDetailList_0__MaterialName" name="ProductDetailList[0].MaterialName" value="" style="width:300px" />
                                            </span>
                                        </td>
                                        <td>
                                            <input class="detail_material_id" type="hidden" id="ProductDetailList_0__MaterialId" name="ProductDetailList[0].MaterialId" value="0" />
                                            <input class="detail_id" type="hidden" id="ProductDetailList_0__Id" name="ProductDetailList[0].Id" value="0" />
                                            <input class="detail_quantity text-right" type="text" id="ProductDetailList_0__Quantity" name="ProductDetailList[0].Quantity" value="1" style="width:100%" />
                                        </td>
                                        <td class="text-center"><a class="btn btn-xs btn-danger detail_remove">X</a></td>
                                    </tr>

                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="4">
                                            <a class="btn btn-xs btn-primary btn-white btn-add-detail-item" style="border-width:0px;width:100%"><i class="ace fa fa-plus"></i> Thêm dòng mới</a>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    using (Html.BeginButtonContainer(pageSetting))
    {
        <a class="btn btn-mini btn-primary" id="Save" name="Save" value="Save">
            <i class="ace-icon fa fa-save"></i>
            @Wording.Save
        </a>
    }

}

@section Scripts {

    <script src="/Scripts/ckeditor/ckeditor.js"></script>
    <script src="/Scripts/combojaxTLT.js?=vs1.01"></script>

    <script>
        function SetTextForId(ele, strName) {
            var a = $(ele).closest('div .control-group');
            a.find('label').html(strName);
        }
        $(document).ready(function () {
            LoadNumberInput();
            SetTextForId($('#Code'), "Mã túi liệu trình");
            SetTextForId($('#Name'), "Tên túi liệu trình");
            SetTextForId($('#ProductGroup'), "Nhóm");
            SetTextForId($('#CategoryCode'), "Danh mục");
            SetTextForId($('#ProductLinkName'), "Túi liệu trình liên kết");

            $("#ProductLinkName").combojax({
                url: "/Product/GetListProductPackage",
                onNotFound: function (p) {  //khi tìm ko thấy dữ liệu thì sẽ hiển thị khung thêm mới dữ liệu
                    //OpenPopup('/Customer/Create?IsPopup=true&Phone=' + p, 'Thêm mới', 500, 250);
                },
                onSelected: function (obj) {
                    console.log(obj);
                    if (obj) {
                        $("#ProductLinkId").val(obj.Id);
                    }
                }       //chỗ xử lý khi chọn 1 dòng dữ liệu ngoài việc lưu vào textbox tìm kiếm
              ,onShowImage: false                  //hiển thị hình ảnh
              ,onSearchSaveSelectedItem: true    //lưu dòng dữ liệu đã chọn vào ô textbox tìm kiếm, mặc định lưu giá trị value trong hàm get data
              ,onRemoveSelected: false  //những dòng đã chọn rồi thì sẽ ko hiển thị ở lần chọn tiếp theo
            });

            $('#Save').click(function () {
                ShowLoading();
                ClearFormatBeforeSubmit($("#CreateProduct"));
                $("#CreateProduct").submit();
                // HideLoading();
            });

            $("#Code").change(function () {
                $.get('/Product/CheckCodeExsist/', { id: @Model.Id, code: $(this).val() }, function (rs) {
                    if (rs != '') {
                        alert(rs);
                    }
                });
            });

        });

        function initCkeditor() {
            $('.ckeditor').ckeditor({
                "extraPlugins": 'imagebrowser',
                "imageBrowser_listUrl": "@Url.Action("ListJson","Images")",
                // Define the toolbar groups as it is a more accessible solution.
                toolbarGroups: [
                    { "name": "document", "groups": ["mode", "document", "doctools"] },
                    { "name": "editing", "groups": ["find", "selection", "spellchecker"] },
                    { "name": "forms" },
                    { "name": "tools" },
                    { "name": "basicstyles", "groups": ["basicstyles", "cleanup"] },
                    { "name": "clipboard", "groups": ["clipboar", "undo"] },
                    { "name": "links", "groups": ["links"] },
                    { "name": "paragraph", "groups": ["list", "blocks"] },
                    { "name": "insert", "groups": ["insert"] },
                    { "name": "styles", "groups": ["styles"] },
                    //{ "name": "about", "groups": ["about"] },
                    { "name": "styles" },
                    { "name": "colors" },
                    { "name": "align", "groups": ['JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock'] }

                ],
                // Remove the redundant buttons from toolbar groups defined above.
                removeButtons: 'Underline,Strike,Subscript,Superscript,Anchor,Styles,Specialchar'
            });
        }

        var $tr_template = $('#detailList tr:first-child');
        //truyền từ action create của controller qua khi thực hiện submit và return về lại view create, để nhận biết là được gọi theo dạng popup
        var closePopup = '@ViewBag.closePopup';
        $(document).ready(function () {
            //nếu là được gọi theo dạng popup từ form khác thì chạy đoạn code bên dưới
            if (closePopup != '') {
                var option = '<option value="@Model.Id" >@Model.Name</option>';
                //tên funtion có thể khác theo từng công việc riêng (đây chỉ là mẫu khi thêm mới sẽ gọi lại)
                window.parent.ClosePopupAndAppendSelect(option);
            }

            $('.btn-add-detail-item').click(function () {

                var len = $('#detailList tr').length;
                var tr_new = $tr_template.clone()[0].outerHTML;
                tr_new = tr_new.replace(/\[0\]/g, "[" + len + "]");
                tr_new = tr_new.replace(/\_0\__/g, "_" + len + "__");
                var $tr_new = $(tr_new);
                $tr_new.attr('role', len);
                $tr_new.find('td:first-child').text(len);
                $tr_new.find('.detail_material_id').val(0);
                $tr_new.find('.detail_id').val(0);
                $tr_new.find('.detail_material_name').text('');
                //$tr_new.find('.detail_quantity').text('');
                $('#detailList').append($tr_new);
                var $tr_after_append = $('tr[role="' + len + '"]');
                $tr_after_append.removeAttr("hidden", "hidden");

                $("#ProductDetailList_"+len+"__MaterialName").combojax({
                    url: "/Material/GetListMaterial",
                    onNotFound: function (p) {  //khi tìm ko thấy dữ liệu thì sẽ hiển thị khung thêm mới dữ liệu
                        //OpenPopup('/Customer/Create?IsPopup=true&Phone=' + p, 'Thêm mới', 500, 250);
                    },
                    onSelected: function (obj) {
                        console.log(obj);
                        if (obj) {
                            $("#ProductDetailList_"+len+"__MaterialId").val(obj.Id);
                        }
                    }       //chỗ xử lý khi chọn 1 dòng dữ liệu ngoài việc lưu vào textbox tìm kiếm
               ,onShowImage: false                  //hiển thị hình ảnh
               ,onSearchSaveSelectedItem: true    //lưu dòng dữ liệu đã chọn vào ô textbox tìm kiếm, mặc định lưu giá trị value trong hàm get data
               ,onRemoveSelected: false  //những dòng đã chọn rồi thì sẽ ko hiển thị ở lần chọn tiếp theo
                });

            });
            // xóa sản phẩm
            $('#detailList').on('click', '.detail_remove', function () {
                $(this).closest('tr').remove();
                $('#detailList tr').each(function (index, tr) {
                    $(tr).attr('role', index);
                    $(tr).find('td:first-child').text(index);
                    $(tr).find('.detail_material_id').attr('name', 'ProductDetailList[' + index + '].MaterialId').attr('id', 'ProductDetailList_' + index + '__MaterialId');
                    $(tr).find('.detail_id').attr('name', 'ProductDetailList[' + index + '].Id').attr('id', 'ProductDetailList_' + index + '__Id');
                    $(tr).find('.detail_material_name').attr('name', 'ProductDetailList[' + index + '].MaterialName').attr('id', 'ProductDetailList_' + index + '__MaterialName');
                    $(tr).find('.detail_quantity').attr('name', 'ProductDetailList[' + index + '].Quantity').attr('id', 'ProductDetailList_' + index + '__Quantity');
                });
            });

            $('#detailList').on('change', '.detail_quantity', function () {
                $(this).val($(this).val().replace(/\-/g, ''));
                $(this).val($(this).val().replace(/[^0-9.,]/g, ''));
                var ralVal = numeral($(this).val());
                if (ralVal <= 0) {
                    $(this).val(1);
                }
                var $this = $(this);
            });
        });
        //upload file image
        $(document).ready(function () {
            $('[type="file"]').change(function () {
                var fileInput = $(this);
                if (fileInput.length && fileInput[0].files && fileInput[0].files.length) {
                    var url = window.URL || window.webkitURL;
                    var image = new Image();
                    image.onerror = function () {
                        alert("File tải lên bắt buộc phải là hình ảnh (.png, .jpg, .jpeg,...)");
                        $("#imgAvt").attr("src", "/assets/css/images/noimage.gif");
                    };
                    image.src = url.createObjectURL(fileInput[0].files[0]);
                }
            });
        });
    </script>
    @Html.ScriptBottom_ValidationMvc()
    @Html.ScriptBottom_ChosenStyle()
}
