@model IEnumerable<ProductViewModel>

@using Erp.BackOffice.App_GlobalResources
@using Erp.BackOffice.Sale.Models
@using Erp.BackOffice.Helpers
@using GridMvc.Html

@{
    ViewBag.Title ="Danh sách túi liệu trình";
    Layout = "~/Views/Shared/ACE_AdminLayout.cshtml";
    Erp.BackOffice.Models.PageSetting pageSetting = new Erp.BackOffice.Models.PageSetting
    {
        ModuleName = "ProductPackage",
        ActionName = "Index",
        PageTitle = ViewBag.Title,
        DisplaySearchPanel = true,
        IsPopup = false,
        DisplayBackButton = false,
        AdvancedSearch = false,
        SearchOjectAttr = ViewBag.ListOjectAttrSearch
    };
}

@helper GridColumnCommand(int id)
{
    if (Erp.BackOffice.Filters.SecurityFilter.AccessRight("Delete", "ProductPackage", "Sale"))
    {
        <div class="hidden-phone visible-desktop action-buttons" style="display: inline-block; float: left;">
            <button name="Delete" value="@id" type="submit" class="btn btn-minier btn-danger">
                <i class="ace-icon fa fa-trash"></i>
            </button>
        </div>
    }
}

@helper GridColumnName(string productCode, string name, int id, string categoryCode, string unit, string size)
{
    name = string.IsNullOrEmpty(name) ? "No Title" : name;
    <a href="@Url.Action("Edit", "ProductPackage", new { Id = id })"><b>@name</b>   </a><br />
    if (!string.IsNullOrEmpty(unit))
    {
        <span>@unit</span>
    }
    if (!string.IsNullOrEmpty(size))
    {
        <span> | @size</span>
    }
}

@helper GridColumnCategoryCode(string productCode, string categoryCode)
{
    if (!string.IsNullOrEmpty(productCode))
    {
        <b style="font-size:10px">@productCode.Substring(0, 2) - @categoryCode</b>
    }
    else
    {
        <b style="font-size:10px">@categoryCode</b>
    }
}

@helper GridColumnCategoryValue(object value)
{
    var attr = Erp.BackOffice.Helpers.Common.GetCategoryByValueOrId("value", value);
    <span>@(attr != null ? attr.Name : "")</span>
}

@helper CheckDeleteColumns(int Id)
{
    <label>
        <input class="ace class-delete-all" type="checkbox" name="DeleteId-checkbox" value="@Id">
        <span class="lbl"></span>
    </label>
}

@helper BuildCheckAll()
{
    <label>
        <input class="ace" type="checkbox" name="checkAll" id="checkAll" />
        <span class="lbl" title="" ></span>
    </label>
}

@using (Html.BeginPageHeaderContainer(pageSetting))
{
    <p>
        @Html.TextBox("txtCode", Request["txtCode"], new { @class = "", autocomplete = "off", placeholder = "Mã hoặc Tên túi liệu trình..." })
        @Html.DropDownList("CategoryCode", SelectListHelper.GetSelectList_Category("product", Request["CategoryCode"], "Value", null), "Danh mục...", new Dictionary<string, object> { { "class", "" }, { "data-val-required", "Bắt buộc chọn." } })
        @Html.DropDownList("ProductGroup", SelectListHelper.GetSelectList_Category("ProductGroup", Request["ProductGroup"], "Value", null), "Nhóm...", new Dictionary<string, object> { { "class", "" }, { "data-val-required", "Bắt buộc chọn." } })

    </p>
}

@if (ViewBag.errors != null && ViewBag.errors != "")
{
    <div class="alert alert-block alert-success">
        <button class="close" data-dismiss="alert" type="button">
            <i class="ace-icon fa fa-times"></i>
        </button>
        <i class="ace-icon fa fa-check green"></i>
        @ViewBag.errors
    </div>
}

@if (ViewBag.FailedMessage != null && ViewBag.FailedMessage != "")
{
    <div class="alert alert-block alert-danger">
        <button class="close" data-dismiss="alert" type="button">
            <i class="ace-icon fa fa-times"></i>
        </button>
        <i class="ace-icon fa fa-warning red"></i>
        @ViewBag.FailedMessage
    </div>
}

<p>Tổng số: <b>@Erp.BackOffice.Helpers.Common.PhanCachHangNgan2(Model.Count())</b></p>

@using (Html.BeginForm("Delete", "ProductPackage", FormMethod.Post))
{
    <div class="table-responsive">
        @Html.Grid(Model).Columns(columns =>
        {
            columns.Add().Titled(BuildCheckAll().ToHtmlString()).SetWidth(40).Sanitized(false).Encoded(false).RenderValueAs(n => CheckDeleteColumns(n.Id));
            columns.Add(u => u.Code).Titled("Mã túi liệu trình").SetWidth(100);
            columns.Add().Titled("Tên túi liệu trình").Sortable(false).Sanitized(false).Encoded(false).RenderValueAs(u => GridColumnName(u.Code, u.Name, u.Id, u.CategoryCode, u.Unit, u.Size));
            //columns.Add().Titled("Chiết khấu").Sortable(false).Sanitized(false).Encoded(false).RenderValueAs(u => u.DiscountStaff+" "+(u.IsMoneyDiscount==true?"VNĐ":"%"));
            //columns.Add(u => u.Unit).Titled(Wording.Unit).SetWidth(80);
            //columns.Add(u => u.Size).Titled("Dung tích").SetWidth(80);
            //columns.Add().Titled(Wording.PriceInbound).SetWidth(100).RenderValueAs(u => Erp.BackOffice.Helpers.Common.PhanCachHangNgan2(u.PriceInbound)).Css("text-right");
            columns.Add().Titled(Wording.PriceOutbound).Sortable(false).Sanitized(false).Encoded(false).SetWidth(100).RenderValueAs(u => u.PriceOutbound.ToCurrencyStr(null)).Css("text-right");
            columns.Add(u => u.CategoryCode).Titled("Danh mục").SetWidth(150).Sanitized(false).Encoded(false).RenderValueAs(n => n.CategoryCode);
            columns.Add(u => u.Origin).Titled(Wording.Origin).SetWidth(150).Sanitized(false).Encoded(false).RenderValueAs(n => n.Origin);
            columns.Add(u => u.ProductGroup).Titled("Nhóm").SetWidth(100).Sanitized(false).Encoded(false).RenderValueAs(n => n.ProductGroup);
            columns.Add(u => u.CreatedDate).Titled(Wording.CreatedDate).SetWidth(130).Format("{0:dd/MM/yyyy HH:mm}");
            columns.Add(u => u.ModifiedDate).Titled(Wording.ModifiedDate).SetWidth(130).Sortable(true).Format("{0:dd/MM/yyyy HH:mm}");
            columns.Add(u => u.Id).Titled(Wording.Action).Sanitized(false).Encoded(false).RenderValueAs(u => GridColumnCommand(u.Id)).SetWidth(85);
        }).WithPaging(10)
    </div>
    using (Html.BeginButtonContainer(pageSetting))
    {
        if (Erp.BackOffice.Filters.SecurityFilter.AccessRight("Create", "ProductPackage", "Sale"))
        {
            <a class="btn btn-mini btn-primary" href="@Url.Action("Create", pageSetting.ModuleName)">
                <i class="ace-icon fa fa-plus"></i>
                @Wording.CreateNew
            </a>
        }
        
        <button class="btn btn-white btn-success btn-sm" type="button" value="Export" onclick="GetPrint(true)">
            <i class="ace-icon fa fa-file-excel-o"></i>
            Xuất excel
        </button>
        
        if (Erp.BackOffice.Filters.SecurityFilter.AccessRight("Delete", "ProductPackage", "Sale"))
        {
            <button class="btn btn-white btn-sm btn-danger" type="submit" name="DeleteAll" value="DeleteAll" onclick="return CheckIsval();">
                <i class="ace-icon fa fa-trash"></i>
                @Wording.Delete
            </button>
        }
    }
}

@section Scripts {

    <script type="text/javascript">
        function CheckIsval() {
            if ($('[name="DeleteId-checkbox"]').is(':checked') == false) {
                alert("Phải chọn ít nhất 1 item.");
                return false;
            }
            else {
                if (confirm('Bạn có chắc muốn xóa các item đã chọn ?')) {
                    return true;
                }
                else {
                    return false;
                }
            }
        }

        function GetPrint(type) {
            var txtCode = $('#txtCode').val();
            var CategoryCode = $('#CategoryCode').val();
            var ProductGroup = $('#ProductGroup').val();

            OpenPopup('/ProductPackage/ExportExcel?txtCode=' + txtCode + '&CategoryCode=' + CategoryCode + '&ProductGroup=' + ProductGroup + '&ExportExcel=' + type + '&IsPopup=true', '', 0, 900);

            setTimeout(function () {
                $("#myModal .modal-body .iframe-container").html("");
                $('#myModal').modal('hide');
            }, 200000);
            HideLoading();
        };

        $('[name="Delete"]').click(function () {
            if (confirm('Bạn có chắc muốn xóa item ?')) {
                $(this).closest('tr').children('td').each(function (i, e) {
                    //$(this).find("input.class-delete-all").prop("checked", true);
                    return true;
                })
            }
            else {
                return false;
            }

        })

        $('.grid-header').mouseover(function () {
            $('.grid-header')[0].title = "Chọn tất cả";
        });

        $('.class-delete-all').on('click', function () {
            if ($('.class-delete-all:checked').length == $('.class-delete-all').length) {
                $('#checkAll').prop('checked', true);
            } else {
                $('#checkAll').prop('checked', false);
            }
        });
    </script>
}