@using Erp.BackOffice.App_GlobalResources
@using Erp.BackOffice.Helpers
@using Erp.BackOffice.Staff.Models

@model RegisterForOvertimeViewModel

@{
    ViewBag.Title = Wording.PageCreate_RegisterForOvertime;

    Layout = "~/Views/Shared/" + (Request["IsPopup"] == null ? "ACE_AdminLayout.cshtml" : "_PopupLayout.cshtml");
    Erp.BackOffice.Models.PageSetting pageSetting = new Erp.BackOffice.Models.PageSetting
    {
        ModuleName = "RegisterForOvertime",
        ActionName = "Create",
        PageTitle = ViewBag.Title,
        DisplaySearchPanel = false,
        IsPopup = false,
        DisplayBackButton = false
    };
}

@section HeadOfPage {
    @Html.ScriptTop_ChosenStyle()
    <link rel="stylesheet" href="/assets/css/bootstrap-timepicker.min.css" />
}

<style type="text/css">

</style>
@using (Html.BeginPageHeaderContainer(pageSetting))
{

}
@*<link rel="stylesheet" href="/assets/css/bootstrap-timepicker.min.css" />*@
@using (Html.BeginForm_AceStyle((string)ViewBag.Title, "Create", "RegisterForOvertime", null, FormMethod.Post, new { @class = "form-horizontal", showButton = true }))
{
    @Html.ValidationSummary(true)

    <input type="hidden" value="@Request["IsPopup"]" name="IsPopup" />
    @Html.ModulePopupFor(m => m.StaffId, "Staffs", Model.Name, false, false, false, null, null, "Search")
    @Html.DatePicker(model => model.DayOvertime, "dd/MM/yyyy", "99/99/9999", true, true, "control-label col-lg-5 col-md-4 col-sm-4", "col-lg-7 col-md-8 col-sm-8", "col-sm-12")
    @Html.CustomTextboxFor(model => model.str_StartHour,"HH:mm", null, WidthType.span12, true)
    @Html.CustomTextboxFor(model => model.str_EndHour,"HH:mm", null, WidthType.span12, true)
    @Html.CustomTextAreaFor(model => model.Note, null, WidthType.span12)
    using (Html.BeginButtonContainer(pageSetting))
    {
        <button class="btn btn-mini btn-primary" type="submit" name="Submit" value="Save">
            <i class="ace-icon fa fa-save"></i>
            @Wording.Save
        </button>
    }
}

@section Scripts {
    <script src="/assets/js/bootstrap-timepicker.min.js"></script>
    <script>
                //truyền từ action create của controller qua khi thực hiện submit và return về lại view create, để nhận biết là được gọi theo dạng popup
                var closePopup = '@ViewBag.closePopup';
        $(document).ready(function () {
            //nếu là được gọi theo dạng popup từ form khác thì chạy đoạn code bên dưới
            if (closePopup != '') {
                var option = '<option value="@Model.Id" >@Model.Name</option>';
                //tên funtion có thể khác theo từng công việc riêng (đây chỉ là mẫu khi thêm mới sẽ gọi lại)
                window.parent.ClosePopupAndAppendSelect(option);
            }
            $('#str_EndHour').timepicker({
                minuteStep: 1,
                template: 'modal',
                appendWidgetTo: 'body',
                showSeconds: false,
                showMeridian: false,
                defaultTime: false
            });
            $('#str_StartHour').timepicker({
                minuteStep: 1,
                template: 'modal',
                appendWidgetTo: 'body',
                showSeconds: false,
                showMeridian: false,
                defaultTime: false
            });
        });
    </script>
    @Html.ScriptBottom_ValidationMvc()
    @Html.ScriptBottom_DatePicker("dd/mm/yyyy")
    @Html.ScriptBottom_ChosenStyle()

}
