@using Erp.BackOffice.App_GlobalResources
@using Erp.BackOffice.Helpers
@using Erp.BackOffice.Staff.Models

@model SalaryAdvanceViewModel

@{
    ViewBag.Title = Wording.PageEdit_SalaryAdvance;

    Layout = "~/Views/Shared/" + (Request["IsPopup"] == null ? "ACE_AdminLayout.cshtml" : "_PopupLayout.cshtml");
    Erp.BackOffice.Models.PageSetting pageSetting = new Erp.BackOffice.Models.PageSetting
    {
        ModuleName = "SalaryAdvance",
        ActionName = "Edit",
        PageTitle = ViewBag.Title,
        DisplaySearchPanel = false,
        IsPopup = false,
        DisplayBackButton = true
    };
}

@section HeadOfPage {
    @Html.ScriptTop_ChosenStyle()
}
@using (Html.BeginPageHeaderContainer(pageSetting))
{

}
@using (Html.BeginForm_AceStyle((string)ViewBag.Title, "Edit", "SalaryAdvance", null, FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.CreatedUserId)
    @Html.HiddenFor(model => model.AssignedUserId)
    @*@Html.HiddenFor(model => model.CreatedDate)*@
    @Html.HiddenFor(model => model.IsDeleted)
    @Html.HiddenFor(model => model.StaffId)
    <input type="hidden" value="@Request["IsPopup"]" name="IsPopup" />
    <input type="hidden" name="UrlReferrer" value="@Request.UrlReferrer" />
    <div class="col-sm-3">
        <span class="profile-picture" style="height:200px; width:173px"><img style="height:190px; width:163px" src="@(Erp.BackOffice.Helpers.Common.KiemTraTonTaiHinhAnh(Model.ProfileImage,"Staffs","user"))" alt="@Model.Name" /></span>
    </div>
    <div class="col-sm-9">
        @Html.DatePicker(model => model.CreatedDate, "dd/MM/yyyy", "99/99/9999", true, false, "control-label col-lg-5 col-md-4 col-sm-4", "col-lg-7 col-md-8 col-sm-8", "col-xs-12")
        @Html.DatePicker(model => model.DayAdvance, "dd/MM/yyyy", "99/99/9999", true, false, "control-label col-lg-5 col-md-4 col-sm-4", "col-lg-7 col-md-8 col-sm-8", "col-xs-12")
        @Html.CustomTextboxFor(model => model.CodeAdvance, null, null, WidthType.span12, true, new Dictionary<string, object> { { "readonly", "readonly" } })
        @*@Html.CustomTextboxFor(model => model.Status, null, null, WidthType.span12, true, new Dictionary<string, object> { { "readonly", "readonly" } })*@
        @Html.CustomTextboxFor(model => model.Name, null, null, WidthType.span12, true, new Dictionary<string, object> { { "readonly", "readonly" } })
        @*@Html.CustomTextboxFor(model => model.CodeStaff, null, null, WidthType.span12, true, new Dictionary<string, object> { { "readonly", "readonly" } })*@
        @Html.CustomTextboxFor(model => model.Pay, null, null, WidthType.span12, true, new Dictionary<string, object> { { "class", "text-right" } })
        @Html.CustomTextAreaFor(model => model.Note, null, WidthType.span12)
    </div>
    using (Html.BeginButtonContainer(pageSetting))
    {
        <button class="btn btn-mini btn-primary" type="submit" name="Submit" value="Save">
            <i class="ace-icon fa fa-save"></i>
            @Wording.SaveAndSend
        </button>
    }
}

@section Scripts {
    <script>
        $(document).ready(function () {

            $('#Pay').numberFormat();
        });
        var urlRefer = '@ViewBag.urlRefer';
        //truyền từ action create của controller qua khi thực hiện submit và return về lại view create, để nhận biết là được gọi theo dạng popup
        var closePopup = '@ViewBag.closePopup';
        $(document).ready(function () {
            //nếu là được gọi theo dạng popup từ form khác thì chạy đoạn code bên dưới
            if (closePopup != '') {
                var option = '<option value="@Model.Id" >@Model.CodeStaff</option>';
                //tên funtion có thể khác theo từng công việc riêng (đây chỉ là mẫu khi thêm mới sẽ gọi lại)
                window.parent.ClosePopupAndDoSomething(option);
            }

            //nếu có url thì gọi hàm này để trang ngoài iframe nhảy trang
            if (urlRefer != '') {
                window.parent.ClosePopupAndRedirectToURL(urlRefer);
            }
        });
    </script>
    @Html.ScriptBottom_ValidationMvc()
    @Html.ScriptBottom_ChosenStyle()
    @Html.ScriptBottom_DatePicker("dd/MM/yyyy")
}
