@model Erp.BackOffice.Crm.Models.CRM_BH_DOANHSOViewModel
@using Erp.BackOffice.Account.Models
@using Erp.BackOffice.Crm.Models
@using Erp.BackOffice.Areas.Cms.Models
@using Erp.BackOffice.App_GlobalResources
@using Erp.BackOffice.Sale.Models
@using Erp.BackOffice.Helpers
@using GridMvc.Html
@{
    int index = 1;
    IEnumerable<CRM_BH_DOANHSO_CTViewModel> vwCRM_BH_DOANHSO_CT = (IEnumerable<CRM_BH_DOANHSO_CTViewModel>)ViewBag.vwCRM_BH_DOANHSO_CT;
    IEnumerable<KH_TUONGTACViewModel> LICHSUTUONGTAC = (IEnumerable<KH_TUONGTACViewModel>)ViewBag.LICHSUTUONGTAC;
    string Month = Request["month"] != null ? Request["month"] : new DateTime(DateTime.Now.Year, DateTime.Now.Month, DateTime.Now.Day).ToString("MM/yyyy");
    string Year = Request["year"] != null ? Request["year"] : new DateTime(DateTime.Now.Year, DateTime.Now.Month, DateTime.Now.Day).ToString("MM/yyyy");
    decimal? sum = 0;
}

@helper GridColumnCommand(int? KH_BANHANG_DOANHSO_ID)
{
    <p>
        <button id="Delete" name="Delete" value="Delete" type="submit" class="btn btn-mini btn-danger">
            <i class="ace-icon fa fa-trash bigger-120"></i>
        </button>
    </p>

}
@helper CheckDeleteColumns(int? KH_BANHANG_DOANHSO_ID)
{
    <label>
        <input class="ace class-delete-all" type="checkbox" name="DeleteId-checkbox" value="@KH_BANHANG_DOANHSO_ID">
        <span class="lbl"></span>
    </label>
}
<div class="tab-content clear-fix">
    @Html.HiddenFor(model => model.ID_ANNAYAKE)
    <p>
        <label>Tháng/năm</label>
        @Html.TextBox("month", Request["month"] != null ? Request["month"] : new DateTime(DateTime.Now.Year, DateTime.Now.Month, DateTime.Now.Day).ToString("MM/yyyy"), new { autocomplete = "off", style = "width:110px", disabled = "true" })
        &nbsp;
        <label>Người lập</label>
        @Html.TextBox("NGUOILAP_ID", Request["NGUOILAP_ID"], new { @class = "hidden", autocomplete = "off", placeholder = "Người lập", style = "width:120px" })

        @Html.TextBox("FullName", Request["FullName"], new { @class = "", disabled = "disabled", autocomplete = "off", placeholder = "Người lập", style = "width:120px" })
        &nbsp;
        <label>Nhãn hàng</label>
        <input type="text" name="CountForBrand" value="ANNAYAKE" style="width:200px" readonly="readonly" />
    </p>
    <p>
        <label>Taget(VNĐ)</label>
        @*<input type="text" name="TGANNAYAKE" id="TGANNAYAKE" value="@CommonSatic.ToCurrencyStr(ViewBag.ANNAYAKE,null)" style="width:120px" />*@
        @Html.TextBox("TARGET_BRAND", Request["TARGET_BRAND"], new { @class = "TARGET_BRAND numberinput2", autocomplete = "off", placeholder = "TARGET", style = "width:120px" })
        &nbsp;
        <label>Kế hoạch đã lập</label>
        <input type="text" name="TotalAmount" id="TotalAmount" style="width:200px" readonly="readonly" />
        &nbsp;
        <label>Đạt (%)</label>
        <input type="text" name="DATKH" id="DATKH" style="width:200px" readonly="readonly" />
    </p>
    <p>
        <label>Ghi chú</label>
        <input type="text" name="GHICHU_ANNAYAKE" class="GHICHU_ANNAYAKE" value="@ViewBag.GHICHU_ANNAYAKE" style="width:400px" />
        @if (@ViewBag.ID_ANNAYAKE == null)
        {
            <a class="btn btn-mini" onclick="OpenPopup('@Url.Action("Create","BH_DOANHSO", new {CountForBrand="ANNAYAKE", id = Model.NGUOILAP_ID })','',0,0)">
                Lập kế hoạch mới
            </a>
        }
        else
        {
            <a class="btn btn-mini" onclick="OpenPopup('@Url.Action("CreateKH", "BH_DOANHSO",new { KH_BANHANG_DOANHSO_ID=@ViewBag.ID_ANNAYAKE, item_origin = "ANNAYAKE"})','',0,0)">
                Thêm mới Đơn hàng
            </a>
        }
        <a id="btnKETHUA11" class="btn btn-mini btn-primary">
            Kế thừa tháng trước
        </a>
    </p>
    <div id="listOrderDetail" class="table-responsive top-10 ">
        <table id="CTable" class="table table-bordered">
            <thead>
                <tr>
                    <th rowspan="2" style="width:40px;text-align:center">STT</th>
                    <th rowspan="2" style="text-align:center">Tên KH</th>
                    <th rowspan="2" style="text-align:center">Mã KH</th>
                    <th rowspan="2" style="text-align:center">Điện thoại</th>
                    <th colspan="4" style="text-align:center">Đơn hàng </th>
                    <th rowspan="2" style="width: 150px; text-align: center">Tỷ lệ thành công(%)</th>
                    <th rowspan="2" style="text-align:center">Ghi chú</th>
                    <th rowspan="2" style="text-align:center">Có đơn hàng</th>
                    <th rowspan="2" style="width: 150px; text-align: center">Đánh giá lại(%)</th>
                    <th rowspan="2" style="text-align:center">Lịch sử tương tác</th>
                    <th rowspan="2" style="text-align:center"></th>
                </tr>

                <tr>
                    <th style="text-align:center">Đơn hàng</th>
                    <th style="text-align:center">Số tiền</th>
                    <th style="text-align:center">Đã trả</th>
                    <th style="text-align:center">Còn lại</th>
                </tr>
            </thead>
            <tbody class="productInvoiceList">
                @if (Model.CRM_BH_DOANHSO_CTList.Count > 0)
                {
                    int w = 0;
                    for (int i = 0; i < Model.CRM_BH_DOANHSO_CTList.Count(); i++)
                    {

                        if (Model.CRM_BH_DOANHSO_CTList[i].KH_BANHANG_DOANHSO_ID == @ViewBag.ID_ANNAYAKE)
                        {
                            <tr role="@(i+1)" id="@(i+1)">
                                <td class="text-center">
                                    @(w += 1)
                                </td>
                                <td>
                                    <input class="KH_BANHANG_DOANHSO_CTIET_ID" type="hidden" id="CRM_BH_DOANHSO_CTList_@(i)__KH_BANHANG_DOANHSO_CTIET_ID" name="CRM_BH_DOANHSO_CTList[@(i)].KH_BANHANG_DOANHSO_CTIET_ID" value="@Model.CRM_BH_DOANHSO_CTList[i].KH_BANHANG_DOANHSO_CTIET_ID" />
                                    <input class="KHACHHANG_ID" type="hidden" id="CRM_BH_DOANHSO_CTList_@(i)__KHACHHANG_ID" name="CRM_BH_DOANHSO_CTList[@(i)].KHACHHANG_ID" value="@Model.CRM_BH_DOANHSO_CTList[i].KHACHHANG_ID" />
                                    <span>@Model.CRM_BH_DOANHSO_CTList[i].CustomerName</span>
                                </td>
                                <td>
                                    <input class="CustomerCode" type="hidden" id="CRM_BH_DOANHSO_CTList_@(i)__CustomerCode" name="CRM_BH_DOANHSO_CTList[@(i)].CustomerCode" value="@Model.CRM_BH_DOANHSO_CTList[i].CustomerCode" readonly="readonly" />
                                    <span class="code" id="CRM_BH_DOANHSO_CTList_@(i)__CustomerCode" name="CRM_BH_DOANHSO_CTList[@(i)].CustomerCode" value="@Model.CRM_BH_DOANHSO_CTList[i].CustomerCode">@Model.CRM_BH_DOANHSO_CTList[i].CustomerCode</span>
                                </td>
                                <td>
                                    <input class="phone" type="hidden" id="CRM_BH_DOANHSO_CTList_@(i)__Phone" name="CRM_BH_DOANHSO_CTList[@(i)].Phone" value="@Model.CRM_BH_DOANHSO_CTList[i].Phone" readonly="readonly" />
                                    <span>@Model.CRM_BH_DOANHSO_CTList[i].Phone</span>
                                </td>
                                <td>
                                    <input class="MA_DONHANG" type="hidden" id="CRM_BH_DOANHSO_CTList_@(i)__MA_DONHANG" name="CRM_BH_DOANHSO_CTList[@(i)].MA_DONHANG" value="@Model.CRM_BH_DOANHSO_CTList[i].MA_DONHANG" readonly="readonly" />
                                    <span style="text-decoration: underline;"><a onclick="OpenPopup('@Url.Action("#", "#", new {area = "Sale",Id = @Model.CRM_BH_DOANHSO_CTList[i].KHACHHANG_ID, IsPopup = "true" })', 'Trang chi tiết doanh số', 0, 500)">@Model.CRM_BH_DOANHSO_CTList[i].MA_DONHANG</a><br></span>
                                    <input class="NGAY_MUA" type="hidden" id="CRM_BH_DOANHSO_CTList_@(i)__NGAY_MUA" name="CRM_BH_DOANHSO_CTList[@(i)].NGAY_MUA" value="@Model.CRM_BH_DOANHSO_CTList[i].NGAY_MUA" readonly="readonly" />
                                    <span style="color: #ff0000; text-decoration: underline;">(@Model.CRM_BH_DOANHSO_CTList[i].NGAY_MUA)</span>
                                </td>

                                <td>
                                    <input class="TONG_TIEN" type="hidden" id="CRM_BH_DOANHSO_CTList_@(i)__TONG_TIEN" name="CRM_BH_DOANHSO_CTList[@(i)].TONG_TIEN" value="@Model.CRM_BH_DOANHSO_CTList[i].TONG_TIEN" readonly="readonly" />
                                    <span>@CommonSatic.ToCurrencyStr(Model.CRM_BH_DOANHSO_CTList[i].TONG_TIEN,null)</span>
                                </td>
                                <td>
                                    <input class="DA_TRA" type="hidden" id="CRM_BH_DOANHSO_CTList_@(i)__DA_TRA" name="CRM_BH_DOANHSO_CTList[@(i)].DA_TRA" value="@Model.CRM_BH_DOANHSO_CTList[i].DA_TRA" readonly="readonly" />
                                    <span>@CommonSatic.ToCurrencyStr(Model.CRM_BH_DOANHSO_CTList[i].DA_TRA,null)</span>
                                </td>
                                <td>
                                    <input class="CON_NO" type="hidden" id="CRM_BH_DOANHSO_CTList_@(i)__CON_NO" name="CRM_BH_DOANHSO_CTList[@(i)].CON_NO" value="@Model.CRM_BH_DOANHSO_CTList[i].CON_NO" readonly="readonly" />
                                    <span style="color:#ff0000">@CommonSatic.ToCurrencyStr(Model.CRM_BH_DOANHSO_CTList[i].CON_NO,null)</span>
                                </td>

                                <td>
                                    <input style="width:50px" class="nr" type="text" id="CRM_BH_DOANHSO_CTList_@(i)__TYLE_THANHCONG" name="CRM_BH_DOANHSO_CTList[@(i)].TYLE_THANHCONG" value="@(Model.CRM_BH_DOANHSO_CTList[i].TYLE_THANHCONG ==null ? 0 : Model.CRM_BH_DOANHSO_CTList[i].TYLE_THANHCONG)" readonly="readonly" />
                                    <input style="width:30px" class="btn-mini btn-CONG" type="button" value="+" />
                                    <input style="width:30px" class="btn-mini btn-TRU" type="button" value="-" />
                                </td>
                                <td></td>
                                <td>
                                    <input type="hidden" id="CRM_BH_DOANHSO_CTList_@(i)__MA_DONHANG" name="CRM_BH_DOANHSO_CTList[@(i)].MA_DONHANG" value="@Model.CRM_BH_DOANHSO_CTList[i].MA_DONHANG" readonly="readonly" />
                                    <span style="text-decoration: underline;"><a onclick="OpenPopup('@Url.Action("Detail", "ProductInvoice",new { area="Sale",id= @Model.CRM_BH_DOANHSO_CTList[i].ProductInvoiceId, IsPopup=true})','',0,0)">@Model.CRM_BH_DOANHSO_CTList[i].MA_DONHANG</a><br></span>
                                    @*onclick="OpenPopup('@Url.Action("#", "#", new {area = "Sale",Id = @Model.CRM_BH_DOANHSO_CTList[i].KHACHHANG_ID, IsPopup = "true" })', 'Trang chi tiết doanh số', 0, 500)"*@
                                </td>
                                <td>
                                    <input style="width:50px" class="nr-REVIEW" type="text" id="CRM_BH_DOANHSO_CTList_@(i)__TYLE_THANHCONG_REVIEW" name="CRM_BH_DOANHSO_CTList[@(i)].TYLE_THANHCONG_REVIEW" value="@(Model.CRM_BH_DOANHSO_CTList[i].TYLE_THANHCONG_REVIEW ==null ? 0 : Model.CRM_BH_DOANHSO_CTList[i].TYLE_THANHCONG_REVIEW)" readonly="readonly" />
                                    <input style="width:30px" class="btn-mini btn-CONG-REVIEW" type="button" value="+" />
                                    <input style="width:30px" class="btn-mini btn-TRU-REVIEW" type="button" value="-" />
                                </td>
                                <td>
                                    @if (LICHSUTUONGTAC.Where(x => x.KHACHHANG_ID == Model.CRM_BH_DOANHSO_CTList[i].KHACHHANG_ID).Count() > 0)
                                    {
                                        <a onclick="OpenPopup('@Url.Action("LichSuTuongTac", "Plan", new { area = "Sale", NGUOILAP_ID = Model.NGUOILAP_ID, KHACHHANG_ID = Model.CRM_BH_DOANHSO_CTList[i].KHACHHANG_ID, IsPopup = true })', '', 0, 0)">Xem</a>
                                    }
                                </td>
                                <td>
                                    <a onclick="DeleteData(@Model.CRM_BH_DOANHSO_CTList[i].KH_BANHANG_DOANHSO_CTIET_ID)" class="Delete" style="float:right">
                                        <i class="ace-icon fa fa-trash red bigger-120" style="cursor:pointer"></i>
                                    </a>
                                </td>
                            </tr>
                        }

                    }

                }
            </tbody>
            <thead>
                <tr hidden>
                    <td colspan="10"></td>
                    @if (vwCRM_BH_DOANHSO_CT.Where(x => x.CountForBrand == "ANNAYAKE") != null)
                    {
                        <td id="ConNo">
                            @CommonSatic.ToCurrencyStr(vwCRM_BH_DOANHSO_CT.Where(x => x.CountForBrand == "ANNAYAKE").Sum(x => x.CON_NO), null)
                            @*@CommonSatic.ToCurrencyStr(vwCRM_BH_DOANHSO_CT.Where(x => x.CountForBrand == "ANNAYAKE").Sum(x => x.TONG_TIEN), null)*@
                        </td>
                    }
                    <td></td>
                    <td></td>
                </tr>
            </thead>
        </table>
    </div>
    @for (int i = 0; i <= 100; i += 10)
    {
        decimal? sum1 = 0;
        <label style="color:blue;padding-left:20px">
            @foreach (var item in Model.CRM_BH_DOANHSO_CTList.Where(x => x.CountForBrand == "ANNAYAKE" && x.NGUOILAP_ID == Model.NGUOILAP_ID))
            {
                if (item.TYLE_THANHCONG == i)
                {
                    if (item.CON_NO == null)
                    {
                        item.CON_NO = 0;
                    }
                    sum1 += item.CON_NO;
                }
                sum = sum1;
            }
            @i%:( @(sum == null ? Convert.ToString(0) : CommonSatic.ToCurrencyStr(sum, null)) )
        </label>
    }

</div>
<script>
    $('#btnKETHUA11').click(function () {
        if (confirm('Bạn có muốn kế thừa tháng trước không?')) {
            PostData11();
        }
        else {
            return false;
        }
    });
    function DeleteData(KH_BANHANG_DOANHSO_CTIET_ID) {
        if (confirm('Bạn có muốn xóa item đã chọn ?')) {

            $.ajax({
            type: "POST",
            url: '@Url.Action("Delete", "BH_DOANHSO")',
                data: JSON.stringify({ KH_BANHANG_DOANHSO_CTIET_ID: KH_BANHANG_DOANHSO_CTIET_ID }),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                //alert(result);
                window.locationre = result.url;
            }
            });
            location.reload();
        }
        else {
            return false;
        }

    }
    function PostData11() {
        $.ajax({
            type: "POST",
            url: '@Url.Action("KETHUA", "BH_DOANHSO", new { KH_BANHANG_DOANHSO_ID = @ViewBag.ID_ANNAYAKE })',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({ model: { CountForBrand: 'ANNAYAKE', NGUOILAP_ID:@Model.NGUOILAP_ID, month:@Month+"/"+@Year} }),
            dataType: "json",
            success: function (result) {
                //alert(result);
                window.locationre = result.url;
            }
        });
        location.reload();
    }

    $(document).ready(function () {
        var ANNAYAKE = 0;
        var DAT = 0;
        var Total = $('#ConNo').text();
        ANNAYAKE = $('.TARGET_BRAND').val();
        //alert(ANNAYAKE);
        $('#TotalAmount').val($.trim(Total));

        var q = (parseFloat(removeComma(Total) / parseFloat(removeComma(ANNAYAKE))) * 100).toFixed(1);
        $('#DATKH').val(q)
        if (isNaN(($('#DATKH').val()))) {
            $('#DATKH').val(0);
        } else {
            $('#DATKH').val(numeral(q).format('0,0.0'));
        }
    });


    $('#listOrderDetail').on('click', '.btn-delete-item', function () {
        $(this).closest('tr').remove();
        $('.productInvoiceList tr').each(function (index, tr) {
            $(tr).attr('role', index);
            $(tr).find('td:first-child').text(index);
            $(tr).find('.KH_BANHANG_DOANHSO_CTIET_ID').attr('name', 'CRM_BH_DOANHSO_CTList[' + index + '].KH_BANHANG_DOANHSO_CTIET_ID').attr('id', 'CRM_BH_DOANHSO_CTList' + index + '__KH_BANHANG_DOANHSO_CTIET_ID');
            $(tr).find('.CustomerCode').attr('name', 'CRM_BH_DOANHSO_CTList[' + index + '].CustomerCode').attr('id', 'CRM_BH_DOANHSO_CTList' + index + '__CustomerCode');
            $(tr).find('.phone').attr('name', 'CRM_BH_DOANHSO_CTList[' + index + '].Phone').attr('id', 'CRM_BH_DOANHSO_CTList' + index + '__Phone');
            $(tr).find('.code').attr('name', 'CRM_BH_DOANHSO_CTList[' + index + '].code').attr('id', 'CRM_BH_DOANHSO_CTList' + index + '__code');
            $(tr).find('.MA_DONHANG').attr('name', 'CRM_BH_DOANHSO_CTList[' + index + '].MA_DONHANG').attr('id', 'CRM_BH_DOANHSO_CTList' + index + '__MA_DONHANG');
            $(tr).find('.CreatedDate').attr('name', 'CRM_BH_DOANHSO_CTList[' + index + '].CreatedDate').attr('id', 'CRM_BH_DOANHSO_CTList' + index + '__CreatedDate');
            $(tr).find('.TONG_TIEN').attr('name', 'CRM_BH_DOANHSO_CTList[' + index + '].TONG_TIEN').attr('id', 'CRM_BH_DOANHSO_CTList' + index + '__TONG_TIEN');
            $(tr).find('.DA_TRA').attr('name', 'CRM_BH_DOANHSO_CTList[' + index + '].DA_TRA').attr('id', 'CRM_BH_DOANHSO_CTList' + index + '__DA_TRA');
            $(tr).find('.CON_NO').attr('name', 'CRM_BH_DOANHSO_CTList[' + index + '].CON_NO').attr('id', 'CRM_BH_DOANHSO_CTList' + index + '__CON_NO');
            $(tr).find('.nr-REVIEW').attr('name', 'CRM_BH_DOANHSO_CTList[' + index + '].TYLE_THANHCONG_REVIEW').attr('id', 'CRM_BH_DOANHSO_CTList' + index + '__TYLE_THANHCONG_REVIEW');
        });
    });
    $('#listOrderDetail').on('click', '.btn-CONG', function () {
        var $row = $(this).closest("tr");    // Find the row
        var $text = $row.find(".nr").val(); // Find the text
        var w = parseFloat($text);
        if (w < 0) {
            w = -1;
        }
        if (w > 0) {
            w += 10;
        } if (w == 0) {
            w += 10;
        }
        if (w == -1) {
            w = 0;
        }
        if (w > 100) {
            w = 100;
            alert('Tỷ lệ thành công không được quá 100%');
        }
        $row.find(".nr").val(w);


        var kh_id = $row.find("td:eq(1) input:nth-child(1)").val();
        var khach_id = $row.find("td:eq(1) input:nth-child(2)").val();
        var tyle = $row.find("td:eq(8) input").val();
        var tylerw = $row.find("td:eq(11) input").val();

        UpdateTaget(kh_id,khach_id,tyle,tylerw);
    });
    $('#listOrderDetail').on('click', '.btn-TRU', function () {
        var $row = $(this).closest("tr");    // Find the row
        var $text = $row.find(".nr").val(); // Find the text
        var w = parseFloat($text);
        if (w == 0) {
            w = -1;
        }
        if (w < 0) {
            w = -1;
        } if (w == -1) {
            w = -1;
        } if (w > 0) {
            w += -10;
        }
        $row.find(".nr").val(w);

        var kh_id = $row.find("td:eq(1) input:nth-child(1)").val();
        var khach_id = $row.find("td:eq(1) input:nth-child(2)").val();
        var tyle = $row.find("td:eq(8) input").val();
        var tylerw = $row.find("td:eq(11) input").val();

        UpdateTaget(kh_id,khach_id,tyle,tylerw);
    });
    $('#listOrderDetail').on('click', '.btn-CONG-REVIEW', function () {
        var $row = $(this).closest("tr");    // Find the row
        var $text = $row.find(".nr-REVIEW").val(); // Find the text
        var w = parseFloat($text);
        if (w < 0) {
            w = -1;
        }
        if (w > 0) {
            w += 10;
        } if (w == 0) {
            w += 10;
        }
        if (w == -1) {
            w = 0;
        }
        if (w > 200) {
            w = 200;
            alert('Tỷ lệ thành công không được quá 200%');
        }
        $row.find(".nr-REVIEW").val(w);

        var kh_id = $row.find("td:eq(1) input:nth-child(1)").val();
        var khach_id = $row.find("td:eq(1) input:nth-child(2)").val();
        var tyle = $row.find("td:eq(8) input").val();
        var tylerw = $row.find("td:eq(11) input").val();

        UpdateTaget(kh_id,khach_id,tyle,tylerw);
    });
    $('#listOrderDetail').on('click', '.btn-TRU-REVIEW', function () {
        var $row = $(this).closest("tr");    // Find the row
        var $text = $row.find(".nr-REVIEW").val(); // Find the text
        var w = parseFloat($text);
        if (w == 0) {
            w = -1;
        }
        if (w < 0) {
            w = -1;
        } if (w == -1) {
            w = -1;
        } if (w > 0) {
            w += -10;
        }
        $row.find(".nr-REVIEW").val(w);

        var kh_id = $row.find("td:eq(1) input:nth-child(1)").val();
        var khach_id = $row.find("td:eq(1) input:nth-child(2)").val();
        var tyle = $row.find("td:eq(8) input").val();
        var tylerw = $row.find("td:eq(11) input").val();

        UpdateTaget(kh_id,khach_id,tyle,tylerw);
    });
    $('#Delete').click(function () {
        if (confirm('Bạn có chắc muốn xóa item ?')) {
            $(this).closest('tr').children('td').each(function (i, e) {
                $(this).find("input.class-delete-all").prop("checked", true);
                return true;
            })
        }
        else {
            return false;
        }

    })
</script>
