@using Erp.BackOffice.App_GlobalResources
@using Erp.BackOffice.Helpers
@using Erp.BackOffice.Sale.Models

@model LoyaltyPointViewModel

@{
    ViewBag.Title = Wording.PageCreate_LoyaltyPoint;

    Layout = "~/Views/Shared/" + (Request["IsPopup"] == null ? "ACE_AdminLayout.cshtml" : "_PopupLayout.cshtml");

    Erp.BackOffice.Models.PageSetting pageSetting = new Erp.BackOffice.Models.PageSetting
    {        
        ModuleName = "LoyaltyPoint",
        ActionName = "Create",
        PageTitle = ViewBag.Title,
        DisplaySearchPanel = false,
        IsPopup = false,
        DisplayBackButton = true
    };
}

@section HeadOfPage {
    @Html.ScriptTop_ChosenStyle()
}

@using(Html.BeginPageHeaderContainer(pageSetting))
{

}

@using (Html.BeginForm_AceStyle((string)ViewBag.Title, pageSetting.ActionName, pageSetting.ModuleName, null, FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.ValidationSummary(true)

    <input type="hidden" value="@Request["IsPopup"]" name="IsPopup" />

    @Html.CustomTextboxFor(model => model.Name, null, null, WidthType.span12)
    @Html.CustomTextboxFor(model => model.MinMoney, null, null, WidthType.span12)
    @Html.CustomTextboxFor(model => model.MaxMoney, null, null, WidthType.span12)
    @Html.CustomTextboxFor(model => model.PlusPoint, null, null, WidthType.span12)


    using (Html.BeginButtonContainer(pageSetting))
    {
        <button class="btn btn-mini btn-primary" type="submit" name="Submit" value="Save">
            <i class="ace-icon fa fa-save"></i>
            @Wording.Save
        </button>
    }
}

@section Scripts {    
    <script>
        //truyền từ action create của controller qua khi thực hiện submit và return về lại view create, để nhận biết là được gọi theo dạng popup
        var closePopup = '@ViewBag.closePopup';
        $(document).ready(function () {
            //nếu là được gọi theo dạng popup từ form khác thì chạy đoạn code bên dưới
            if (closePopup != '') {
                var option = '<option value="@Model.Id" >@Model.Name</option>';
                //tên funtion có thể khác theo từng công việc riêng (đây chỉ là mẫu khi thêm mới sẽ gọi lại)
                window.parent.ClosePopupAndAppendSelect(option);
            }
        });
        $('input[class="col-xs-12"]').change(function () {
            var MinMoney = 0;
            var MaxMoney = 0;
            MinMoney = (isNaN(parseInt($('#MinMoney').val())) ? 0 : parseInt($('#MinMoney').val()));
            MaxMoney = (isNaN(parseInt($('#MaxMoney').val())) ? 0 : parseInt($('#MaxMoney').val()));
            if (MinMoney < 0) {
                MinMoney = MinMoney * -1;
                $('#MinMoney').val(MinMoney);
            }
            if (MaxMoney < 0) {
                MaxMoney = MaxMoney * -1;
                $('#MaxMoney').val(MaxMoney);
            }

            if (MaxMoney < MinMoney) {
                $('#MaxMoney').val(MinMoney);
            }
        });
    </script>
    @Html.ScriptBottom_ValidationMvc()    
    @Html.ScriptBottom_ChosenStyle()
}
