@using Erp.BackOffice.App_GlobalResources
@using Erp.BackOffice.Sale.Models
@using Erp.BackOffice.Helpers
@model List<Sale_Report_KhachMuaDVViewModel>
    @{
        Layout = null;
        int index = 1;
    }

    <table id="cTable" class="table table-bordered">
        <thead>
            <tr>
                <th style="width:40px;text-align:center">STT</th>
                <th class="text-center">Ngày tạo</th>
                <th class="text-center">Mã khách hàng</th>
                <th class="text-center">Tên khách hàng</th>
                <th class="text-center">Tên sản phẩm/dịch vụ</th>
                <th class="text-center">Mã sản phẩm/dịch vụ</th>
                <th class="text-center">Nhóm sản phẩm/dịch vụ</th>


            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="@(index%2==0?"alert-warning":"")">
                    <td>
                        <span>@(index++)</span>
                    </td>
                    <td>@(item.CreatedDate.HasValue ? item.CreatedDate.Value.ToString("dd/MM/yyyy HH:mm") : "")</td>
                    <td>@(item.CustomerCode)</td>
                    <td>@(item.CustomerName)</td>
                    <td>@(item.ProductName)</td>
                    <td>@(item.ProductCode)</td>
                    <td>@(item.CategoryCode)</td>


                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tfoot>
    </table>
