@using Erp.BackOffice.App_GlobalResources
@using Erp.BackOffice.Sale.Models
@using Erp.BackOffice.Helpers
@model List<Sale_Report_CustomerIsCNCViewModel>
    @{
        Layout = null;
        int index = 1;
    }

    <table id="CTable" class="table table-bordered">
        <thead>
            <tr>
                <th style="width:40px;text-align:center">STT</th>
                <th class="text-center">Ngày tạo</th>
                <th class="text-center">Hóa đơn</th>
                <th class="text-center">Mã khách hàng</th>
                <th class="text-center">Tên khách hàng</th>
                <th class="text-center">Mã sản dịch vụ</th>
                <th class="text-center">Tên dịch vụ</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="@(index%2==0?" alert-warning":"")">
                    <td>
                        <span>@(index++)</span>
                    </td>
                    <td>@item.CreatedDate</td>
                    <td>@item.Code</td>
                    <td>@item.CustomerCode</td>
                    <td>@item.CustomerName</td>
                    <td>@item.ProductCode</td>
                    <td>@item.ProductName</td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tfoot>
    </table>
