@using Erp.BackOffice.App_GlobalResources
@using Erp.BackOffice.Sale.Models
@using Erp.BackOffice.Helpers
@model List<Sale_BaoCao_KhachTuVanMaKhongMuaViewModel>
    @{
        Layout = null;
        int index = 1;
    }
    @helper GridColumnStatusName(string status)
        {
                            /**/

                            switch (status)
                            {
                                case "pending":
                                    <a class="btn-info search-btn-action btn btn-sm btn-block">@Wording.Membership_Pending</a>
                                    break;
                                case "tranfer":
                                    <a class="btn-danger search-btn-action btn btn-sm btn-block">@Wording.Membership_Tranfer</a>
                                    break;
                                case "complete":
                                    <a class="btn-success search-btn-action btn btn-sm btn-block">@Wording.Membership_Complete</a>
                                    break;
                                case "expired":
                                    <a class="btn-default search-btn-action btn btn-sm btn-block">@Wording.Membership_Expired</a>
                                    break;
                                case "inprocess":
                                    <a class="btn-warning search-btn-action btn btn-sm btn-block">@Wording.Membership_Inprocess</a>
                                    break;
                            }
    }
    @if (Model.Count() > 0)
    {
        <table id="CTable" class="table table-bordered">
            <thead>
                <tr>
                    <th style="width:40px;text-align:center">STT</th>
                    <th class="text-center">Ngày tạo phiếu</th>
                    <th class="text-center">Tên khách hàng</th>
                    <th class="text-center">Mã khách hàng</th>
                    <th class="text-center">Trạng thái</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="@(index % 2 == 0 ? " alert-warning" : "")">
                        <td>
                            <span>@(index++)</span>
                        </td>
                        <td>@item.CreatedDate</td>
                        <td>@item.CompanyName</td>
                        <td>@item.Code</td>
                        <td>@GridColumnStatusName(item.Status)</td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tfoot>
        </table>
    }
    else
    {
        <div class="alert alert-block alert-info">
            Không có dữ liệu
        </div>
    }
