@using Erp.BackOffice.App_GlobalResources
@using Erp.BackOffice.Sale.Models
@using Erp.BackOffice.Helpers
@using System.Globalization
@model List<Sale_TotalCustomerOfDayViewModel>
    @{
        ViewBag.Title = "Danh sách khách hàng trong ngày";
        Layout = "~/Views/Shared/_PopupLayout.cshtml";
        Erp.BackOffice.Models.PageSetting pageSetting = new Erp.BackOffice.Models.PageSetting
        {
            ModuleName = "SaleReport",
            ActionName = "Sale_DetailCustomerOfDay",
            PageTitle = ViewBag.Title,
            DisplaySearchPanel = false,
            IsPopup = true,
            DisplayBackButton = false,
        };
        int index = 1;
        string GetDate = @ViewBag.GetDate;
        string typeReport = @ViewBag.typeReport;
    }

    @section HeadOfPage {
        <style type="text/css">
            .cell-center {
                text-align: center;
            }

            .tr-bold {
                font-weight: 700;
            }

            .ctl {
                position: relative;
                /*float: left;*/
                margin-right: 3px;
            }

                .ctl .error {
                    position: absolute;
                    background: #de2a2a;
                    left: 0px;
                    top: 28px;
                    padding: 2px 5px;
                    color: #fff;
                    z-index: 999;
                }

                    .ctl .error:before {
                        border-bottom: 7px solid #de2a2a;
                        border-left: 7px solid transparent;
                        border-right: 7px solid transparent;
                        left: 9px;
                        top: -6px;
                        content: "";
                        display: inline-block;
                        position: absolute;
                    }

            .icon-add {
                margin-top: 0px !important;
            }

            .combojax {
                display: inline-block;
                position: initial !important;
                float: none !important;
            }
        </style>

    }

    @Html.TextBox("typeReport", (string)ViewBag.typeReport, new { type="hidden" })
    <div id="page_header" class="widget-box">
        <div class="widget-header">
            <h5 class="widget-title">
                <i class="ace-icon fa fa-star orange"></i>
                @ViewBag.Title
            </h5>
            <div class="widget-toolbar">
                <a class="btn-search" href="#" data-action="collapse">
                    <i class="ace-icon fa fa-search blue"></i>
                </a>
                <a class="btn-setting"></a>
            </div>
        </div>

        <div class="widget-body" style="display: block;">
            <div class="widget-main">
                <div class="search-view form-inline" id="SaleReport">
                    <table>
                        <tr>
                            <td width="20%">
                                <label>
                                    Ngày
                                </label>
                            </td>
                            <td>
                                <span class="inline">
                                    @Html.TextBox("GetDate", (string)ViewBag.GetDate, new { @readonly = "readonly", placeholder = "Ngày" })
                                </span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="table-responsive" id="CTietTourKTV" style="margin-bottom:40px">
        <table id="cTable" class="table table-bordered">
            <thead>
                <tr>
                    <th style="text-align:center">STT</th>
                    <th style="text-align:center">Mã khách hàng</th>
                    <th style="text-align:center">Tên khách hàng</th>
                    <th style="text-align:center">Điện thoại</th>
                    <th style="text-align:center">Số lượng mua</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="@(index % 2 == 0 ? " alert-warning" : "")">
                        <td class="text-center">
                            <span>@(index++)</span>
                        </td>
                        <td style="text-align:center">@item.CustomerCode</td>
                        <td style="text-align:center">@item.CustomerName</td>
                        <td style="text-align:center">@item.CustomerPhone</td>
                        <td style="text-align:center">
                            <a id="@item.CustomerId" class="ProductInvoiceQuantity" onclick="GetDetailListProductInvoiceById(@item.CustomerId)">
                                @item.soluong
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
    @*@using (Html.BeginButtonContainer(pageSetting))
        {
            <button class="btn btn-white btn-success btn-sm" type="button" value="Export" onclick="GetPrint(true)">
                <i class="ace-icon fa fa-file-excel-o"></i>
                Xuất excel
            </button>
        }*@

    @section Scripts {
        <script>
            function GetDetailListProductInvoiceById(CustomerId, GetDate) {

                console.log(CustomerId)
                var GetDate = $('#GetDate').val();
                if ($('#typeReport').val() == 'SPDV')
                    OpenPopup('/SaleReport/GetDetailListProductInvoice?Id=' + CustomerId + '&Date=' + GetDate + '&IsPopup=true', '', 0, 900);
            };
        </script>
        @Html.ScriptBottom_ValidationMvc()
        @Html.ScriptBottom_DatePicker("dd/MM/yyyy")
        @Html.ScriptBottom_ChosenStyle()
    }
