@using Erp.BackOffice.App_GlobalResources
@using Erp.BackOffice.Sale.Models
@using Erp.BackOffice.Helpers
@using System.Globalization;
@model TotalDiscountMoneyNTViewModel
@{
    ViewBag.Title = "Báo cáo tổng";
    Layout = "~/Views/Shared/ACE_AdminLayout.cshtml";
    Erp.BackOffice.Models.PageSetting pageSetting = new Erp.BackOffice.Models.PageSetting
    {
        ModuleName = "SaleReport",
        ActionName = "Sale_BCTong",
        PageTitle = ViewBag.Title,
        DisplaySearchPanel = true,
        IsPopup = false,
        DisplayBackButton = false,
        SearchButtonText = "Xem báo cáo"
    };
    string Month = Request["month"] != null ? Request["month"] : DateTime.Now.Month.ToString();
    string Year = Request["year"] != null ? Request["year"] : DateTime.Now.Year.ToString();
    string branchId = Request["branchId"] != null ? Request["branchId"] : "";
    //if (Request["branchId"] == null)
    //{
    //    if (Erp.BackOffice.Filters.SecurityFilter.IsAdminDrugStore() || Erp.BackOffice.Filters.SecurityFilter.IsStaffDrugStore())
    //    {
    //        branchId = Erp.BackOffice.Helpers.Common.CurrentUser.DrugStore;
    //    }
    //}
    ViewData["branchId"] = branchId;
    int index = 1;
}
@section HeadOfPage {
    <style type="text/css">
        .cell-center {
            text-align: center;
        }

        .tr-bold {
            font-weight: 700;
        }

        .ctl {
            position: relative;
            /*float: left;*/
            margin-right: 3px;
        }

            .ctl .error {
                position: absolute;
                background: #de2a2a;
                left: 0px;
                top: 28px;
                padding: 2px 5px;
                color: #fff;
                z-index: 999;
            }

                .ctl .error:before {
                    border-bottom: 7px solid #de2a2a;
                    border-left: 7px solid transparent;
                    border-right: 7px solid transparent;
                    left: 9px;
                    top: -6px;
                    content: "";
                    display: inline-block;
                    position: absolute;
                }

        .icon-add {
            margin-top: 0px !important;
        }

        .combojax {
            display: inline-block;
            position: initial !important;
            float: none !important;
        }
    </style>
}
@using (Html.BeginPageHeaderContainer(pageSetting))
{
    @Html.Partial("_PartialSearchDrugStore", ViewData["branchId"])
    <p>
        <select id="month" name="month">
            @for (int i = 1; i <= 12; i++)
            {
                <option @(Month == i.ToString() ? "Selected" : "") value="@i">Tháng @i</option>
            }
        </select>
        <select id="year" name="year">
            @for (int i = 2016; i <= DateTime.Now.Year; i++)
            {
                <option @(Year == i.ToString() ? "Selected" : "") value="@i">Năm @i</option>
            }
        </select>
    </p>
}
@if (ViewBag.FailedMessage != null && ViewBag.FailedMessage != "")
{
    <div class="alert alert-block alert-danger">
        <button class="close" data-dismiss="alert" type="button">
            <i class="ace-icon fa fa-times"></i>
        </button>
        <i class="ace-icon fa fa-warning red"></i>
        @ViewBag.FailedMessage
    </div>
}
else
{ 
<div class="row">
    <div class="col-sm-12">
        <div class="widget-box">
            <div class="widget-header">
                <h5 class="widget-title">Thông tin kinh doanh</h5>
            </div>
            <div class="widget-body">
                <div class="widget-main">
                    <div class="detail-view">
                        <div class="row control-group">
                            @Html.DetailViewItemFor2(model => model.DrugStoreName, null, null, "col-xs-4", "col-xs-8")
                        </div>
                        <div class="row control-group">
                            @Html.DetailViewItem(Model.Address+", "+Model.WardName+", "+Model.DistrictName+", "+Model.ProvinceName, "Address", "Địa chỉ", null, null, "col-xs-4", "col-xs-8")
                        </div>
                        <div class="row control-group">
                            @Html.DetailViewItem(Common.PhanCachHangNgan2(Model.DoanhSo), "DoanhSo", "Doanh số bán hàng", null, null, "col-xs-4", "col-xs-8")
                        </div>
                        <div class="row control-group">
                            @Html.DetailViewItem(Common.PhanCachHangNgan2(Model.QuantityDay), "QuantityDay", "Số ngày nhập liệu", null, null, "col-xs-4", "col-xs-8")
                        </div>
                        <div class="row control-group">
                            @Html.DetailViewItem(Common.PhanCachHangNgan2(Model.ChietKhauCoDinh), "ChietKhauCoDinh", "Chiết khấu cố định", null, null, "col-xs-4", "col-xs-8")
                        </div>
                        <div class="row control-group">
                            @Html.DetailViewItem(Common.PhanCachHangNgan2(Model.ChietKhauDotXuat), "ChietKhauDotXuat", "Chiết khấu đột xuất", null, null, "col-xs-4", "col-xs-8")
                        </div>
                        <div class="row control-group">
                            @Html.DetailViewItem(Common.PhanCachHangNgan2(Model.ChietKhauCoDinh+Model.ChietKhauDotXuat), "TotalCK","Tổng chiết khấu", null, null, "col-xs-4", "col-xs-8")
                        </div>
                        <div class="row control-group">
                            @Html.DetailViewItem(Common.PhanCachHangNgan2(Model.PercentDecrease), "PercentDecrease", "Chiết khấu bị trừ (%)", null, null, "col-xs-4", "col-xs-8")
                        </div>
                        <div class="row control-group">
                            @Html.DetailViewItem(Common.PhanCachHangNgan2(Model.DecreaseAmount), "DecreaseAmount", "Chiết khấu bị trừ (VNĐ)", null, null, "col-xs-4", "col-xs-8")
                        </div>
                        <div class="row control-group">
                            @Html.DetailViewItem(Common.PhanCachHangNgan2(Model.RemainingAmount), "RemainingAmount", "Tổng tiền chiết khấu được nhận", null, null, "col-xs-4", "col-xs-8 red")
                        </div>
                        <div class="row control-group">
                            @Html.DetailViewItem(Common.PhanCachHangNgan2(Model.PointVIP), "RemainingAmount", "Tổng điểm VIP", null, null, "col-xs-4", "col-xs-8 red")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 table-responsive">
        <table id="CTable" class="table table-bordered">
            <thead>
                <tr>
                    <th style="width:40px;text-align:center">STT</th>
                    <th style="width:100px;text-align:center">Mã sản phẩm</th>
                    <th style="width:200px;text-align:center">Tên sản phẩm</th>
                    <th style="width:100px;text-align:center">Số Lô</th>
                    <th style="width:100px;text-align:center">Hạn dùng</th>
                    <th style="width:100px;text-align:center">Đơn giá nhập</th>
                    <th style="width:100px;text-align:center">Đơn giá xuất</th>
                    <th style="width:100px;text-align:center">Đơn vị tính</th>
                    <th style="width:100px;text-align:center">Tồn đầu kỳ</th>
                    <th style="width:100px;text-align:center">Nhập trong kỳ</th>
                    <th style="width:100px;text-align:center">Xuất trong kỳ</th>
                    <th style="width:100px;text-align:center">Tồn cuối kỳ</th>
                    <th style="width:100px;text-align:center">Tổng tiền tồn</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ListNXT)
                {
                        <tr class="@(index%2==0?"alert-warning":"")">
                            <td>
                                <span>@(index++)</span>
                            </td>
                            <td>@(item.ProductCode)</td>
                            <td>@(item.ProductName)</td>
                            <td>@(item.LoCode)</td>
                            <td>@(item.ExpiryDate == null ? "" : item.ExpiryDate.Value.ToString("dd/MM/yyyy"))</td>
                            <td style="text-align:right">@(CommonSatic.ToCurrencyStr(item.PriceInbound, null))</td>
                            <td style="text-align:right">@(CommonSatic.ToCurrencyStr(item.PriceOutbound, null))</td>
                            <td>@(item.ProductUnit)</td>
                            <td style="text-align:right">@(Common.PhanCachHangNgan2(item.First_Remain))</td>
                            <td style="text-align:right">@(Common.PhanCachHangNgan2(item.Last_InboundQuantity))</td>
                            <td style="text-align:right">@(Common.PhanCachHangNgan2(item.Last_OutboundQuantity))</td>
                            <td style="text-align:right">@(Common.PhanCachHangNgan2(item.Remain))</td>
                            <td style="text-align:right">@(CommonSatic.ToCurrencyStr(item.PriceInbound * item.Remain, null))</td>
                        </tr>
                }
            </tbody>
            <thead>
                <tr>
                    <td colspan="8" style="text-align:right"><b>Tổng</b></td>
                    <td style="text-align:right">@(Common.PhanCachHangNgan2(Model.ListNXT.Sum(x => x.First_Remain)))</td>
                    <td style="text-align:right">@(Common.PhanCachHangNgan2(Model.ListNXT.Sum(x => x.Last_InboundQuantity)))</td>
                    <td style="text-align:right">@(Common.PhanCachHangNgan2(Model.ListNXT.Sum(x => x.Last_OutboundQuantity)))</td>
                    <td style="text-align:right">@(Common.PhanCachHangNgan2(Model.ListNXT.Sum(x => x.Remain)))</td>
                    <td style="text-align:right">@(CommonSatic.ToCurrencyStr(Model.ListNXT.Sum(x => x.PriceInbound * x.Remain), null))</td>
                </tr>
            </thead>
        </table>
    </div>
</div>
}
@using (Html.BeginButtonContainer(pageSetting))
{
    <button class="btn btn-white btn-success btn-sm" type="button" value="Export" onclick="GetPrint(true)">
        <i class="ace-icon fa fa-file-excel-o"></i>
        Xuất excel
    </button>
    <button class="btn btn-white btn-success btn-sm" type="button" value="Export" onclick="GetPrint(false)">
        <i class="ace-icon fa fa-print"></i>
        In báo cáo
    </button>
}
@section Scripts {
    <script>
        function GetPrint(type) {
            var month = $("#month option:selected").val();
            var year = $("#year option:selected").val();
            var CityId = $("#CityId option:selected").val();
            var DistrictId = $("#DistrictId option:selected").val();
            var branchId = $("#branchId option:selected").val();
            OpenPopup('/SaleReport/PrintBCTong/?month=' + month + '&year=' + year + '&CityId=' + CityId + '&DistrictId=' + DistrictId + '&branchId=' + branchId + '&ExportExcel=' + type + '&IsPopup=true', '', 0, 900);
            HideLoading();
        };
    </script>
}
