@using Erp.BackOffice.App_GlobalResources
@using Erp.BackOffice.Helpers
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
    @{
        ViewBag.Title = "Báo cáo kho vật tư ngày";
        Layout = "~/Views/Shared/ACE_AdminLayout.cshtml";
        Erp.BackOffice.Models.PageSetting pageSetting = new Erp.BackOffice.Models.PageSetting
        {
            ModuleName = "SaleReport",
            ActionName = "Sale_BaoCaoNhapXuatTonVatTu_Tuan",
            PageTitle = ViewBag.Title,
            DisplaySearchPanel = true,
            IsPopup = false,
            DisplayBackButton = false,
            //SearchButtonText = "Xem báo cáo"
        };
        string category = Request["CategoryCode"] != null ? Request["CategoryCode"] : "";
        //string group = Request["group"] != null ? Request["group"] : "";
        string manufacturer = Request["Manufacturer"] != null ? Request["Manufacturer"] : "";
        DateTime aDateTime = new DateTime(DateTime.Now.Year, DateTime.Now.Month, 1);
        // Cộng thêm 1 tháng và trừ đi một ngày.
        DateTime retDateTime = aDateTime.AddMonths(1).AddDays(-1);
    }

    @section HeadOfPage {
        <style type="text/css">
            .cell-center {
                text-align: center;
            }

            .tr-bold {
                font-weight: 700;
            }

            .ctl {
                position: relative;
                /*float: left;*/
                margin-right: 3px;
            }

                .ctl .error {
                    position: absolute;
                    background: #de2a2a;
                    left: 0px;
                    top: 28px;
                    padding: 2px 5px;
                    color: #fff;
                    z-index: 999;
                }

                    .ctl .error:before {
                        border-bottom: 7px solid #de2a2a;
                        border-left: 7px solid transparent;
                        border-right: 7px solid transparent;
                        left: 9px;
                        top: -6px;
                        content: "";
                        display: inline-block;
                        position: absolute;
                    }

            .icon-add {
                margin-top: 0px !important;
            }

            .combojax {
                display: inline-block;
                position: initial !important;
                float: none !important;
            }
        </style>

    }

    @using (Html.BeginPageHeaderContainer(pageSetting))
    {
        <p>
            <span class="input-daterange input-group">
                @Html.TextBox("StartDate", Request["StartDate"] != null ? Request["StartDate"] : "", new { autocomplete = "off", placeholder = "Từ ngày" })
                <span class="input-group-addon">
                    <i class="fa fa-exchange"></i>
                </span>
                @Html.TextBox("EndDate", Request["EndDate"] != null ? Request["EndDate"] : "", new { autocomplete = "off", placeholder = "Đến ngày" })
            </span>

        </p>
         <script>

                        $('.input-daterange').datepicker({format:'dd/mm/yyyy'}).on('changeDate', function (e) {

                        });
                    </script>
        <p>
            @Html.DropDownList("Manufacturer", SelectListHelper.GetSelectList_Category("manufacturerList", manufacturer, "- Nhà sản xuất -"))
            @Html.DropDownList("CategoryCode", SelectListHelper.GetSelectList_Category("product", category, "- Danh mục sản phẩm -"))
            @Html.DropDownList("WarehouseId", SelectListHelper.GetSelectList_Warehouse(Request["WarehouseId"], null))
        </p>
    }
    @*<div id="page_header" class="widget-box">
        <div class="widget-header">
            <h5 class="widget-title">
                <i class="ace-icon fa fa-star orange"></i>
                @ViewBag.Title
            </h5>
            <div class="widget-toolbar">
                <a class="btn-search" href="#" data-action="collapse">
                    <i class="ace-icon fa fa-search blue"></i>
                </a>
                <a class="btn-setting"></a>
            </div>
        </div>

        <div class="widget-body" style="display: block;">
            <div class="widget-main">
                <div class="search-view form-inline" id="SaleReport">
                    <p>
                        <span class="input-daterange input-group">
                            @Html.TextBox("StartDate", Request["StartDate"] != null ? Request["StartDate"] : aDateTime.ToString("dd/MM/yyyy"), new { autocomplete = "off", placeholder = "Từ ngày" })
                            <span class="input-group-addon">
                                <i class="fa fa-exchange"></i>
                            </span>
                            @* @Html.TextBox("EndDate", Request["EndDate"] != null ? Request["EndDate"] : retDateTime.ToString("dd/MM/yyyy"), new { autocomplete = "off", placeholder = "Đến ngày" })*@
    @*</span>
                        <p>
                            @Html.DropDownList("manufacturer", SelectListHelper.GetSelectList_Category("manufacturerList", manufacturer, "- Nhà sản xuất -"))
                            @Html.DropDownList("category", SelectListHelper.GetSelectList_Category("product", category, "- Danh mục sản phẩm -"))
                            @Html.DropDownList("WarehouseId", SelectListHelper.GetSelectList_Warehouse(Request["WarehouseId"], null))
                        </p>
                        </p>
                        <p style="margin:0px;">
                            <button class="btn btn-mini btn-primary" name="search" onclick="searchreact()" type="submit" value="Search">
                                Xem báo cáo
                            </button>
                        </p>
                    </div>
                </div>
            </div>
        </div>*@
    <div class="row" style="padding-top: 5px;">
            <div class="col-xs-12">
                <div id="react_report" class="table-responsive">
                </div>
            </div>
        </div>

    @using (Html.BeginButtonContainer(pageSetting))
    {
        <button class="btn btn-white btn-success btn-sm" type="button" value="Export" onclick="GetPrint(true)">
            <i class="ace-icon fa fa-file-excel-o"></i>
            Xuất excel
        </button>
    }

    @section Scripts {
        @Html.ScriptBottom_ValidationMvc()
        @Html.ScriptBottom_DatePicker("dd/MM/yyyy")

        <script src="/Scripts/combojax.js"></script>
        <link href="/assets/css/combojax.css" rel="stylesheet" />
        <script>
            $(function () {
                searchreact();
                //$("#ProductName").combojax({
                //    url: "/CommissionCus/GetListJsonAll",
                //    onNotFound: function (p) {  //khi tìm ko thấy dữ liệu thì sẽ hiển thị khung thêm mới dữ liệu
                //        //OpenPopup('/Customer/Create?IsPopup=true&Phone=' + p, 'Thêm mới', 500, 250);
                //    },
                //    onSelected: function (obj) {
                //        if (obj) {

                //        }
                //    }       //chỗ xử lý khi chọn 1 dòng dữ liệu ngoài việc lưu vào textbox tìm kiếm
                //    , onShowImage: false                  //hiển thị hình ảnh
                //    , onSearchSaveSelectedItem: true    //lưu dòng dữ liệu đã chọn vào ô textbox tìm kiếm, mặc định lưu giá trị value trong hàm get data
                //    , onRemoveSelected: false  //những dòng đã chọn rồi thì sẽ ko hiển thị ở lần chọn tiếp theo
                //});
            });
            function searchreact() {
                GetDatatable('/SaleReport/_GetListSale_BaoCaoNhapXuatTonVatTu_Tuan');
            };
            function GetDatatable(url) {
                var StartDate = $('#StartDate').val();
                var EndDate = $('#EndDate').val();
                var WarehouseId = $('#WarehouseId').val();
                var CategoryCode = $('#CategoryCode').val();
                var Manufacturer = $('#Manufacturer').val();

                var formdata = {
                    StartDate: StartDate,
                    EndDate: EndDate,
                    WarehouseId: WarehouseId,
                    CategoryCode: CategoryCode,
                    Manufacturer: Manufacturer

                };
                //$("#react_report").html("");
                ClickEventHandlerHTML(true, url, "#react_report", formdata, function () {
                });
            };
            function GetPrint(type) {
                var StartDate = $('#StartDate').val();
                var EndDate = $('#EndDate').val();
                var WarehouseId = $('#WarehouseId').val();
                var CategoryCode = $('#CategoryCode').val();
                var Manufacturer = $('#Manufacturer').val();

                OpenPopup('/SaleReport/PrintSale_BaoCaoNhapXuatTonVatTu_Tuan?StartDate=' + StartDate + '&EndDate=' + EndDate + '&WarehouseId=' + WarehouseId + '&CategoryCode=' + CategoryCode + '&Manufacturer=' + Manufacturer + '&ExportExcel=' + type + '&IsPopup=true', '', 0, 900);

                setTimeout(function () {
                    $("#myModal .modal-body .iframe-container").html("");
                    $('#myModal').modal('hide');
                }, 2000);
                HideLoading();
            };
        </script>
    }
