@using Erp.BackOffice.App_GlobalResources
@using Erp.BackOffice.Helpers

@{
    ViewBag.Title = "Phiếu csd đổi tên";
    Layout = "~/Views/Shared/ACE_AdminLayout.cshtml";
    Erp.BackOffice.Models.PageSetting pageSetting = new Erp.BackOffice.Models.PageSetting
    {
        ModuleName = "SaleReport",
        ActionName = "Sale_BaoCaoPhieuCSDDoiTen",
        PageTitle = ViewBag.Title,
        DisplaySearchPanel = true,
        IsPopup = false,
        DisplayBackButton = false,
        SearchButtonText = "Xem báo cáo"
    };

    DateTime aDateTime = new DateTime(DateTime.Now.Year, DateTime.Now.Month, 1);
    // Cộng thêm 1 tháng và trừ đi một ngày.
    DateTime retDateTime = aDateTime.AddMonths(1).AddDays(-1);
}

@section HeadOfPage {
    <style type="text/css">
        .cell-center {
            text-align: center;
        }

        .tr-bold {
            font-weight: 700;
        }

        .ctl {
            position: relative;
            /*float: left;*/
            margin-right: 3px;
        }

            .ctl .error {
                position: absolute;
                background: #de2a2a;
                left: 0px;
                top: 28px;
                padding: 2px 5px;
                color: #fff;
                z-index: 999;
            }

                .ctl .error:before {
                    border-bottom: 7px solid #de2a2a;
                    border-left: 7px solid transparent;
                    border-right: 7px solid transparent;
                    left: 9px;
                    top: -6px;
                    content: "";
                    display: inline-block;
                    position: absolute;
                }

        .icon-add {
            margin-top: 0px !important;
        }

        .combojax {
            display: inline-block;
            position: initial !important;
            float: none !important;
        }
    </style>

}

<div id="page_header" class="widget-box">
    <div class="widget-header">
        <h5 class="widget-title">
            <i class="ace-icon fa fa-star orange"></i>
            @ViewBag.Title
        </h5>
        <div class="widget-toolbar">
            <a class="btn-search" href="#" data-action="collapse">
                <i class="ace-icon fa fa-search blue"></i>
            </a>
            <a class="btn-setting"></a>
        </div>
    </div>

    <div class="widget-body" style="display: block;">
        <div class="widget-main">
            <div class="search-view form-inline" id="SaleReport">
                <p>
                    <span class="inline">
                        <span class="input-group input-daterange">
                            @Html.TextBox("StartDate", Request["StartDate"] != null ? Request["StartDate"] : aDateTime.ToString("dd/MM/yyyy"), new { autocomlete = "off", placeholde = "Từ ngày" })
                            <span class="input-group-addon">
                                <i class="fa fa-exchange"></i>
                            </span>
                            @Html.TextBox("EndDate", Request["EndDate"] != null ? Request["EndDate"] : retDateTime.ToString("dd/MM/yyyy"), new { autocomlete = "off", placeholde = "Đến ngày" })
                        </span>
                    </span>
                    <span class="ctl inline">
                        @Html.DropDownList("BranchId", SelectListHelper.GetSelectList_Branch(Request["BranchId"], "Chi nhánh"))
                    </span>
                    <span class="ctl inline">
                        @Html.DropDownList("ProductId", SelectListHelper.GetSelectList_Product("",Request["ProductId"], "Sản phẩm"))
                    </span>

                </p>
                <p style="margin:0px;">
                    <button class="btn btn-mini btn-primary" name="search" onclick="searchreact()" type="submit" value="Search">
                        Xem báo cáo
                    </button>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row" style="padding-top: 5px;">
    <div class="col-xs-12">
        <div id="react_report" class="table-responsive">

        </div>
    </div>
</div>

@using (Html.BeginButtonContainer(pageSetting))
{
    <button class="btn btn-white btn-success btn-sm" type="button" value="Export" onclick="GetPrint(true)">
        <i class="ace-icon fa fa-file-excel-o"></i>
        Xuất excel
    </button>
    <button class="btn btn-white btn-success btn-sm" type="button" value="Export" onclick="GetPrint(false)">
        <i class="ace-icon fa fa-print"></i>
        In báo cáo
    </button>
}

@section Scripts {
    @Html.ScriptBottom_ValidationMvc()
    @Html.ScriptBottom_DatePicker("dd/MM/yyyy")

    <script src="/Scripts/combojax.js"></script>
    <link href="/assets/css/combojax.css" rel="stylesheet" />
    <script>
        $(function () {
            searchreact();
        });
        function searchreact() {
            GetDatatable('/SaleReport/_GetListSale_BaoCaoPhieuCSDDoiTen');
        };
        function GetDatatable(url) {
            var StartDate = $('#StartDate').val();
            var EndDate = $('#EndDate').val();
            var BranchId = $('#BranchId').val();
            var ProductId = $('#ProductId').val();

            var formdata = {
                StartDate: StartDate,
                EndDate: EndDate,
                BranchId: BranchId,
                ProductId: ProductId

            };
            //$("#react_report").html("");
            ClickEventHandlerHTML(true, url, "#react_report", formdata, function () {
            });
        };
        function GetPrint(type) {
            var StartDate = $('#StartDate').val();
            var EndDate = $('#EndDate').val();
            var BranchId = $('#BranchId').val();
            var ProductId = $('#ProductId').val();

            OpenPopup('/SaleReport/PrintSale_BaoCaoPhieuCSDDoiTen?StartDate=' + StartDate + '&EndDate=' + EndDate + '&BranchId=' + BranchId + '&ProductId=' + ProductId + '&ExportExcel=' + type + '&IsPopup=true', '', 0, 900);

            setTimeout(function () {
                $("#myModal .modal-body .iframe-container").html("");
                $('#myModal').modal('hide');
            }, 2000);
            HideLoading();
        };
    </script>
}
