@using Erp.BackOffice.App_GlobalResources
@using Erp.BackOffice.Helpers
@using Erp.BackOffice.Sale.Models
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
@model  spSale_Get_TrangThietBiViewModel
@{
    /**/

    ViewBag.Title = "Báo cáo trang thiết bị";
    Layout = "~/Views/Shared/ACE_AdminLayout.cshtml";
    Erp.BackOffice.Models.PageSetting pageSetting = new Erp.BackOffice.Models.PageSetting
    {
        ModuleName = "SaleReport",
        ActionName = "spSale_Get_TrangThietBi",
        PageTitle = ViewBag.Title,
        DisplaySearchPanel = true,
        IsPopup = false,
        DisplayBackButton = false,
        SearchButtonText = "Xem báo cáo"
    };
    IEnumerable<SelectListItem> productList = Erp.BackOffice.Helpers.SelectListHelper.GetSelectList_Product(null, "value", null);
    DateTime aDateTime = new DateTime(DateTime.Now.Year, DateTime.Now.Month, 1);
    // Cộng thêm 1 tháng và trừ đi một ngày.
    DateTime retDateTime = aDateTime.AddMonths(1).AddDays(-1);
    var BranchId = Erp.BackOffice.Helpers.Common.CurrentUser.BranchId;

}

@section HeadOfPage {
    <style type="text/css">
        .cell-center {
            text-align: center;
        }

        .tr-bold {
            font-weight: 700;
        }

        .ctl {
            position: relative;
            /*float: left;*/
            margin-right: 3px;
        }

            .ctl .error {
                position: absolute;
                background: #de2a2a;
                left: 0px;
                top: 28px;
                padding: 2px 5px;
                color: #fff;
                z-index: 999;
            }

                .ctl .error:before {
                    border-bottom: 7px solid #de2a2a;
                    border-left: 7px solid transparent;
                    border-right: 7px solid transparent;
                    left: 9px;
                    top: -6px;
                    content: "";
                    display: inline-block;
                    position: absolute;
                }

        .icon-add {
            margin-top: 0px !important;
        }

        .combojax {
            display: inline-block;
            position: initial !important;
            float: none !important;
        }
    </style>

}


<div id="page_header" class="widget-box">
    <div class="widget-header">
        <h5 class="widget-title">
            <i class="ace-icon fa fa-star orange"></i>
            @ViewBag.Title
        </h5>
        <div class="widget-toolbar">
            <a class="btn-search" href="#" data-action="collapse">
                <i class="ace-icon fa fa-search blue"></i>
            </a>
            <a class="btn-setting"></a>
        </div>
    </div>

    <div class="widget-body" style="display: block;">
        <div class="widget-main">
            <div class="search-view form-inline" id="SaleReport">
                <p>
                    <span class="inline">
                        <span class="input-daterange input-group">
                            @Html.TextBox("StartDate", Request["StartDate"] != null ? Request["StartDate"] : aDateTime.ToString("dd/MM/yyyy"), new { autocomplete = "off", placeholder = "Từ ngày" })
                            <span class="input-group-addon">
                                <i class="fa fa-exchange"></i>
                            </span>
                            @Html.TextBox("EndDate", Request["EndDate"] != null ? Request["EndDate"] : retDateTime.ToString("dd/MM/yyyy"), new { autocomplete = "off", placeholder = "Đến ngày" })
                        </span>
                    </span>

                    <script>
                        $('.input-daterange').datepicker({format:'dd/mm/yyyy'}).on('changeDate', function (e) {

                        });
                    </script>

                    <span class="ctl inline">
                        @*@Html.DropDownList("BranchId", SelectListHelper.GetSelectList_Branch(Request["BranchId"], "Chi nhánh"))*@
                        @Html.DropDownList("ProductId", SelectListHelper.GetSelectList_Product("", Request["ProductId"], "Sản phẩm"))
                    </span>
                    @*<span class="ctl inline">
                         @Html.DropDownList("BranchId", SelectListHelper.GetSelectList_Branch(Request["BranchId"], "Chi nhánh"))
                        @*<input class="detail_item_id" type="hidden" id="DetailList_0__Id" name="DetailList[0].Id" value="0" />*@
                       @* @Html.TextBox("BranchId", Request["BranchId"], new { autocomplete = "off", placeholder = "Chi nhánh..." })
                    </span>*@

                </p>
                <p style="margin:0px;">
                    <button class="btn btn-mini btn-primary" name="search" onclick="searchreact()" type="submit" value="Search">
                        Xem báo cáo
                    </button>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row" style="padding-top: 5px;">
    <div class="col-xs-12">
        <div id="react_report" class="table-responsive">

        </div>
    </div>
</div>

@using (Html.BeginButtonContainer(pageSetting))
{
    <button class="btn btn-white btn-success btn-sm" type="button" value="Export" onclick="GetPrint(true)">
        <i class="ace-icon fa fa-file-excel-o"></i>
        Xuất excel
    </button>
    <button class="btn btn-white btn-success btn-sm" type="button" value="Export" onclick="GetPrint(false)">
        <i class="ace-icon fa fa-print"></i>
        In báo cáo
    </button>
}

@section Scripts {
    @Html.ScriptBottom_ValidationMvc()
    @Html.ScriptBottom_DatePicker("dd/MM/yyyy")

    <script src="/Scripts/combojax.js"></script>
    
    <link href="/assets/css/combojax.css" rel="stylesheet" />
    <script>
        var branchid = getCookie("BRANCH_ID_SPA_CookieName");
        if (branchid == null || @BranchId > 0) {
            branchid = @BranchId;
        }
        $(function () {
            searchreact();
            $(function () {
                searchreact();
                $("#BranchId").combojax({
                    url: "/api/BackOfficeServiceAPI/GetListBranch",
                    onNotFound: function (p) {  //khi tìm ko thấy dữ liệu thì sẽ hiển thị khung thêm mới dữ liệu
                        //OpenPopup('/Customer/Create?IsPopup=true&Phone=' + p, 'Thêm mới', 500, 250);
                    },
                    onSelected: function (obj) {
                        if (obj) {

                        }
                    }       //chỗ xử lý khi chọn 1 dòng dữ liệu ngoài việc lưu vào textbox tìm kiếm
                    , onShowImage: false                  //hiển thị hình ảnh
                    , onSearchSaveSelectedItem: true    //lưu dòng dữ liệu đã chọn vào ô textbox tìm kiếm, mặc định lưu giá trị value trong hàm get data
                    , onRemoveSelected: false  //những dòng đã chọn rồi thì sẽ ko hiển thị ở lần chọn tiếp theo
                });
            });
        });
        function searchreact() {
            GetDatatable('/SaleReport/_GetListspSale_Get_TrangThietBi');
        };
        function GetDatatable(url) {
            var StartDate = $('#StartDate').val();
            var EndDate = $('#EndDate').val();
            var ProductId = $('#ProductId').val();
            var BranchId = branchid;//$('#BranchId').val();

            var formdata = {
                StartDate: StartDate,
                EndDate: EndDate,
                ProductId: ProductId,
                BranchId: BranchId

            };
            //$("#react_report").html("");
            ClickEventHandlerHTML(true, url, "#react_report", formdata, function () {
            });
        };
        function GetPrint(type) {
            var StartDate = $('#StartDate').val();
            var EndDate = $('#EndDate').val();
            var ProductId = $('#ProductId').val();
            var BranchId = branchid;//$('#BranchId').val();

            OpenPopup('/SaleReport/PrintspSale_Get_TrangThietBi?StartDate=' + StartDate + '&EndDate=' + EndDate + '&ProductId=' + ProductId + '&BranchId=' + BranchId + '&ExportExcel=' + type + '&IsPopup=true', '', 0, 900);

            setTimeout(function () {
                $("#myModal .modal-body .iframe-container").html("");
                $('#myModal').modal('hide');
            }, 200000);
            HideLoading();
        };
    </script>
}
