<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
@model IEnumerable<CommissionCusViewModel>

    @using Erp.BackOffice.App_GlobalResources
    @using Erp.BackOffice.Sale.Models
    @using Erp.BackOffice.Helpers
    @using GridMvc.Html

    @{
        ViewBag.Title = "Báo cáo CTKM";
        bool isPopup = Request["IsPopup"] != null && Request["IsPopup"].ToString().ToLower() == "true" ? true : false;
        if (isPopup)
        {
            Layout = "~/Views/Shared/_PopupLayout.cshtml";
        }
        else
        {
            Layout = "~/Views/Shared/ACE_AdminLayout.cshtml";
        }
        //string ApplyFor = ViewBag.ApplyFor;
        Erp.BackOffice.Models.PageSetting pageSetting = new Erp.BackOffice.Models.PageSetting
        {
            ModuleName = "CommissionCus",
            ActionName = "BaoCaoKM",
            PageTitle = ViewBag.Title,
            DisplaySearchPanel = true,
            IsPopup = false,
            DisplayBackButton = false
        };
        int index = 0;
        List<LogPromotionViewModel> logPromotion = (List<LogPromotionViewModel>)ViewBag.logPromotion;

    }

    <link href="@Url.Content("~/assets/css/Gridmvc.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/gridmvc.min.js")" type="text/javascript"></script>
    <style>
        /*#cTable table tbody, #cTable table thead {
            display: block !important;
        }*/

        #cTable table tbody {
            overflow: auto;
            height: calc(100vh - 360px) !important;
        }

        /*#cTable table {
            width: 100% !important;
        }*/

        /*#cTable th {
            width: 100px;
        }

        #cTable td {
            width: 100px;
        }*/

        #cTable > thead > tr > th {
            vertical-align: middle;
            text-align: center;
        }


        #cTable > tbody > tr > td {
            vertical-align: middle;
            /*text-align: center;*/
        }

        .detail-row {
            width: inherit;
        }
    </style>

    @using (Html.BeginPageHeaderContainer(pageSetting))
    {
        @Html.TextBox("Name", Request["Name"], new { @placeholder = "Tên CTKM" });
        <span class="input-daterange input-group">
            @Html.TextBox("StartDate", Request["StartDate"], new { autocomplete = "off", placeholder = "Ngày bắt đầu" })
            <span class="input-group-addon">
                <i class="fa fa-exchange"></i>
            </span>
            @Html.TextBox("EndDate", Request["EndDate"], new { autocomplete = "off", placeholder = "Ngày kết thúc" })
        </span>
        <span class="input-daterange input-group">
            @Html.TextBox("BuyDate", Request["BuyDate"], new { autocomplete = "off", placeholder = "Ngày mua hàng từ.." })

            <span class="input-group-addon">
                <i class="fa fa-exchange"></i>
            </span>
            @Html.TextBox("BuyDate2", Request["BuyDate2"], new { autocomplete = "off", placeholder = "..đến.." })
        </span>
    }
    @helper LoadDetails(int id, List<LogPromotionViewModel> logPromotion)
    {
        var List = logPromotion.Where(x => x.CommissionCusId == id).ToList();

        <div class="">
            <label><font style="font-size:medium;font-style:oblique;font-weight:bold">Danh sách đơn hàng (@List.Count)</font> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  Tổng: @CommonSatic.ToCurrencyStr(List.Sum(x => x.TotalAmount), null) </label>

            <table id="CTable" class="table table-bordered">
                <thead>
                    <tr>
                        <th style="text-align:center">Chi nhánh</th>
                        <th style="text-align:center">Ngày mua</th>
                        <th style="text-align:center"> Mã đơn hàng</th>
                        <th style="text-align:center">Khách hàng</th>
                        <th style="text-align:center">Mã khách hàng</th>
                        <th style="width:40%;text-align:center"> Loại khuyến mãi</th>
                        <th style="text-align:center"> Giảm giá</th>
                        <th style="text-align:center"> Hàng tặng</th>
                        <th style="text-align:center"> Tổng tiền</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var i in List)
                    {
                        <tr>
                            <td>@i.BranchName</td>
                            <td>@i.BuyDate.Value.ToString("dd/MM/yyyy")</td>
                            <td><a target="_blank" href="/ProductInvoice/Detail/?code=@i.ProductInvoiceCode"> @i.ProductInvoiceCode </a></td>
                            <td>@i.CustomerName</td>
                            <td>@i.CustomerCode</td>
                            <td style="width:40%;text-align:center"> @i.Name </td>


                            <td>
                                @i.CommissionValue @if (i.GiftProductId == null)
                                {@(i.IsMoney.HasValue ? "VNĐ" : "%");
                            }
                            </td>
                            <td> @i.GiftProductName </td>
                            <td> @CommonSatic.ToCurrencyStr(i.TotalAmount, null) </td>
                        </tr>
                    }
                </tbody>
                <tfoot></tfoot>
            </table>
        </div>
    }


    <div class="table-responsive" id="table">
        <table id="cTable" class="table table-bordered">
            <thead>
                <tr>

                    <th style="width:5%;text-align:center"> STT </th>
                    <th style="text-align:center;width:30%">Chương trình khuyến mãi</th>


                    <th style="text-align:center;width:20%"> Ngày bắt đầu</th>
                    <th style="text-align:center;width:20%"> Ngày kết thúc</th>
                    <th style="width:20%;text-align:center"> Hưởng doanh thu</th>
                    <th style="width:5%;text-align:center">Chi tiết </th>

                    @*<th style="text-align:center;width:100px"></th>
                        <th style="text-align:center"></th>*@
                </tr>
            </thead>
            <tbody>
                @foreach (var i in Model)
                {
                    index++;
                    <tr>
                        <td class="grid-cell text-center">
                            @index

                        </td>
                        <td>
                            @i.Name

                        </td>

                        <td class="grid-cell text-center">@(i.StartDate == null ? "" : i.StartDate.Value.ToString("dd/MM/yyyy"))</td>
                        <td class="grid-cell text-center">@(i.EndDate == null ? "" : i.EndDate.Value.ToString("dd/MM/yyyy"))</td>
                        <td class="grid-cell text-center">@i.TyleHuong</td>
                        <td class="grid-cell text-center">
                            <a id="table_@i.Id" href="#" class="green show-details-btn" title="Chi tiết" onclick="Dropdowntable('#table_@i.Id')">
                                <i class="ace-icon fa fa-angle-double-down bigger-120"></i>
                            </a>
                        </td>

                    </tr>
                    <tr class="detail-row">
                        <td colspan="8">
                            <div class="table-detail clearfix">
                                @LoadDetails(i.Id, logPromotion)
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    @using (Html.BeginButtonContainer(pageSetting))
    {
        <a class="btn btn-white btn-success btn-sm" id="Save" name="Save" value="Save" onclick="GetPrint(true)">
            <i class="ace-icon fa fa-file-excel-o"></i>
            Xuất Excel
        </a>
        @*<a class="btn btn-white btn-success btn-sm" id="Save" name="Save" value="Save" onclick="GetPrint(false)">
                <i class="ace-icon fa fa-file-excel-o"></i>
                In
            </a>*@
    }
    <script>

        function Dropdowntable(id) {
            $(id).closest('tr').next().toggleClass('open');
            $(id).find(ace.vars['.icon']).toggleClass('fa-angle-double-down').toggleClass('fa-angle-double-up');
            //var url = window.location.href;
            //console.log(url)
        };


        function GetPrint(type) {



            var Name = $('#Name').val();
            var StartDate = $('#StartDate').val();
            var EndDate = $('#EndDate').val();
            var BuyDate = $('#BuyDate').val();
            var BuyDate2 = $('#BuyDate2').val();
            OpenPopup('/CommissionCus/Print?Name=' + Name + '&ExportExcel=' + type + '&StartDate=' + StartDate + '&EndDate=' + EndDate + '&BuyDate=' + BuyDate + '&BuyDate2=' + BuyDate2 + '&IsPopup=true', '', 0, 100);

            setTimeout(function () {
                $("#myModal .modal-body .iframe-container").html("");
                $('#myModal').modal('hide');
            }, 200000);
            HideLoading();
        };

    </script>
    <script>

        $('.input-daterange').datepicker({ format: 'dd/mm/yyyy' }).on('changeDate', function (e) {
            var started = $('#startDate').datepicker('getDate');
            var finished = $('#endDate').datepicker('getDate');
            var date;
            //if (started >= finished) {
            //    if (e.target.id == 'startDate') {
            //        date = new Date(started);
            //        date.setDate(started.getDate() - 1);
            //        $('#startDate').datepicker('setDate', date);
            //    }
            //    if (e.target.id == 'endDate') {
            //        date = new Date(finished);
            //        date.setDate(finished.getDate() + 1);
            //        $('#endDate').datepicker('setDate', date);
            //    }
            //}
        });
    </script>
    @Html.ScriptBottom_ValidationMvc()
    @Html.ScriptBottom_DatePicker("dd/MM/yyyy")
