@using Erp.BackOffice.App_GlobalResources
@using Erp.BackOffice.Helpers
@using Erp.BackOffice.Staff.Models
@model DocumentFieldViewModel
@{
    ViewBag.Title = Wording.PageCreate_DocumentField;
    Layout = "~/Views/Shared/" + (Request["IsPopup"] == null ? "ACE_AdminLayout.cshtml" : "_PopupLayout.cshtml");
    Erp.BackOffice.Models.PageSetting pageSetting = new Erp.BackOffice.Models.PageSetting
    {
        ModuleName = "DocumentField",
        ActionName = "Create",
        PageTitle = ViewBag.Title,
        DisplaySearchPanel = false,
        IsPopup = false,
        DisplayBackButton = false,
        //AdvancedSearch = true,
        //SearchOjectAttr = ViewBag.ListOjectAttrSearch
    };
}

@section HeadOfPage {
    @Html.ScriptTop_ChosenStyle()
    <style type="text/css">
     
    </style>
}
@if (ViewBag.SuccessMessage != null && ViewBag.SuccessMessage != "")
{
    <div class="alert alert-block alert-success">
        <button class="close" data-dismiss="alert" type="button">
            <i class="ace-icon fa fa-times"></i>
        </button>
        <i class="ace-icon fa fa-check green"></i>
        @ViewBag.SuccessMessage
    </div>
}

@if (ViewBag.FailedMessage != null && ViewBag.FailedMessage != "")
{
    <div class="alert alert-block alert-danger">
        <button class="close" data-dismiss="alert" type="button">
            <i class="ace-icon fa fa-times"></i>
        </button>
        <i class="ace-icon fa fa-warning red"></i>
        @ViewBag.FailedMessage
    </div>
}
@using (Html.BeginPageHeaderContainer(pageSetting))
{
}
@using (Html.BeginForm_AceStyle((string)ViewBag.Title, "Create", "DocumentField", null, FormMethod.Post, new { @class = "form-horizontal clearfix" }))
{
    using (Html.BeginButtonContainer(pageSetting))
    {
        <button class="btn btn-mini btn-primary" type="submit" name="Submit" value="Save">
            <i class="ace-icon fa fa-save"></i>
            @Wording.Save
        </button>
    }
    <input type="hidden" value="@Request["IsPopup"]" name="IsPopup" />
    <input type="hidden" name="UrlReferrer" value="@Request.UrlReferrer" />
    <div class="col-sm-6">
        <h3 class="header smaller lighter blue"><span>Thông tin tài liệu</span></h3>
        <p></p>
        @Html.CustomTextboxFor(model => model.Name, null, null, WidthType.span12)

        @*@Html.CustomDropDownListFor(model => model.DocumentTypeId, SelectListHelper.GetSelectList_DocumentType(null), WidthType.span7, true, null, DropdownListStyle.DropdownListStyleChosen)*@
        @if(Model.CategoryId==null)
        {
        @Html.CustomDropDownListFor(model => model.Category, SelectListHelper.GetSelectList_Setting(null,"module",null), WidthType.span12, true, null, DropdownListStyle.DropdownListStyleChosen)

        @Html.CustomDropDownListFor(model => model.CategoryId, new List<SelectListItem> { new SelectListItem { Text = "- Rỗng -", Value = "" } }, WidthType.span12, true, null, DropdownListStyle.DropdownListStyleChosen)
        }
        else
        {
        @Html.HiddenFor(model => model.Category)
        @Html.HiddenFor(model => model.CategoryId)
        }
    </div>
    <div class="col-sm-6">
        <h3 class="header smaller lighter blue"><span>Các đặc tính khác</span></h3>
        <p></p>
        <div class="clearfix list-attr-by-category">
            @Html.Action("GetListByModule", "ObjectAttribute", new { area = "Sale", module = "DocumentField", colum = "col-sm-12" })
        </div>
    </div>
        @*@Html.CustomDropDownListFor(model => model.IsSearch, SelectListHelper.GetSelectList_Category("position", null, "Value", Wording.Empty), WidthType.span7, true, null, DropdownListStyle.DropdownListStyleChosen)*@
    <div class="col-sm-12">
        <h3 class="header smaller lighter blue"><span>Danh sách nhân viên được xem</span></h3>
        <p></p>
        <input type="hidden" value="@Request["staffListcancel"]" name="staffListcancel" />
        @Html.Partial("_SearchStaffPartial")
    </div>
        @*<button type="submit" class="btn btn-info btn-sm top-10" name="Submit" value="Save">
                <i class="ace-icon fa fa-save bigger-110"></i>
                @Wording.Save
            </button>
            <a class="btn btn-danger btn-sm top-10" href="@Url.Action("Index", "DocumentField")">
                <i class="fa fa-ban"></i>
                <span>Quay lại</span>
            </a>*@
        }
        @Html.Partial("_Upload")
        @section Scripts {
            <script src="~/Scripts/SearchStaff/LoadTableByCategoryDocumentField.js"></script>
            <script>
                var urlRefer = '@ViewBag.urlRefer';
                //truyền từ action create của controller qua khi thực hiện submit và return về lại view create, để nhận biết là được gọi theo dạng popup
                var closePopup = '@ViewBag.closePopup';
                $(document).ready(function () {
                    //nếu là được gọi theo dạng popup từ form khác thì chạy đoạn code bên dưới
                    if (closePopup != '') {
                        var option = '<option value="@Model.Id" >@Model.Name</option>';
                        //tên funtion có thể khác theo từng công việc riêng (đây chỉ là mẫu khi thêm mới sẽ gọi lại)
                        window.parent.ClosePopupAndAppendSelect(option);
                    }

                    //nếu có url thì gọi hàm này để trang ngoài iframe nhảy trang
                    if (urlRefer != '') {
                        window.parent.ClosePopupAndRedirectToURL(urlRefer);
                    }
                });

            </script>

            @Html.ScriptBottom_ValidationMvc()
            @Html.ScriptBottom_ChosenStyle()
        }
