@model Erp.BackOffice.Administration.Models.EditUserTypeModel
@using Erp.BackOffice.App_GlobalResources
@using Erp.BackOffice.Helpers

@{
    ViewBag.Title = Wording.CreateUserType;
    Layout = "~/Views/Shared/ACE_AdminLayout.cshtml";
    Erp.BackOffice.Models.PageSetting pageSetting = new Erp.BackOffice.Models.PageSetting
    {
        ModuleName = "UserType",
        ActionName = "AddUserType",
        PageTitle = ViewBag.Title,
        DisplaySearchPanel = false,
        IsPopup = false,
        DisplayBackButton = true
    };
}
@using (Html.BeginPageHeaderContainer(pageSetting))
{

}
@using (Html.BeginForm_AceStyle((string)ViewBag.Title, "AddUserType", "UserType", null, FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.ValidationSummary(true)

    @Html.CustomTextboxFor(model => model.Name, null, null, WidthType.span4, true)
    @Html.CustomTextboxFor(model => model.Code, null, null, WidthType.span4, true)
    @Html.SpinnerFor(model => model.OrderNo, 100, 0, 1, SpinnerStyle.SpinnerStyle1, true)
    @Html.CustomTextboxFor(model => model.Note, null, null, WidthType.span4, true)
    @Html.CustomSwitchesFor(model => model.IsSystem, SwitchesStyle.CheckboxStyle, true)
    @Html.CustomDropDownListFor(model => model.ChiefUserID, SelectListHelper.GetSelectList_User("", Wording.Empty), WidthType.span12, true, null, DropdownListStyle.DropdownListStyleDefault)

    using (Html.BeginButtonContainer(pageSetting))
    {
        <button class="btn btn-mini btn-primary" type="submit" name="Submit" value="Save">
            <i class="ace-icon fa fa-save"></i>
            @Wording.Save
        </button>
    }
}

@section Scripts {
    @Html.ScriptBottom_ValidationMvc()
}

