@using Erp.BackOffice.App_GlobalResources
@using Erp.BackOffice.Helpers
@using Erp.BackOffice.Staff.Models
@using System.Globalization
@model TaxViewModel

@{
    ViewBag.Title = Wording.PageEdit_Tax;
    CultureInfo cul = CultureInfo.GetCultureInfo("vi-VN");
    Layout = "~/Views/Shared/" + (Request["IsPopup"] == null ? "ACE_AdminLayout.cshtml" : "_PopupLayout.cshtml");

    Erp.BackOffice.Models.PageSetting pageSetting = new Erp.BackOffice.Models.PageSetting
    {
        ModuleName = "Tax",
        ActionName = "Edit",
        PageTitle = ViewBag.Title,
        DisplaySearchPanel = false,
        IsPopup = false,
        DisplayBackButton = true
    };
}

@section HeadOfPage {
    @Html.ScriptTop_ChosenStyle()
}

@using(Html.BeginPageHeaderContainer(pageSetting))
{

}

@using (Html.BeginForm_AceStyle((string)ViewBag.Title, pageSetting.ActionName, pageSetting.ModuleName, null, FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.CreatedUserId)
    @Html.HiddenFor(model => model.AssignedUserId)
    @Html.HiddenFor(model => model.CreatedDate)
    @Html.HiddenFor(model => model.IsDeleted)

    @Html.CustomTextboxFor(model => model.Name, null, null, WidthType.span12)
    @Html.CustomDropDownListFor(model => model.SalaryTableId, SelectListHelper.GetSelectList_Salaytable(null, Wording.Empty), WidthType.span12, true, null, DropdownListStyle.DropdownListStyleDefault)
    @Html.CustomDropDownListFor(model => model.TaxIncomePersonId, SelectListHelper.GetSelectList_TaxIncomePerson(null, Wording.Empty), WidthType.span12, true, null, DropdownListStyle.DropdownListStyleDefault)
    @Html.MonthPicker(model => model.Month)
    @Html.YearPicker(model => model.Year)

    using (Html.BeginButtonContainer(pageSetting))
    {
        <button class="btn btn-mini btn-primary" type="submit" name="Submit" value="Save">
            <i class="ace-icon fa fa-save"></i>
            @Wording.Save
        </button>
    }
}

@section Scripts {
    
    @Html.ScriptBottom_ValidationMvc()
    @Html.ScriptBottom_ChosenStyle()
}
