@using Erp.BackOffice.App_GlobalResources
@using Erp.BackOffice.Sale.Models
@using Erp.BackOffice.Helpers
@using System.Globalization;
@{
    ViewBag.Title = "Vật tư";
    Layout = "~/Views/Shared/ACE_AdminLayout.cshtml";
    Erp.BackOffice.Models.PageSetting pageSetting = new Erp.BackOffice.Models.PageSetting
    {
        ModuleName = "",
        ActionName = "",
        PageTitle = ViewBag.Title,
        DisplaySearchPanel = true,
        IsPopup = false,
        DisplayBackButton = false,
        HideClearButton = true,
        SearchButtonText = "Lấy dữ liệu"
    };
    Calendar calendar = CultureInfo.InvariantCulture.Calendar;
    var weekdefault = calendar.GetWeekOfYear(DateTime.Now, CalendarWeekRule.FirstFourDayWeek, DayOfWeek.Monday);
    string Month = Request["month"] != null ? Request["month"] : DateTime.Now.Month.ToString();
    string Year = Request["year"] != null ? Request["year"] : DateTime.Now.Year.ToString();
    string week = Request["week"] != null ? Request["week"] : weekdefault.ToString();
    //string branchId = Request["branchId"] != null ? Request["branchId"] : "";
    //if (Request["branchId"] == null)
    //{
    //    if (!Erp.BackOffice.Filters.SecurityFilter.IsAdmin())
    //    {
    //        branchId = Erp.BackOffice.Helpers.Common.CurrentUser.BranchId.Value.ToString();
    //    }
    //}
    //ViewData["branchId"] = branchId;
    IEnumerable<SelectListItem> warehouseList = (IEnumerable<SelectListItem>)ViewBag.warehouseList;
    //var BranchId = Erp.BackOffice.Helpers.Common.CurrentUser.BranchId;
}
@using (Html.BeginPageHeaderContainer(pageSetting))
    {
    @*@Html.Partial("_PartialSearchDrugStore", ViewData["branchId"])*@
    <p>
        Xem dữ liệu theo
        <label>
            <input id="single3" name="single" type="radio" class="ace" value="week">
            <span class="lbl"> Tuần</span>
        </label>
        <label>
            <input id="single1" name="single" type="radio" class="ace" value="month" checked="checked">
            <span class="lbl"> Tháng</span>
        </label>

        <label>
            <input id="single2" name="single" type="radio" class="ace" value="quarter">
            <span class="lbl"> Quý</span>
        </label>

        <select id="month" name="month">
            @for (int i = 1; i <= 12; i++)
            {
                <option @(Month == i.ToString() ? "Selected" : "") value="@i">Tháng @i</option>
            }
        </select>
        <select id="quarter" name="quarter" style="display:none">
            <option value="1">Quý I</option>
            <option value="2">Quý II</option>
            <option value="3">Quý III</option>
            <option value="4">Quý IV</option>
        </select>
        <select id="week" name="week" style="display:none">
            @for (int i = 1; i <= 52; i++)
            {
                <option @(week == i.ToString() ? "Selected" : "") value="@i">Tuần @i</option>
            }
        </select>
        <select id="year" name="year">
            @for (int i = 2016; i <= DateTime.Now.Year; i++)
            {
                <option @(Year == i.ToString() ? "Selected" : "") value="@i">Năm @i</option>
            }
        </select>
        @Html.DropDownList("WarehouseId", warehouseList, "Kho quản lý", new Dictionary<string, object> { { "class", "" }, { "data-val-required", "Bắt buộc chọn." } })
        @*@Html.DropDownList("WarehouseId", SelectListHelper.GetSelectList_Warehouse(Request["WarehouseId"], null), "Kho quản lý", new Dictionary<string, object> { { "class", "" }, { "data-val-required", "Bắt buộc chọn." } })*@
    </p>
}
@if (Erp.BackOffice.Filters.SecurityFilter.AccessRight("ChartInboundAndOutboundMaterialInventory", "SaleReport", "Sale"))
{
    <div id="ChartInboundAndOutboundMaterialInventory">

    </div>
}
<script type="text/javascript">
    @*var branchid = getCookie("BRANCH_ID_SPA_CookieName");
    if (branchid == null || @BranchId > 0) {
        branchid = @BranchId;
    }
    //alert(branchid);*@
    $(function () {
        $("#quarter").val(currentQuarter);

        var single = "month";

        $("#single1").change(function () {
            if ($(this).val() == 'month') {
                $("#month").show();
                $("#week").hide();
                $("#quarter").hide();
                single = "month";
            }
        });

        $("#single2").change(function () {
            if ($(this).val() == 'quarter') {
                $("#month").hide();
                $("#week").hide();
                $("#quarter").show();
                single = "quarter";
            }
        });
        $("#single3").change(function () {
            if ($(this).val() == 'week') {
                $("#month").hide();
                $("#quarter").hide();
                $("#week").show();
                single = "week";
            }
        });

        var done1 = 0, done2 = 0;
        ShowLoading();

        $.get('@Url.Action("ChartInboundAndOutboundMaterialInventory", "SaleReport", new { area = "Sale", single = "month", year = Year, month = Month, branchId = 0 })', function (html) {
            $("#ChartInboundAndOutboundMaterialInventory").html(html);
            done2 = 1;
            if (done1 == 1 && done2 == 1) {
                HideLoading();
            }
        });
        $("button[name='search']").click(function (e) {
            debugger
            if ($('#WarehouseId').val() == "") {
                alert("Chưa chọn kho quản lý");
                return false;
            }
            e.preventDefault();
            ShowLoading();
            var month = $("#month option:selected").val();
            var quarter = $("#quarter option:selected").val();
            var year = $("#year option:selected").val();
            var CityId = $("#CityId option:selected").val();
            var DistrictId = $("#DistrictId option:selected").val();
            var branchId = 0;//$("#branchId option:selected").val();
            var week = $("#week option:selected").val();
            var single = $("[name='single']:checked").val();
            var WarehouseId = $('#WarehouseId').val();
            //}
            $.get('@Url.Action("ChartInboundAndOutboundMaterialInventory", "SaleReport", new { area = "Sale" })/?single=' + single + '&year=' + year + '&month=' + month + '&quarter=' + quarter + '&week=' + week + '&branchId=' + branchId + '&WarehouseId=' + WarehouseId/* + '&CityId=' + CityId + '&DistrictId=' + DistrictId*/, function (html) {
                $("#ChartInboundAndOutboundMaterialInventory").html(html);
                done1 = 1;
                if (done1 == 1 && done2 == 1) {
                    HideLoading();
                }
            });
            return false;
        });
    });
</script>
