@using Erp.BackOffice.App_GlobalResources
@using Erp.BackOffice.Helpers
@using Erp.BackOffice.Sale.Models

@model CommisionViewModel

@{
    ViewBag.Title = Wording.PageCreate_Commision;

    Layout = "~/Views/Shared/ACE_AdminLayout.cshtml";
    Erp.BackOffice.Models.PageSetting pageSetting = new Erp.BackOffice.Models.PageSetting
    {
        ModuleName = "Commision",
        ActionName = "Create",
        PageTitle = ViewBag.Title,
        DisplaySearchPanel = false,
        IsPopup = false,
        DisplayBackButton = true
    };
    IEnumerable<SelectListItem> branchList = (IEnumerable<SelectListItem>)ViewBag.branchList;
}

@section HeadOfPage {
    @Html.ScriptTop_ChosenStyle()

    <style>
        .bootstrap-duallistbox-container select {
            height: 150px !important;
        }
    </style>
}
@using (Html.BeginPageHeaderContainer(pageSetting))
{

}
@using (Html.BeginForm_AceStyle((string)ViewBag.Title, "Create", "Commision", null, FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.ValidationSummary(true)

    @Html.CustomDropDownListFor(model => model.BranchId, branchList, null, true, "- Chọn chi nhánh -", DropdownListStyle.DropdownListStyleChosen)
    @Html.CustomTextAreaFor(model => model.Note, null, WidthType.span12)

    using (Html.BeginButtonContainer(pageSetting))
    {
        <button class="btn btn-mini btn-primary" type="submit" name="Submit" value="Save">
            <i class="ace-icon fa fa-save"></i>
            @Wording.Save
        </button>
    }
}

@section Scripts {

    @Html.ScriptBottom_ValidationMvc()
    @Html.ScriptBottom_ChosenStyle()
    @Html.ScriptBottom_DatePicker("dd/mm/yyyy")

    <link rel="stylesheet" href="/assets/css/bootstrap-duallistbox.min.css" />
    <script src="/assets/js/jquery.bootstrap-duallistbox.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            var duallist = $('#duallist').bootstrapDualListbox({
                infoTextFiltered: '<span class="label label-purple label-lg">Đã lọc</span>',
                infoText: '',
                showFilterInputs: false,
                filterPlaceHolder: 'Tìm theo tên'
            });
            var container1 = duallist.bootstrapDualListbox('getContainer');
            container1.find('.btn').addClass('btn-white btn-info btn-bold');

            /**var setRatingColors = function() {
                $(this).find('.star-on-png,.star-half-png').addClass('orange2').removeClass('grey');
                $(this).find('.star-off-png').removeClass('orange2').addClass('grey');
            }*/


            //in ajax mode, remove remaining elements before leaving page
            $(document).one('ajaxloadstart.page', function (e) {
                $('[class*=select2]').remove();
                $('select[name="duallistbox_demo1[]"]').bootstrapDualListbox('destroy');
                $('.rating').raty('destroy');
                $('.multiselect').multiselect('destroy');
            });

        });
    </script>
}
