@using Erp.BackOffice.App_GlobalResources
@using Erp.BackOffice.Helpers
@using Erp.BackOffice.Areas.Administration.Models
@using Erp.BackOffice.Staff.Models
@using Erp.Domain.Entities
@{
    Layout = null;
    IEnumerable<UserType> userTypeList = Erp.BackOffice.Helpers.SelectListHelper.GetSelectUserType().Where(x => x.Code != "Admin" && x.Code != "KT");
    List<vwUsers> userList = Erp.BackOffice.Helpers.SelectListHelper.GetSelectvwAllUser().Where(x => x.UserTypeCode != "Admin" && x.UserTypeCode != "KT").ToList();
    var UserType = Erp.BackOffice.Helpers.Common.CurrentUser.UserTypeCode;
}
<style>
    .box {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
        margin-top: 0px !important;
    }
</style>
<input type="hidden" value="@UserType" name="UserT" />
<div id="User" class="widget-box widget-color-blue" style="opacity: 1;">
    <div class="widget-header">
        <h5 class="widget-title bigger lighter" style="color:white;">
            <i class="ace-icon fa fa-list"></i> Danh sách người dùng
        </h5>

        <div class="widget-toolbar">
            <a href="#" data-action="collapse">
                <i class="ace-icon fa fa-chevron-up"></i>
            </a>
        </div>

    </div>
    <div class="widget-body">
        <div class="widget-main clearfix">
            <div class="box box-height-max">
                <div class="product-cate">
                    <div class="widget-box">
                        <div class="widget-header">
                            <h5 class="widget-title">
                                <i class="ace-icon fa fa-search"></i> Tìm kiếm
                            </h5>

                            <div class="widget-toolbar">
                                <a href="#" data-action="collapse">
                                    <i class="ace-icon fa fa-chevron-up"></i>
                                </a>
                            </div>

                        </div>
                        <div class="widget-body">
                            <div class="widget-main clearfix">
                                <div class="category-content search-view">
                                    <p>
                                        <select id="productCategory">
                                            @foreach (var cate in userTypeList)
                                            {
                                                <option value="@cate.Id" data-code="@cate.Code">@cate.Name</option>
                                            }
                                        </select>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="products-by-cate clearfix">
                        @{ var listUserNoneChoose = userList.Where(x => ("," + ViewData["ListUser"] + ",").Contains("," + x.Id + ",") == false).OrderBy(x => x.FullName).ToList(); }
                        @for (int i = 0; i < listUserNoneChoose.Count; i++)
                        {
                            <label class="product-item" data-category="@listUserNoneChoose[i].UserTypeId"
                                   data-branch-id="@listUserNoneChoose[i].BranchId" data-user-type="@listUserNoneChoose[i].UserTypeCode"
                                   style="display:none">
                                <i class="fa fa-plus"></i>
                                <input type="checkbox" name="ListUserId" class="" value="@listUserNoneChoose[i].Id" />
                                <span class="">@listUserNoneChoose[i].FullName</span>
                            </label>
                        }
                    </div>
                </div>
            </div>
            <div class="box box-height-max" style="margin-top:10px">
                <h4><span>Danh sách người quản lý kho:</span></h4>
                <div class="product-chosen">
                    @{ var listUserChoose = userList.Where(x => ("," + ViewData["ListUser"] + ",").Contains("," + x.Id + ",") == true).OrderBy(x => x.FullName).ToList(); }
                    @for (int i = 0; i < listUserChoose.Count; i++)
                    {
                        <label class="product-item" data-category="@listUserChoose[i].UserTypeId"
                               data-branch-id="@listUserChoose[i].BranchId" data-user-type="@listUserChoose[i].UserTypeCode">
                            <i class="fa fa-minus"></i>
                            <input checked type="checkbox" name="ListUserId" class="" value="@listUserChoose[i].Id" />
                            <span class="">@listUserChoose[i].FullName</span>
                        </label>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#productCategory').change(function () {
            SearchDrugStore();
        });

        $('#User .product-item input').change(function () {
            var $this = $(this);
            $parent = $this.closest('label');

            if ($parent.find('i.fa-plus').length > 0) { //thêm
                $parent.find('input').prop('checked', true);
                $parent.find('i').removeClass('fa-plus').addClass('fa-minus');

                $parent.prependTo('.product-chosen');
                console.log('.product-chosen');
            } else { // xóa
                $parent.find('input').prop('checked', false);
                $parent.find('i').removeClass('fa-minus').addClass('fa-plus');

                if ($('#productCategory').val() != $parent.data('category'))
                    $parent.hide();

                $parent.prependTo('.products-by-cate');
                console.log('.products-by-cate');
            }
        });

        //$('.accordion-section-content').hide();
        $('.accordion-section-title').click(function () {
            var $i = $(this).find('i');
            if ($i.hasClass('fa-angle-double-right')) {
                $i.removeClass('fa-angle-double-right').addClass('fa-angle-double-down');
            } else {
                $i.removeClass('fa-angle-double-down').addClass('fa-angle-double-right');
            }

            var $nextDiv = $(this).next();
            var $visibleSiblings = $nextDiv.siblings('div:visible');

            if ($visibleSiblings.length) {
                $visibleSiblings.slideUp('fast', function () {
                    $nextDiv.slideToggle('fast');
                });
            } else {
                $nextDiv.slideToggle('fast');
            }
        });

        setTimeout(function () {
            //$('.accordion-section:first-child .accordion-section-title').trigger('click');
        }, 500);

    });

    function SearchDrugStore() {
        ShowLoading();
        var user_type = $("#productCategory option:selected");
        var productCategory = user_type.val();
        var code = user_type.data("code");
        var BranchId = $("#BranchId option:selected").val();
        var search = '';
        $('.products-by-cate > label').hide();
        if (productCategory != "") {
            search += '[data-category="' + productCategory + '"]';
        }
        if (BranchId != "") {
            search += '[data-branch-id="' + BranchId + '"]';
        }
        $('.products-by-cate > label' + search).show();
        HideLoading();
    };
</script>
