@using Erp.BackOffice.App_GlobalResources
@using Erp.BackOffice.Helpers
@using Erp.BackOffice.Areas.Administration.Models
@using Erp.BackOffice.Staff.Models
@{
    Layout = null;
    IEnumerable<SelectListItem> BranchList = Erp.BackOffice.Helpers.SelectListHelper.GetSelectList_BranchAllNew(null, Wording.BranchName);
    List<BranchViewModel> departmentList = Erp.BackOffice.Helpers.SelectListHelper.GetSelectAllDepartment();
    IEnumerable<SelectListItem> ProvinceList = Erp.BackOffice.Helpers.SelectListHelper.GetSelectList_Location("0", null, Wording.Province);
}
<style>
    .box {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
        margin-top: 0px !important;
    }
</style>

<div id="DrugStore" class="widget-box widget-color-blue" style="opacity: 1;">
    <div class="widget-header">
        <h5 class="widget-title bigger lighter" style="color:white;">
            <i class="ace-icon fa fa-list"></i> Danh sách chi nhánh
        </h5>

        <div class="widget-toolbar">
            <a href="#" data-action="collapse">
                <i class="ace-icon fa fa-chevron-up"></i>
            </a>
        </div>

    </div>
    <div class="widget-body">
        <div class="widget-main clearfix">
            <div class="box box-height-max">
                @*<h4><span>Chọn Chi nhánh quản lý:</span></h4>*@

                <div class="product-cate">
                    <div class="widget-box">
                        <div class="widget-header">
                            <h5 class="widget-title">
                                <i class="ace-icon fa fa-search"></i> Tìm kiếm
                            </h5>

                            <div class="widget-toolbar">
                                <a href="#" data-action="collapse">
                                    <i class="ace-icon fa fa-chevron-up"></i>
                                </a>
                            </div>

                        </div>
                        <div class="widget-body">
                            <div class="widget-main clearfix">
                                <div class="category-content search-view">
                                    <p>
                                        <select id="productCategory">
                                            @foreach (var cate in BranchList)
                                            {
                                            <option value="@cate.Value">@cate.Text</option>
                                            }
                                        </select>
                                        <select id="City_Id">
                                            @foreach (var pro in ProvinceList)
                                            {
                                            <option value="@pro.Value">@pro.Text</option>
                                            }
                                        </select>

                                        <select id="District_Id">
                                            <option value="">@Wording.District</option>
                                        </select>

                                        <select id="Ward_Id">
                                            <option value="">@Wording.WardName</option>
                                        </select>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="products-by-cate clearfix">
                        @{ var listDepartmentNoneChoose = departmentList.Where(x => ("," + ViewData["DrugStore"] + ",").Contains("," + x.Id + ",") == false).OrderBy(x => x.ParentId).ToList(); }
                        @for (int i = 0; i < listDepartmentNoneChoose.Count; i++)
                        {
                        <label class="product-item" data-category="@listDepartmentNoneChoose[i].ParentId"
                               data-city-id="@listDepartmentNoneChoose[i].CityId" data-district-id="@listDepartmentNoneChoose[i].DistrictId"
                               data-ward-id="@listDepartmentNoneChoose[i].WardId"
                               style="display:none">
                            <i class="fa fa-plus"></i>
                            <input type="checkbox" name="DrugStore" class="" value="@listDepartmentNoneChoose[i].Id" />
                            <span class="">@listDepartmentNoneChoose[i].Name</span>
                        </label>
                        }
                    </div>
                </div>
            </div>
            <div class="box box-height-max" style="margin-top:10px">
                <h4><span>Danh sách chi nhánh quản lý:</span></h4>
                <div class="product-chosen">
                    @{ var listDepartmentChoose = departmentList.Where(x => ("," + ViewData["DrugStore"] + ",").Contains("," + x.Id + ",") == true).OrderBy(x => x.ParentId).ToList(); }
                    @for (int i = 0; i < listDepartmentChoose.Count; i++)
                    {
                    <label class="product-item" data-category="@listDepartmentChoose[i].ParentId"
                           data-city-id="@listDepartmentChoose[i].CityId" data-district-id="@listDepartmentChoose[i].DistrictId"
                           data-ward-id="@listDepartmentChoose[i].WardId">
                        <i class="fa fa-minus"></i>
                        <input checked type="checkbox" name="DrugStore" class="" value="@listDepartmentChoose[i].Id" />
                        <span class="">@listDepartmentChoose[i].Name</span>
                    </label>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
        $(document).ready(function () {
            $('#productCategory').change(function () {
                SearchDrugStore();
            });

            $('#DrugStore .product-item input').change(function () {
                var $this = $(this);
                $parent = $this.closest('label');

                if ($parent.find('i.fa-plus').length > 0) { //thêm
                    $parent.find('input').prop('checked', true);
                    $parent.find('i').removeClass('fa-plus').addClass('fa-minus');

                    $parent.prependTo('.product-chosen');
                    console.log('.product-chosen');
                } else { // xóa
                    $parent.find('input').prop('checked', false);
                    $parent.find('i').removeClass('fa-minus').addClass('fa-plus');

                    if ($('#productCategory').val() != $parent.data('category'))
                        $parent.hide();

                    $parent.prependTo('.products-by-cate');
                    console.log('.products-by-cate');
                }
            });

            //$('.accordion-section-content').hide();
            $('.accordion-section-title').click(function () {
                var $i = $(this).find('i');
                if ($i.hasClass('fa-angle-double-right')) {
                    $i.removeClass('fa-angle-double-right').addClass('fa-angle-double-down');
                } else {
                    $i.removeClass('fa-angle-double-down').addClass('fa-angle-double-right');
                }

                var $nextDiv = $(this).next();
                var $visibleSiblings = $nextDiv.siblings('div:visible');

                if ($visibleSiblings.length) {
                    $visibleSiblings.slideUp('fast', function () {
                        $nextDiv.slideToggle('fast');
                    });
                } else {
                    $nextDiv.slideToggle('fast');
                }
            });

            setTimeout(function () {
                //$('.accordion-section:first-child .accordion-section-title').trigger('click');
            }, 500);

            var url_Location = '/api/BackOfficeServiceAPI/FetchLocation';
            var districts_id = $('#District_Id'); // cache it
            var ward_id = $('#Ward_Id');

            $("#City_Id").change(function () {
                var id = $(this).val(); // Use $(this) so you don't traverse the DOM again
                $.getJSON(url_Location, { parentId: id }, function (response) {
                    districts_id.empty(); // remove any existing options
                    ward_id.empty();
                    $(document.createElement('option'))
                            .attr('value', '')
                            .text('Phường/Xã')
                            .appendTo(ward_id).trigger('chosen:updated');
                    $(document.createElement('option'))
                           .attr('value', '')
                           .text('Quận/Huyện')
                           .appendTo(districts_id).trigger('chosen:updated');
                    $(response).each(function () {
                        $(document.createElement('option'))
                            .attr('value', this.Id)
                            .text(capitalizeFirstAllWords(this.Name.toLowerCase().replace('huyện', '').replace('quận', '')))
                            .appendTo(districts_id).trigger('chosen:updated');
                    });

                    //districts.trigger("chosen:updated");
                });
                SearchDrugStore();
            });

            districts_id.change(function () {
                var id = $(this).val(); // Use $(this) so you don't traverse the DOM again
                $.getJSON(url_Location, { parentId: id }, function (response) {
                    ward_id.empty(); // remove any existing options
                    $(document.createElement('option'))
                          .attr('value', '')
                          .text('Phường/Xã')
                          .appendTo(ward_id).trigger('chosen:updated');
                    $(response).each(function () {
                        $(document.createElement('option'))
                            .attr('value', this.Id)
                            .text(capitalizeFirstAllWords(this.Name.toLowerCase()))
                            .appendTo(ward_id).trigger("chosen:updated");
                    });
                    //ward.trigger("chosen:updated");
                });
                SearchDrugStore();
            });

            ward_id.change(function () {
                SearchDrugStore();
            });
        });

        function SearchDrugStore() {
            var city_id = $("#City_Id option:selected").val();
            var district_id = $("#District_Id option:selected").val();
            var ward_id = $("#Ward_Id option:selected").val();
            var productCategory = $("#productCategory option:selected").val();
            $('.products-by-cate > label').hide();
            var search = '';
            if (productCategory != "")
            {
                search +='[data-category="' + productCategory + '"]';
            }
            if (city_id!="")
            {
                search += '[data-city-id="' + city_id + '"]';
            }
            if (district_id != "") {
                search += '[data-district-id="' + district_id + '"]';
            }
            if (ward_id != "") {
                search += '[data-ward-id="' + ward_id + '"]';
            }
            $('.products-by-cate > label' + search).show();
        };
</script>
