@model IEnumerable<Erp.BackOffice.Areas.Administration.Models.PageMenuViewModel>

@using Erp.BackOffice.Areas.Administration.Models;
@using Erp.Domain.Staff.Repositories;
@using Erp.BackOffice.App_GlobalResources;
@using Erp.BackOffice.Helpers
@{
    if (Model == null)
    {
        return;
    }

    int IdMenuItem = 0;
    if (ViewBag.IdMenuItem != null)
    {
        IdMenuItem = (int)ViewBag.IdMenuItem;
    }
    int idMenuParent = IdMenuItem;
    IEnumerable<Erp.BackOffice.Areas.Administration.Models.PageMenuViewModel> Parent = null;

    List<int> idParentsActiveOpen = new List<int>();

    if (Model != null)
    {
        int idParent = idMenuParent;
        while (idParent > 0)
        {
            var item = Model.Where(p => p.Id == idParent).FirstOrDefault();

            var parentItem = item != null && item.ParentId.HasValue ? Model.Where(p => p.Id == item.ParentId.Value).FirstOrDefault() : null;
            if (parentItem != null)
            {
                idParentsActiveOpen.Add(parentItem.Id);
                idParent = parentItem.Id;
                idMenuParent = idParent;
            }
            else
            {
                idParent = 0;
            }
        }

    }
}
<style>
    .badge, .badge-red.label {
        font-weight: 400;
        background-color: #fa3e3e;
        text-shadow: none;
        position: absolute !important;
        right: 0px;
        font-size: 10px;
        padding: 1px;
    }

    .button__badgeStaff {
        background-color: #fa3e3e;
        border-radius: 2px;
        color: white;
        padding: 1px 3px;
        font-size: 10px;
        position: absolute; /* Position the badge within the relatively positioned button */
        top: 5px;
        right: 10px;
        height: 17px;
        line-height: 15px;
    }

      select#BRANCH_ID {
        height: 30px;
        position:sticky;
        right: 22px;
        background-color: aliceblue;
    }

</style>

<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse pull-left" id="topmenu">
    <ul class="nav navbar-nav">
        @foreach (var item in Model.Where(p => p.ParentId == null && p.PageUrl != "/Home/Index").OrderBy(item => item.OrderNo))
        {
            var subList = Model.Where(p => p.ParentId == item.Id).OrderBy(i => i.OrderNo).ToList();
            var hasSubList = subList != null && subList.Count > 0;

            if (hasSubList)
            {
                var url = item.PageUrl;
                if (item.PageId == null)
                {
                    url = item.Url;
                }

                var cssClassActiveOpen = "";
                if (item.Id == idMenuParent)
                {
                    cssClassActiveOpen = "active";
                }

                <li>
                    <a class="@cssClassActiveOpen" href="@url">
                        @*<i class="@item.CssClassIcon"></i>*@
                        @item.Name
                    </a>
                </li>
            }
        }

        @if ((Erp.BackOffice.Helpers.Common.CurrentUser.BranchId != null) && (Erp.BackOffice.Helpers.Common.CurrentUser.BranchId != 0))
        {
            @Html.DropDownList("BRANCH_ID", SelectListHelper.GetSelectList_Branch_byID(Erp.BackOffice.Helpers.Common.CurrentUser.BranchId, "Chi nhánh"))
        }
        else
        {
            @Html.DropDownList("BRANCH_ID", SelectListHelper.GetSelectList_Branch(0, "Chi nhánh"))
        }

    </ul>
</div><!-- /.navbar-collapse -->

<script type="text/javascript">


    function setCookie(c_name, value, expiredays) {

        var exdate = new Date();
        exdate.setDate(exdate.getDate() + expiredays);
        document.cookie = c_name + "=" + value + ";path=/" + ((expiredays == null) ? "" : ";expires=" + exdate.toGMTString());
    }




    $('#BRANCH_ID').change(function () {
        $(this).find(":selected").each(function () {
            //alert($(this).val());
            setCookie("BRANCH_ID_SPA_CookieName", $(this).val(), 1);
            location.reload();
        });


    });


    $(document).ready(function () {
       
        var strVal = getCookie("BRANCH_ID_SPA_CookieName");
        //alert(strVal);
        $('#BRANCH_ID').val(strVal);

    });



</script>
