@using PagedList;
@using PagedList.Mvc;
@using Erp.BackOffice.Account.Models
@using Erp.BackOffice.Crm.Models
@using Erp.BackOffice.Areas.Cms.Models
@using Erp.BackOffice.App_GlobalResources
@using Erp.BackOffice.Sale.Models
@using Erp.BackOffice.Helpers
@using GridMvc.Html
@model IEnumerable<KH_TUONGTACViewModel>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>

    @{
        Layout = null;
        int index = 0;
    }
    @{
        /**/

        ViewBag.Title = "Thống kê khách hàng tương tác";
        bool isPopup = Request["IsPopup"] != null && Request["IsPopup"].ToString().ToLower() == "true" ? true : false;
        if (isPopup)
        {
            Layout = "~/Views/Shared/_PopupLayout.cshtml";
        }
        else
        {
            Layout = "~/Views/Shared/ACE_AdminLayout.cshtml";
        }
        Erp.BackOffice.Models.PageSetting pageSetting = new Erp.BackOffice.Models.PageSetting
        {
            ModuleName = "Plan",
            ActionName = "KH_TuongTac",
            PageTitle = ViewBag.Title,
            DisplaySearchPanel = true,
            IsPopup = false,
            DisplayBackButton = false
        };
        string userID = Request["userID"] != null ? Request["userID"] : "";
        DateTime aDateTime = new DateTime(DateTime.Now.Year, DateTime.Now.Month, 1);
        // Cộng thêm 1 tháng và trừ đi một ngày.
        DateTime retDateTime = aDateTime.AddMonths(1).AddDays(-1);
        IEnumerable<Erp.BackOffice.Areas.Administration.Models.UserViewModel> user = (IEnumerable<Erp.BackOffice.Areas.Administration.Models.UserViewModel>)ViewBag.user;
    }
    <link href="@Url.Content("~/assets/css/Gridmvc.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/gridmvc.min.js")" type="text/javascript"></script>
    <style type="text/css">
    </style>

    @using (Html.BeginPageHeaderContainer(pageSetting))
    {
        <p>
            <span class="input-daterange input-group" id="day" name="day">
                @Html.TextBox("StartDate", Request["StartDate"] != null ? Request["StartDate"] :"", new { autocomplete = "off", placeholder = "Từ ngày" })
                <span class="input-group-addon">
                    <i class="fa fa-exchange"></i>
                </span>
                @Html.TextBox("EndDate", Request["EndDate"] != null ? Request["EndDate"] : "", new { autocomplete = "off", placeholder = "Đến ngày" })
            </span>
            <select id="NGUOILAP" name="userID">
                <option value="">- Người quản lý -</option>
                @foreach (var item in user.OrderBy(x => x.FullName))
                {
                    <option @(userID == item.Id.ToString() ?"Selected" : "")  value="@item.Id" data-selected="0">@item.FullName</option>
                }
            </select>
        </p>
    }
    <div class="tabbable" style="margin-bottom:50px;">

        <div class="tab-content clear-fix">
            <div id="tab1" class="tab-pane active" style="margin-left:20px">
            </div>
            <div id="" class="table-responsive top-10 ">
                <table id="CTable" class="table table-bordered">
                    <thead>
                        <tr>
                            <th style="width:40px;text-align:center">STT</th>
                            <th style="text-align:center;width:200px">Nhân viên quản lí</th>
                            <th style="text-align:center">Ngày tương tác </th>
                            <th style="width:100px;text-align:center">Tổng số KHQL</th>
                            <th style="text-align:center">Tổng số plan</th>
                            <th style="text-align:center">Tổng số đã TT</th>
                            <th style="text-align:center">Quá hạn</th>
                            <th style="text-align:center">Chưa plan</th>
                            <th style="text-align:center">Chưa plan next</th>


                        </tr>



                    </thead>
                    <tbody>

                        @foreach (var qq in Model.GroupBy(x => x.NGUOI_LAP))
                        {
                            var row_count = 0;

                            foreach (var item in Model.Where(x => x.NGUOI_LAP == qq.Key))
                            {

                                //index++;


                        <tr class="@(index%2==0)">
                            @if (row_count == 0)
                            {
                            <td rowspan="@Model.Where(x => x.NGUOI_LAP == qq.Key).Count()" style="width:40px;text-align:center">@(index+=1)</td>
                            }
                            @if (row_count == 0)
                            {
                                row_count++;
                                <td rowspan="@Model.Where(x=>x.NGUOI_LAP==qq.Key).Count()" data-name="" style="width:100px;text-align:center">@item.NGUOI_LAP</td>
                            }

                            <td style="text-align:center">@item.NGAYLAP</td>
                            <td style="text-align:center">@item.TONG_QL</td>
                            <td style="text-align:center">@item.TONG_PLAN</td>
                            <td style="text-align:center">@item.SOTUONGTAC</td>
                            <td style="text-align:center">@item.SO_QUAHAN</td>
                            <td style="text-align:center">@item.CHUA_PLAN</td>
                            <td style="text-align:center">@item.CHUA_PLAN_NEXT</td>

                        </tr>

                        }
                    }
                        </tbody>

                    </table>
            </div>
        </div>
    </div>

    @section Scripts {
        <script>
            $('.input-daterange').datepicker({ format: 'dd/mm/yyyy' }).on('changeDate', function (e) {

            })
        </script>
        @Html.ScriptBottom_ValidationMvc()
        @Html.ScriptBottom_DatePicker("dd/MM/yyyy")
        
    }
