@using Erp.BackOffice.App_GlobalResources
@using Erp.BackOffice.Helpers
@using Erp.BackOffice.Areas.Cms.Models
@model List<string>
@{
    ViewBag.Title = "Lịch đặt phục vụ";
    Layout = "~/Views/Shared/ACE_AdminLayout.cshtml";
    Erp.BackOffice.Models.PageSetting pageSetting = new Erp.BackOffice.Models.PageSetting
    {
        ModuleName = "",
        ActionName = "",
        PageTitle = ViewBag.Title,
        DisplaySearchPanel = true,
        IsPopup = false,
        DisplayBackButton = false,
        HideClearButton = true,
        SearchButtonText = "Lấy dữ liệu"
    };
    List<CategoryViewModel> Category = (List<CategoryViewModel>)ViewBag.Category;
    string Day = Request["day"] != null ? Request["day"] : DateTime.Now.Day.ToString();
    string Month = Request["month"] != null ? Request["month"] : DateTime.Now.Month.ToString();
    string Year = Request["year"] != null ? Request["year"] : DateTime.Now.Year.ToString();
    var branchSelectList = SelectListHelper.GetSelectList_BranchAll(null, "- Chi nhánh -");
    var BranchId = Erp.BackOffice.Helpers.Common.CurrentUser.BranchId;
    string startDate = Request["startDate"] != null ? Request["startDate"] : "";
    string endDate = Request["endDate"] != null ? Request["endDate"] : "";
}
<link href="~/Scripts/fullcalendar-3.6.1/fullcalendar.min.css" rel="stylesheet" />
<link href="~/assets/css/jquery-ui.custom.min.css" rel="stylesheet" />
<style>
    .btn.active {
        background-color: #428BCA !important;
        border-color: #428BCA !important;
    }
</style>
@section HeadOfPage {
    @Html.ScriptTop_ChosenStyle()
}
@using (Html.BeginPageHeaderContainer(pageSetting))
{
    @*@Html.DropDownList("branchId", branchSelectList)*@
    <select id="day" name="day">
        @for (int i = 1; i <= 31; i++)
        {
            <option @(Day == i.ToString() ? "Selected" : "") value="@i">Ngày @i</option>
        }
    </select>
    <select id="month" name="month">
        @for (int i = 1; i <= 12; i++)
        {
            <option @(Month == i.ToString() ? "Selected" : "") value="@i">Tháng @i</option>
        }
    </select>
    <select id="year" name="year">
        @*<option value="">- Chọn năm -</option>*@
        @for (int i = 2016; i <= DateTime.Now.Year; i++)
        {
            <option @(Year == i.ToString() ? "Selected" : "") value="@i">Năm @i</option>
        }
    </select>
    <div class="pull-right" id="status">
        <div data-toggle="buttons" class="btn-group">
            @for (int i = 0; i < Category.Count(); i++)
            {
                <label class="btn btn-sm " id="label_@i" data-toggle="tooltip" title="@Category[i].Name">
                    <input type="checkbox" value="@Category[i].Value" id="status_check" name="checksss_@i">
                    <i class="icon-only ace-icon @Category[i].Description bigger-110"></i> @Category[i].Name
                </label>
            }
        </div>
    </div>
}
@using (Html.BeginForm_AceStyle((string)ViewBag.Title, "CreateFromSchedule", "ProductInvoice", null, FormMethod.Get, new { @class = "form-horizontal" }))
{
    <div id="Calendar">
    </div>
    using (Html.BeginButtonContainer(pageSetting))
    {
        @*<a class="btn btn-primary btn-mini" href="@Url.Action("Create", "ServiceSchedule", new { area="Sale"})">
                <i class="ace-icon fa fa-plus"></i>
                @Resources.Wording.PageCreate_ServiceSchedule
            </a>*@
        if (Erp.BackOffice.Filters.SecurityFilter.AccessRight("CreateFromSchedule", "ProductInvoice", "Sale"))
        {
            <button class="btn btn-sm btn-white btn-primary" type="submit" name="Submit" value="Save">
                <i class="ace-icon fa fa-plus"></i>
                @Resources.Wording.PageCreate_ProductInvoice (Đã chọn <span class="" id="count_check">0</span>)
            </button>
        }
    }
}
@section Scripts {
    <script src="~/Scripts/fullcalendar-3.6.1/locale/vi.js"></script>
    <script src="~/Scripts/fullcalendar-3.6.1/fullcalendar.min.js"></script>
    <script src="~/assets/js/bootbox.min.js"></script>
    <script src="~/assets/js/moment.min.js"></script>
    <script type="text/javascript">
        @*var branchid = getCookie("BRANCH_ID_SPA_CookieName");
        if (branchid == null || @BranchId > 0) {
            branchid = @BranchId;
        }*@
        $(document).ready(function () {
            $('#label_0').addClass("active");
            $('#label_1').addClass("active");
            $('#li_category_0').addClass("active");
            $('#tab_List_Task_0').addClass("active");
            $("input[name='checksss_0']").attr("checked", "checked");
            $("input[name='checksss_1']").attr("checked", "checked");
            AllowEditRequestCode();
        });
        function AllowEditRequestCode() {
          
            ShowLoading();
            var day = $("#day option:selected").val();
            var month = $("#month option:selected").val();
            var year = $("#year option:selected").val();
            var branchId = 0;//$("#branchId option:selected").val();

            var status = $('#status_check:checked').map(function () {
                return $(this).val();
            }).get().join(',');
            $.get('@Url.Action("Calendar", "ServiceSchedule", new { area = "Sale" })/?status_check=' + status + '&branchId=' + branchId + '&day=' + day + '&month=' + month + '&year=' + year, function (html) {
                $("#Calendar").html(html);
                HideLoading();
            });
            
        }

        $("button[name='search']").click(function (e) {
            
            ShowLoading();
            var message = "";
            var day = $("#day option:selected").val();
            var month = $("#month option:selected").val();
            var year = $("#year option:selected").val();
            if (year % 4 == 0) {
                if (month == 2) {
                    if (day > 29) {
                        message = "Ngày không tồn tại trong tháng !!";
                    }

                }
                if (month == 2 || month == 4 || month == 6 || month == 9 || month == 11) {
                    if (day > 30) {
                        message = "Ngày không tồn tại trong tháng !!";
                    }
                }
            } else {
                if (month == 2) {
                    if (day > 28) {
                        message = "Ngày không tồn tại trong tháng !!";
                    }
                } if (month == 2 || month == 4 || month == 6 || month == 9 || month == 11) {
                    if (day > 30) {
                        message = "Ngày không tồn tại trong tháng !!";
                    }
                }
            }
            if (message != "") {
                alertPopup(message)
                HideLoading();
                return false;
            } else {
                e.preventDefault();
                AllowEditRequestCode();
                return false;
            }
                        

           
        });
        function ClosePopupAndRedirectToURL(url) {
            ClosePopup(true);
            location.href = url;
        }

    </script>
    @Html.ScriptBottom_ValidationMvc()
    @Html.ScriptBottom_ChosenStyle()
    @Html.ScriptBottom_DatePicker("dd/mm/yyyy")
}
