@using Erp.BackOffice.App_GlobalResources
@using Erp.BackOffice.Helpers
@using Erp.BackOffice.Staff.Models

@model StaffFamilyViewModel

@{
    ViewBag.Title = Wording.PageCreate_StaffFamily;

    Layout = "~/Views/Shared/" + (Request["IsPopup"] == null ? "ACE_AdminLayout.cshtml" : "_PopupLayout.cshtml");
    Erp.BackOffice.Models.PageSetting pageSetting = new Erp.BackOffice.Models.PageSetting
    {
        ModuleName = "StaffFamily",
        ActionName = "CreateListFamily",
        PageTitle = ViewBag.Title,
        DisplaySearchPanel = false,
        IsPopup = false,
        DisplayBackButton = false
    };
}

@section HeadOfPage {
    @Html.ScriptTop_ChosenStyle()
}
@using (Html.BeginPageHeaderContainer(pageSetting))
{

}
@using (Html.BeginForm_AceStyle((string)ViewBag.Title, "CreateListFamily", "StaffFamily", null, FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.ValidationSummary(true)

    <input type="hidden" name="IsPopup" value="@Request["IsPopup"]" />
    <div class="row">
        <div class="col-xs-12">
            <div class="widget-box">
                <div class="widget-header">
                    <h5 class="widget-title"><i class="ace-icon fa fa-info-circle"></i> @Wording.StaffInfo</h5>
                </div>
                <div class="widget-body">
                    <div class="widget-main clearfix">
                        @Html.ModulePopupFor2(m => m.StaffId, "Staffs", Model.NameStaff, false, false, false, null, null, "Search", "StaffFamily")
                        <div class="control-group form-group" id="infor">
                            <label class="control-label no-padding-right col-lg-5 col-md-4 col-sm-4"> Hiện thông tin</label>
                            <div class="control-value col-lg-7 col-md-8 col-sm-8">
                                <div class="clearfix">
                                    <input id="show" name="show" type="checkbox" class="ace" />
                                </div>

                            </div>
                        </div>
                        <div id="staff">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row bottom-40">
        <div class="col-xs-12">
            <div class="widget-box top-5">
                <div class="widget-header">
                    <h5 class="widget-title"><i class="ace-icon fa fa-info-circle"></i>@Wording.Infomation người thân</h5>
                </div>
                <div class="widget-body">
                    <div class="widget-main clearfix">
                        <div class="col-sm-12" id="staffFamily" style="border-bottom: 1px solid #ccc;">

                        </div>
                        @Html.CustomTextboxFor(model => model.Name, null, null, WidthType.span12)
                        @Html.CustomTextboxFor(model => model.Address, null, null, WidthType.span12)
                        @Html.CustomDropDownListFor(model => model.Gender, SelectListHelper.GetSelectList_Gender(null), WidthType.span12, true, null, DropdownListStyle.DropdownListStyleChosen)
                        @Html.CustomDropDownListFor(model => model.Correlative, SelectListHelper.GetSelectList_Category("Correlative", null, "Value", Wording.Empty), WidthType.span12, true, null, DropdownListStyle.DropdownListStyleChosen)
                        @Html.DatePicker(model => model.Birthday, "dd/MM/yyyy", "99/99/9999", true, false, "control-label col-lg-5 col-md-4 col-sm-4", "col-lg-7 col-md-8 col-sm-8", "col-xs-12")
                        @Html.CustomTextboxFor(model => model.Phone, null, null, WidthType.span12)
                        @Html.CustomSwitchesFor(model => model.IsDependencies, SwitchesStyle.CheckboxStyle, true)
                    </div>
                </div>
            </div>
        </div>
    </div>
    using (Html.BeginButtonContainer(pageSetting))
    {
        <button class="btn btn-mini btn-primary" type="submit" name="Submit" value="Save">
            <i class="ace-icon fa fa-save"></i>
            @Wording.Save
        </button>
        }
        }

        @section Scripts {
            <script type="text/javascript">
        //truyền từ action create của controller qua khi thực hiện submit và return về lại view create, để nhận biết là được gọi theo dạng popup
        var closePopup = '@ViewBag.closePopup';
        $(document).ready(function () {
            //nếu là được gọi theo dạng popup từ form khác thì chạy đoạn code bên dưới
            @*if (closePopup != '') {
                var option = '<option value="@Model.Id" >@Model.Name</option>';
                window.parent.ClosePopupAndReloadPageStaffDetail();
                window.parent.ClosePopupAndAppendSelect(option);
            }*@
            $('#infor').hide();
            $("#StaffId").change(function () {
                //Load
                var id = this.value;
                $('#show').prop('checked', false);
                $("#staff").html("");
                $("#staffFamily").html("");
                if (id != "") {

                    $('#infor').show();
                    @*$("#staff").html("@Html.Action("Index", "StaffFamily", new { area = "Staff", StaffId = Model.Id })");*@
                    @*$.get("@Url.Action("Index", "StaffFamily")", { StaffId: id})
                       .done(function (data) {
                           $("#staffFamily").html(data);
                           HideLoading();
                       });*@
                }

            });
            $('#show').change(function () {
                if (this.checked) {
                    //Load
                    var id = $('#StaffId').val();
                    if (id != null) {
                        ShowLoading();
                        $.get("/Staffs/DetailBasicFull", { Id: id })
                          .done(function (data) {
                              $("#staff").html(data);
                              HideLoading();
                          });
                    }
                }
                else {
                    $("#staff").html("");
                }
            });
        });




            </script>
            @Html.ScriptBottom_ValidationMvc()
            @Html.ScriptBottom_DatePicker("dd/mm/yyyy")
            @Html.ScriptBottom_ChosenStyle()
        }
