@using Erp.BackOffice.App_GlobalResources
@using Erp.BackOffice.Helpers
@using Erp.BackOffice.Staff.Models

@model SalarySettingViewModel

@{
    ViewBag.Title = Wording.PageEdit_SalarySetting;

    Layout = "~/Views/Shared/" + (Request["IsPopup"] == null ? "ACE_AdminLayout.cshtml" : "_PopupLayout.cshtml");
    Erp.BackOffice.Models.PageSetting pageSetting = new Erp.BackOffice.Models.PageSetting
    {
        ModuleName = "SalarySetting",
        ActionName = "EditValue",
        PageTitle = ViewBag.Title,
        DisplaySearchPanel = false,
        IsPopup = false,
        DisplayBackButton = true
    };
}

@section HeadOfPage {
    @Html.ScriptTop_ChosenStyle()
}
@using (Html.BeginPageHeaderContainer(pageSetting))
{

}
@using (Html.BeginForm_AceStyle((string)ViewBag.Title, "", "EditValue", "SalarySetting", null, FormMethod.Post, new { @class = "form-horizontal clearfix" }))
{
    @Html.ValidationSummary(true)
    <input type="hidden" value="@Request["IsPopup"]" name="IsPopup" />
    <input type="hidden" name="UrlReferrer" value="@Request.UrlReferrer" />

    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.CreatedUserId)
    @Html.HiddenFor(model => model.AssignedUserId)
    @Html.HiddenFor(model => model.CreatedDate)
    @Html.HiddenFor(model => model.IsDeleted)
    @Html.HiddenFor(model => model.IsTemplate)

    @Html.CustomTextboxFor(model => model.Name, null, null, WidthType.span12, true)
    @*@Html.CustomTextboxFor(model => model.SalaryApprovalType, null, null, WidthType.span12, true)*@
    @Html.CustomTextboxFor(model => model.OrderNo, null, null, WidthType.span12, true)
    @*@Html.CustomSwitchesFor(model => model.IsSend, SwitchesStyle.CheckboxStyle, true)
    @Html.CustomSwitchesFor(model => model.HiddenForMonth, SwitchesStyle.CheckboxStyle, true)*@

    using (Html.BeginButtonContainer(pageSetting))
    {
        <button class="btn btn-mini btn-primary" type="submit" name="Submit" value="Save">
            <i class="ace-icon fa fa-save"></i>
            @Wording.Save
        </button>
    }
}

@section Scripts {

    <script>
        var closePopup = '@ViewBag.closePopup';
        $(document).ready(function () {
            if (closePopup != '') {
                //tên funtion có thể khác theo từng công việc riêng (đây chỉ là mẫu khi thêm mới sẽ gọi lại)
                window.parent.location.reload();
            }
        });
    </script>

    @Html.ScriptBottom_ValidationMvc()
    @Html.ScriptBottom_DatePicker("dd/mm/yyyy")
    @Html.ScriptBottom_ChosenStyle()
}
