@using Erp.BackOffice.App_GlobalResources
@using Erp.BackOffice.Helpers
@using Erp.BackOffice.Sale.Models

@model PhysicalInventoryViewModel

@{
    ViewBag.Title = "Chi tiết kiểm kê kho";

    Layout = "~/Views/Shared/ACE_AdminLayout.cshtml";
    Erp.BackOffice.Models.PageSetting pageSetting = new Erp.BackOffice.Models.PageSetting
    {
        ModuleName = "PhysicalInventory",
        ActionName = "Detail",
        PageTitle = ViewBag.Title,
        DisplaySearchPanel = false,
        IsPopup = false,
        DisplayBackButton = false
    };

    int n = 0;
    var groupList = Model.DetailList.GroupBy(x => new { x.CategoryCode }, (key, group) => new
    {
        CategoryCode = key.CategoryCode,
        ProductList = group.ToList()
    });
}

@section HeadOfPage {
    @Html.ScriptTop_ChosenStyle()
}

@using (Html.BeginPageHeaderContainer(pageSetting))
{

}

@if (ViewBag.FailedMessage != null && ViewBag.FailedMessage != "")
{
    <div class="alert alert-block alert-danger">
        <button class="close" data-dismiss="alert" type="button">
            <i class="ace-icon fa fa-times"></i>
        </button>
        <i class="ace-icon fa fa-warning red"></i>
        @ViewBag.FailedMessage
    </div>
}
<div class="row">
    <div class="col-sm-7">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th style="width:5%">STT</th>
                        <th>Tên sản phẩm</th>
                        <th style="width:10%">Số Lô</th>
                        <th style="width:10%">Hạn dùng</th>
                        <th style="width:10%">SL hệ thống</th>
                        <th style="width:10%">SL thực tế</th>
                        <th style="width:10%">SL chênh lệch</th>
                    </tr>
                </thead>
                <tbody id="detailList">
                    @foreach (var g in groupList)
                    {
                        <tr style="background:#eee"><td colspan="7"><b>@g.CategoryCode</b></td></tr>
                        foreach (var item in g.ProductList)
                        {
                            n++;
                            <tr>
                                <td>@n</td>
                                <td>@item.ProductCode - @item.ProductName</td>
                                <td>@item.LoCode</td>
                                <td>@(item.ExpiryDate==null?"":item.ExpiryDate.Value.ToString("dd/MM/yyyy"))</td>
                                <td>@Common.PhanCachHangNgan2(item.QuantityInInventory)</td>
                                <td>@Common.PhanCachHangNgan2(item.QuantityRemaining)</td>
                                <td>@Common.PhanCachHangNgan2(item.QuantityDiff)</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-sm-5">
        <div class="tabbable">
            <ul class="nav nav-tabs padding-12 tab-color-blue background-blue" id="tabInvoice">
                <li class="active"><a data-toggle="tab" href="#tab1">Thông tin chi tiết</a></li>
            </ul>
            <div class="tab-content">
                <div class="detail-view">
                    <div class="row control-group">
                        @Html.DetailViewItemFor2(model => model.Code, null, null, "col-xs-4", "col-xs-8")
                    </div>
                    <div class="row control-group">
                        @Html.DetailViewItemFor2(model => model.CreatedDate, null, null, "col-xs-4", "col-xs-8")
                    </div>
                    <div class="row control-group">
                        @Html.DetailViewItemFor2(model => model.WarehouseName, null, null, "col-xs-4", "col-xs-8")
                    </div>
                    <div class="row control-group">
                        <div class="col-xs-4 control-label"><label for="ProductInboundCode">Mã phiếu nhập</label></div><div class="col-xs-8 control-value"><a target="_blank" href="/ProductInbound/Detail/?TransactionCode=@Model.ProductInboundCode">@Model.ProductInboundCode</a></div>
                    </div>
                    <div class="row control-group">
                        <div class="col-xs-4 control-label"><label for="ProductOutboundCode">Mã phiếu xuất</label></div><div class="col-xs-8 control-value"><a target="_blank" href="/ProductOutbound/Detail/?TransactionCode=@Model.ProductOutboundCode">@Model.ProductOutboundCode</a></div>
                    </div>
                    <div class="row control-group">
                        @Html.DetailViewItemFor2(model => model.Note, null, null, "col-xs-4", "col-xs-8")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@using (Html.BeginButtonContainer(pageSetting))
{
    <a href="@Url.Action("Print", new { Id = Model.Id })" target="_blank" class="btn btn-primary btn-white btn-sm"><i class="fa fa-print"></i> In phiếu</a>
    if (Model.IsExchange == false)
    {
        using (Html.BeginForm_AceStyle((string)ViewBag.Title, "Exchange", "PhysicalInventory", null, FormMethod.Post, new { id = "Exchange", @class = "inline" }))
        {
            @Html.ValidationSummary(true)
            @Html.HiddenFor(m => m.Id)
            if (Erp.BackOffice.Filters.SecurityFilter.AccessRight("Exchange", "PhysicalInventory", "Sale"))
            {
                <button class="btn btn-mini btn-primary" type="submit" name="Submit" value="Exchange" onclick="return confirm('Bạn muốn tiếp tục thao tác xử lý chênh lệch tồn kho?');">
                    <i class="ace-icon fa fa-check"></i>
                    Xử lý chênh lệch
                </button>
            }
        }
    }
    else
    {
        using (Html.BeginForm_AceStyle((string)ViewBag.Title, "Exchange", "PhysicalInventory", null, FormMethod.Post, new { id = "CheckData", @class = "inline" }))
        {
            @Html.ValidationSummary(true)
            @Html.HiddenFor(m => m.Id)
            if (Erp.BackOffice.Filters.SecurityFilter.AccessRight("Exchange", "PhysicalInventory", "Sale"))
            {
                <button class="btn btn-mini btn-primary" type="submit" name="Submit" value="CheckData">
                    <i class="ace-icon fa fa-check"></i>
                    Kiểm tra dữ liệu
                </button>
            }
        }
    }
}

@section Scripts {
    @Html.ScriptBottom_ValidationMvc()
    @Html.ScriptBottom_ChosenStyle()

    <script type="text/javascript">
        $(function () {

        });
    </script>
}
