@model List<Erp.BackOffice.Sale.Models.PurchaseOrderViewModel>

@using Erp.BackOffice.App_GlobalResources
@using Erp.BackOffice.Account.Models
@using Erp.BackOffice.Helpers
@using GridMvc.Html

<link href="@Url.Content("~/assets/css/Gridmvc.css")" rel="stylesheet" type="text/css" />

<div class="clearfix">
    @if (Model != null)
    {
        var supplierGroup = Model.GroupBy(item => item.SupplierCode)
            .Select((g, index) => new
            {
                Supplier = g,
                ListPurchaseOrder = g.ToList()
            });

        <table class="table table-striped grid-table" style="float:left">
            <thead>
                <tr>
                    <th class="grid-header" style="width:100px;">Ngày hẹn trả</th>
                    <th class="grid-header">Mã đơn hàng</th>
                    <th class="grid-header" style="width: 100px; text-align: right">Số tiền</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in supplierGroup)
                {
                    var supplier = item.Supplier.FirstOrDefault();
                    <tr style="background: #eee">
                        <td colspan="2"><a onclick="OpenPopup('@Url.Action("LiabilitiesDetail", "TransactionLiabilities", new { TargetModule = "Supplier", TargetCode = supplier.SupplierCode, TargetName = supplier.SupplierName, popup = true })', 'Chi tiết công nợ', 0, 500)"><b>@supplier.SupplierName</b></a></td>
                        <td class="text-right"><b>@Common.PhanCachHangNgan2(item.ListPurchaseOrder.Sum(i => i.RemainingAmount))</b></td>
                    </tr>
                    foreach (var purchaseOrder in item.ListPurchaseOrder)
                    {
                        <tr class="grid-row">
                            <td class="grid-cell" style="font-size:11px">
                                @(purchaseOrder.NextPaymentDate.HasValue ? purchaseOrder.NextPaymentDate.Value.ToString("dd/MM/yyyy") : "")
                            </td>
                            <td style="font-size:11px"><a onclick="OpenPopup('@Url.Action("Detail", "PurchaseOrder", new { Area = "Sale", Id = purchaseOrder.Id, IsPopup = true })', 'Chi tiết đơn mua hàng', 0, 500)"><b>@purchaseOrder.Code</b></a></td>
                            <td class="text-right" style="font-size:11px">
                                <b class="red">@Erp.BackOffice.Helpers.Common.PhanCachHangNgan2(purchaseOrder.RemainingAmount)</b>
                            </td>
                        </tr>
                    }
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2"></td>
                    <td class="text-right"><b>@Common.PhanCachHangNgan2(Model.Sum(item => item.RemainingAmount))</b></td>
                </tr>
            </tfoot>
        </table>
    }
</div>