@using HierarchicalControls.Helpers
@using Erp.BackOffice.Staff.Models
@using Erp.BackOffice.Helpers
@model  List<StaffsViewModel>

@helper GridColumnName(string name, int id, string code, bool gender, string ProfileImage)
{
    <div class="col-xs-3">
        @if (!string.IsNullOrEmpty(ProfileImage))
        {
            <a data-toggle="tooltip" title='
            <img src="/Data/HinhSV/@(ProfileImage)" width="248" />'>
            <img class="profile-picture" src="/Data/HinhSV/@(ProfileImage)" width="35" height="44" alt="@name" />
        </a>
        }
        else
        {
            <span class="profile-picture" style="height:44px; width:35px"><img style="max-width:100%; margin-top:5px" src="/assets/img/no-avatar.png" alt="@name" /></span>
        }

    </div>
    <div class="col-xs-9">
        @if (string.IsNullOrEmpty(name))
        {
            <p> <a href="@Url.Action("Detail", "Staffs", new { area = "Staff", Id = id })" target="_blank"><b><i class="fa fa-user-circle-o"></i>  No Title</b></a></p>
        }
        else
        {
            <p style="margin:0px">
                <a href="@Url.Action("Detail", "Staffs", new { area = "Staff", Id = id })" target="_blank">
                    <b>
                        @if (gender == true)
                        {
                            <i style="color:#ff00dc" class="fa fa-female" data-rel="tooltip" title="" data-placement="bottom" data-original-title="Giới tính: Nữ"></i>
                        }
                        else
                        {
                            <i class="fa fa-male" data-rel="tooltip" title="" data-placement="bottom" data-original-title="Giới tính: Nam"></i>
                        }
                        @name
                    </b>
                </a>
            </p>
<p><i class="fa fa-barcode" data-rel="tooltip" title="" data-placement="bottom" data-original-title="Mã nhân viên hiện tại"></i> @code</p>
        }
    </div>
}
<div class="" style="width:100%">
        <div class="table-responsive" style="padding:10px 0 40px;width:100%">
            <div class="col-sm-12 table-fixed-column-2" style="padding:0px;">
                <table id="cTable" class="table">
                    <thead>
                        <tr>
                            <th>
                                <span>
                                    <a href="javascript:;" class="btn btn-minier btn-danger remove-item CheckIsvalReinit2" onclick="CheckIsvalAll()">
                                        <i class="ace-icon fa fa-times"></i>
                                    </a>
                                </span>
                            </th>
                            <th>
                                <span>Nhân viên (@Model.Count() người)</span>
                            </th>
                           

                        </tr>
                    </thead>

                    <tbody>
                        @if (Model.Count() > 0)
                        {
                        foreach (var item in Model)
                        {
                            <tr id="room-@item.Id" class="grid-row">
                                @*@using (Html.BeginCollectionItem("ListCheckStaff"))
                                {*@
                                <td>
                                    <a href="javascript:;" class="btn btn-minier btn-danger remove-item CheckIsvalReinit" name="room-@item.Id" value="@item.Id" onclick="CheckIsval2(@item.Id)">
                                        <i class="ace-icon fa fa-times"></i>
                                    </a>
                                </td>
                                    <td>
                                        @GridColumnName(item.Name, item.Id, item.Code, item.Gender.Value, item.ProfileImage)
                                    </td>
                                   

                                @*}*@
                            </tr>
                        }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>


        <script type="text/javascript">
            function CheckIsval2(id) {
                
                $('[name="room-'+id+'"]').closest('tr').remove();
                var checkSave = $('input[name="staffListcancel"]')
                checkSave.val(checkSave.val().replace(id, ''));
                checkSave.val(checkSave.val().replace(',,', ','));
                //   console.log(checkSave.val());
             //   CheckIsvalReinit();
                CheckIsval();
            };
            function CheckIsvalAll() {
                $('.table').remove();
                var checkSave = $('input[name="staffListcancel"]')
                checkSave.val('');
                loadStaff();
            };
        </script>
