@using Erp.BackOffice.App_GlobalResources
@using Erp.BackOffice.Helpers
@using Erp.BackOffice.Administration.Models

@model ModuleRelationshipViewModel

@{
    ViewBag.Title = Wording.PageEdit_ModuleRelationship;

    Layout = "~/Views/Shared/ACE_AdminLayout.cshtml";
}

@section HeadOfPage {
    @Html.ScriptTop_ChosenStyle()
}

@using (Html.BeginForm_AceStyle((string)ViewBag.Title, "Edit", "ModuleRelationship", null, FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.CreatedUserId)
    @Html.HiddenFor(model => model.CreatedDate)
    @Html.HiddenFor(model => model.IsDeleted)

        @Html.CustomTextboxFor(model => model.First_ModuleName, null, null, WidthType.span12)
    @Html.CustomTextboxFor(model => model.First_MetadataFieldName, null, null, WidthType.span12)
    @Html.CustomTextboxFor(model => model.Second_ModuleName, null, null, WidthType.span12)
    @Html.CustomTextboxFor(model => model.Second_MetadataFieldName, null, null, WidthType.span12)


    <button style="margin-top:10px" type="submit" class="btn btn-info" name="Submit" value="Save">
        <i class="ace-icon fa fa-save bigger-110"></i>
        @Wording.Save
    </button>
}

@section Scripts {
    
    @Html.ScriptBottom_ValidationMvc()
    @Html.ScriptBottom_ChosenStyle()
}
