@using Erp.BackOffice.App_GlobalResources
@using Erp.BackOffice.Helpers
@using Erp.BackOffice.Sale.Models

@model LogPromotionViewModel

@{
    ViewBag.Title = Wording.PageEdit_LogPromotion;

    Layout = "~/Views/Shared/" + (Request["IsPopup"] == null ? "ACE_AdminLayout.cshtml" : "_PopupLayout.cshtml");
    
    Erp.BackOffice.Models.PageSetting pageSetting = new Erp.BackOffice.Models.PageSetting
    {        
        ModuleName = "LogPromotion",
        ActionName = "Edit",
        PageTitle = ViewBag.Title,
        DisplaySearchPanel = false,
        IsPopup = false,
        DisplayBackButton = true
    };
}

@section HeadOfPage {
    @Html.ScriptTop_ChosenStyle()
}

@using(Html.BeginPageHeaderContainer(pageSetting))
{

}

@using (Html.BeginForm_AceStyle((string)ViewBag.Title, pageSetting.ActionName, pageSetting.ModuleName, null, FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.CreatedUserId)
    @Html.HiddenFor(model => model.AssignedUserId)
    @Html.HiddenFor(model => model.CreatedDate)
    @Html.HiddenFor(model => model.IsDeleted)

        @Html.CustomTextboxFor(model => model.ProductInvoiceCode, null, null, WidthType.span12)
    @Html.CustomTextboxFor(model => model.ProductId, null, null, WidthType.span12)
    @Html.CustomTextboxFor(model => model.CommissionCusCode, null, null, WidthType.span12)
    @Html.CustomTextboxFor(model => model.TargetID, null, null, WidthType.span12)
    @Html.CustomTextboxFor(model => model.TargetModule, null, null, WidthType.span12)
    @Html.CustomTextboxFor(model => model.Type, null, null, WidthType.span12)
    @Html.CustomDropDownListFor(model => model.CustomerId, CustomerIdList, WidthType.span12, true, null, DropdownListStyle.DropdownListStyleDefault)
    @Html.CustomDropDownListFor(model => model.BranchId, BranchIdList, WidthType.span12, true, null, DropdownListStyle.DropdownListStyleDefault)
    @Html.CustomTextboxFor(model => model.Code, null, null, WidthType.span12)
    @Html.CustomTextboxFor(model => model.CommissionValue, null, null, WidthType.span12)
    @Html.CustomTextboxFor(model => model.IsMoney, null, null, WidthType.span12)
    @Html.CustomDropDownListFor(model => model.GiftProductId, GiftProductIdList, WidthType.span12, true, null, DropdownListStyle.DropdownListStyleDefault)
    @Html.CustomDropDownListFor(model => model.DonateProOrSerId, DonateProOrSerIdList, WidthType.span12, true, null, DropdownListStyle.DropdownListStyleDefault)


    @using (Html.BeginButtonContainer(pageSetting))
    {
        <button class="btn btn-mini btn-primary" type="submit" name="Submit" value="Save">
            <i class="ace-icon fa fa-save"></i>
            @Wording.Save
        </button>
    }
}

@section Scripts {
    
    @Html.ScriptBottom_ValidationMvc()
    @Html.ScriptBottom_ChosenStyle()
}
