@model Erp.BackOffice.Account.Models.CustomerViewModel

@using Erp.BackOffice.App_GlobalResources
@using Erp.BackOffice.Sale.Models
@using Erp.BackOffice.Helpers
@using Erp.Domain.Account.Entities
@using Erp.Domain.Sale.Entities
@using GridMvc.Html

@{
    Layout = null;
}

<div class="row" style="text-align:center">
    <div class="col-xs-12">
        <div class="widget-box">
            <div class="widget-body">
                <div class="widget-main" style="background: #f7f7f7;">
                    <div class="row">
                        <div class="col-sm-5">
                            <img id="avatar" alt="@Model.CompanyName" src="@(Erp.BackOffice.Helpers.Common.KiemTraTonTaiHinhAnh(Model.Image, "Customer", "user"))" style="width:130px;height:130px;border-radius:100%;border:1px solid #ccc" />
                        </div>
                        <div class="col-sm-7">
                            <div style="color:#337ab7;border-bottom:3px solid" class="top-20"><h3><b>@Model.CompanyName</b></h3></div>
                            <div style="color:#337ab7">@Model.Code</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row top-10">
    <div class="col-xs-12">
        <div class="widget-box">
            <div class="widget-body">
                <div class="widget-main">
                    <div class="detail-view">
                        @*<div class="row control-group">
                                @Html.DetailViewItemFor2(model => model.Code, null, null, "col-xs-6", "col-xs-6")
                            </div>
                            <div class="row control-group">
                                @Html.DetailViewItemFor2(model => model.CompanyName, null, null, "col-xs-6", "col-xs-6")
                            </div>*@
                        <div class="row control-group">
                            @Html.DetailViewItemFor2(model => model.CustomerGroup, null, null, "col-xs-4", "col-xs-8")
                        </div>
                        <div class="row control-group">
                            @Html.DetailViewItemFor2(model => model.CustomerType, null, null, "col-xs-4", "col-xs-8")
                        </div>
                        <div class="row control-group">
                            @Html.DetailViewItemFor2(model => model.KhCuMuonBo, null, null, "col-xs-4", "col-xs-8")
                        </div>
                        <div class="row control-group">
                            @Html.DetailViewItemFor2(model => model.KhCuThanPhien, null, null, "col-xs-4", "col-xs-8")
                        </div>
                        <div class="row control-group">
                            @Html.DetailViewItemFor2(model => model.KhLauNgayKhongTuongTac, null, null, "col-xs-4", "col-xs-8")
                        </div>
                        <div class="row control-group">
                            @Html.DetailViewItemFor2(model => model.KhMoiDenVaHuaQuaiLai, null, null, "col-xs-4", "col-xs-8")
                        </div>
                        <div class="row control-group">
                            @Html.DetailViewItemFor2(model => model.KhMoiDenVaKinhTeYeu, null, null, "col-xs-4", "col-xs-8")
                        </div>
                        <div class="row control-group">
                            @Html.DetailViewItemFor2(model => model.IsBonusSales, null, null, "col-xs-4", "col-xs-8")
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>