@using Erp.BackOffice.App_GlobalResources
@using Erp.BackOffice.Helpers
@using Erp.BackOffice.Sale.Models
@using Erp.BackOffice.Areas.Cms.Models
@model  List<CategoryViewModel>

@{
    Layout = null;
}

<table class="table table-responsive table-bordered">
    <thead>
        <tr>
            <td></td>
            @foreach (var ii in Model)
            {
                <td>@ii.Name</td>
            }
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>KẾT LUẬN</td>
            @foreach (var ii in Model)
            {
                foreach (var item in ii.ListQuestion.Where(x => x.Category == ii.Value && x.Name == "KẾT LUẬN"))
                {
                    <td>
                        <textarea class="" id="Content_@(item.Id)_0" data-question-id="@item.Id" data-target-module="Answer" data-target-id="0"></textarea>
                    </td>
                }
            }
        </tr>
        <tr>
            <td>GIẢI PHÁP</td>
            @foreach (var ii in Model)
            {
                foreach (var item in ii.ListQuestion.Where(x => x.Category == ii.Value && x.Name == "GIẢI PHÁP"))
                {
                    <td>
                        <textarea class="" id="Content_@(item.Id)_0" data-question-id="@item.Id" data-target-module="Answer" data-target-id="0"></textarea>
                    </td>
                }
            }
        </tr>
        <tr>
            <td></td>
            @foreach (var ii in Model)
            {
                foreach (var question in ii.ListQuestion.Where(x => x.Category == ii.Value && x.Name == "Sản phẩm"))
                {
                    <td>
                        <div class="question">
                            <b>@question.Name</b>
                            @if (question.Type == "input")
                            {
                                <textarea class="" id="Content_@(question.Id)_0" data-question-id="@question.Id" data-target-module="Answer" data-target-id="0"></textarea>
                            }
                            @if (question.Type == "check")
                            {
                                <div class="answer top-5">
                                    @foreach (var answer in question.DetailList)
                                    {
                                        <label style="margin-right:30px !important">
                                            <input name="TargetId_@(question.Id)_@answer.Id" type="checkbox" class="ace" data-question-id="@question.Id" data-target-module="Answer" data-target-id="@answer.Id" value="@answer.Id" />
                                            <span class="lbl"> @answer.Content</span>
                                        </label>
                                    }
                                </div>
                            }
                            @if (question.Type == "all")
                            {
                                <div class="answer top-5">
                                    @foreach (var answer in question.DetailList)
                                    {
                                        <label style="margin-right:30px !important">
                                            <input name="TargetId_@(question.Id)_@answer.Id" type="checkbox" class="ace" data-question-id="@question.Id" data-target-module="Answer" data-target-id="@answer.Id" value="@answer.Id" />
                                            <span class="lbl"> @answer.Content</span>
                                        </label>
                                        <textarea class="" id="Content_@(question.Id)_@(answer.Id)" data-question-id="@question.Id" data-target-module="Answer" data-target-id="@answer.Id"></textarea>
                                    }
                                </div>
                            }
                        </div>
                    </td>
                }
            }
        </tr>
        <tr>
            <td></td>
            @foreach (var ii in Model)
            {
                foreach (var question in ii.ListQuestion.Where(x => x.Category == ii.Value && x.Name == "Dịch vụ"))
                {
                    <td>
                        <div class="question">
                            <b>@question.Name</b>
                            @if (question.Type == "input")
                            {
                                <textarea class="" id="Content_@(question.Id)_0" data-question-id="@question.Id" data-target-module="Answer" data-target-id="0"></textarea>
                            }
                            @if (question.Type == "check")
                            {
                                <div class="answer top-5">
                                    @foreach (var answer in question.DetailList)
                                    {
                                        <label style="margin-right:30px !important">
                                            <input name="TargetId_@(question.Id)_@answer.Id" type="checkbox" class="ace" data-question-id="@question.Id" data-target-module="Answer" data-target-id="@answer.Id" value="@answer.Id" />
                                            <span class="lbl"> @answer.Content</span>
                                        </label>
                                    }
                                </div>
                            }
                            @if (question.Type == "all")
                            {
                                <div class="answer top-5">
                                    @foreach (var answer in question.DetailList)
                                    {
                                        <label style="margin-right:30px !important">
                                            <input name="TargetId_@(question.Id)_@answer.Id" type="checkbox" class="ace" data-question-id="@question.Id" data-target-module="Answer" data-target-id="@answer.Id" value="@answer.Id" />
                                            <span class="lbl"> @answer.Content</span>
                                        </label>
                                        <textarea class="" id="Content_@(question.Id)_@(answer.Id)" data-question-id="@question.Id" data-target-module="Answer" data-target-id="@answer.Id"></textarea>
                                    }
                                </div>
                            }
                        </div>
                    </td>
                }
            }
        </tr>
    </tbody>
</table>

