@using Erp.BackOffice.App_GlobalResources
@using Erp.BackOffice.Helpers

@model List<Erp.BackOffice.Areas.Administration.Models.SettingViewModel>

@{
    ViewBag.Title = "Thiết lập thông tin của công ty";
    Layout = null;

    Erp.BackOffice.Models.PageSetting pageSetting = new Erp.BackOffice.Models.PageSetting
    {
        ModuleName = "Branch",
        ActionName = "Config",
        PageTitle = ViewBag.Title,
        DisplaySearchPanel = false,
        IsPopup = false,
        DisplayBackButton = false
    };
}

@section HeadOfPage {
    @Html.ScriptTop_ChosenStyle()

    <style type="text/css">
        table input {
            padding: 2px 5px !important;
        }

        table select {
            height: 25px;
            font-size: 12px;
        }
    </style>
}

@using (Html.BeginPageHeaderContainer(pageSetting))
{

}

@helper renderItem(Erp.BackOffice.Areas.Administration.Models.SettingViewModel item)
{
    <tr>
        <td style="padding-top:11px">@item.Note</td>
        <td>@Html.TextBox("Value_" + item.Id, item.Value, new { style = "width:100%" })</td>
        <td>
            <a class="btn btn-success btn-mini" style="height:25px" onclick="updateSetting(@item.Id)">
                <i class="fa fa-save"></i>
                Lưu
            </a>
        </td>
    </tr>
}
<p>
    @if (Erp.BackOffice.Filters.SecurityFilter.AccessRight("Create", "Branch", "Staff"))
    {
        <a class="btn btn-mini btn-primary " onclick="OpenPopup('@Url.Action("Create", "Branch", new { area = "Staff", isPopup = true })', 'Tạo mới chi nhánh', 500, 500)">
            <i class="ace-icon fa fa-plus"></i>
            Thêm chi nhánh mới
        </a>
    }
</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <td style="width:35%"><b>Tiêu đề</b></td>
            <td style="width:55%"><b>Giá trị</b></td>
            <td style="width:10%"></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @renderItem(item)
        }
    </tbody>
</table>

<script type="text/javascript">
    function updateSetting(Id) {
        var Value = $("#Value_" + Id).val();

        ShowLoading();
        var url = "/Setting/Update";

        $.post(url, {
            Id: Id,
            Value: Value
        },
        function (res) {
            if (res == 'success') {
                //location.reload();
                alertPopup('Lưu thành công!', '', 'success');
                HideLoading();
            } else {
                alertPopup('Lưu không thành công!', 'Xin hãy kiểm tra lại.', 'error');
                HideLoading();
            }
        });
    }
</script>