<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>

@model IEnumerable<ProductSampleViewModel>

    @using Erp.BackOffice.App_GlobalResources
    @using Erp.BackOffice.Sale.Models
    @using Erp.BackOffice.Helpers
    @using GridMvc.Html

    @{
        ViewBag.Title = "Danh sách chương trình tặng Sample";
        bool isPopup = Request["IsPopup"] != null && Request["IsPopup"].ToString().ToLower() == "true" ? true : false;
        if (isPopup)
        {
            Layout = "~/Views/Shared/_PopupLayout.cshtml";
        }
        else
        {
            Layout = "~/Views/Shared/ACE_AdminLayout.cshtml";
        }

        Erp.BackOffice.Models.PageSetting pageSetting = new Erp.BackOffice.Models.PageSetting
        {
            ModuleName = "ProductSample",
            ActionName = "Index",
            PageTitle = ViewBag.Title,
            DisplaySearchPanel = true,
            IsPopup = false,
            DisplayBackButton = false
        };
        int rowNumber = 0;
        int numberOfItem = 30;
        int currentPage = Request["grid-page"] != null ? Convert.ToInt32(Request["grid-page"]) : 1;
        string Status = Request["Status"];
    }

    <link href="@Url.Content("~/assets/css/Gridmvc.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/gridmvc.min.js")" type="text/javascript"></script>

    @helper GridColumnCommand(int id)
    {

        <p>
            @if (Erp.BackOffice.Filters.SecurityFilter.AccessRight("Create", "ProductSample", "Sale"))
            {
                <a class="btn btn-mini btn-success" href="@Url.Action("Create", "ProductSample", new { Id = id })">
                    <i class="fa fa-edit"></i>
                </a>
            }
            <button name="Delete" value="@id" type="submit" class="btn btn-mini btn-danger">
                <i class="ace-icon fa fa-trash bigger-120"></i>
            </button>
        </p>
    }

    @helper GridColumnName(string name, int id, bool isPopup)
    {
        if (isPopup)
        {
            <a onclick="parent.selectBranchItem(@id)">@name</a>
        }
        else
        {
            name = string.IsNullOrEmpty(name) ? "No Title" : name;
            <a href="@Url.Action("Detail", "ProductSample" , new { Id= id })">@name</a>
        }
    }

    @helper GridColumnCategoryValue(object value)
    {
        var attr = Common.GetCategoryByValueOrId("value", value);
        <span>@(attr != null ? attr.Name : "")</span>
    }

    @helper CheckDeleteColumns(int Id)
    {
        <label>
            <input class="ace class-delete-all" type="checkbox" name="DeleteId-checkbox" value="@Id">
            <span class="lbl"></span>
        </label>
    }

    @helper BuildCheckAll()
    {
        <label>
            <input class="ace" type="checkbox" name="checkAll" id="checkAll" />
            <span class="lbl" ></span>
        </label>
    }

    @using (Html.BeginPageHeaderContainer(pageSetting))
    {
                 <p>
                     @Html.TextBox("Code", Request["Code"], new { autocomplete = "off", placeholder = "Mã nộp tiền..."})
                     <span class="input-daterange input-group">
                         @Html.TextBox("startDate", Request["startDate"] != null ? Request["startDate"] : "", new { autocomplete = "off", placeholder = "Ngày nộp tiền từ..." })
                         <span class="input-group-addon">
                             <i class="fa fa-exchange"></i>
                         </span>
                         @Html.TextBox("endDate", Request["endDate"] != null ? Request["endDate"] : "", new { autocomplete = "off", placeholder = "đến ngày..." })
                     </span>
                     <script>

                         $('.input-daterange').datepicker({ format: 'dd/mm/yyyy' }).on('changeDate', function (e) {
                             var started = $('#startDate').datepicker('getDate');
                             var finished = $('#endDate').datepicker('getDate');
                             var date;
                             //if (started >= finished) {
                             //    if (e.target.id == 'startDate') {
                             //        date = new Date(started);
                             //        date.setDate(started.getDate());
                             //        $('#startDate').datepicker('setDate', date);
                             //    }
                             //    if (e.target.id == 'endDate') {
                             //        date = new Date(finished);
                             //        date.setDate(finished.getDate() + 1);
                             //        $('#endDate').datepicker('setDate', date);
                             //    }
                             //}
                         });
                     </script>
                     <select id="Status" name="Status">
                         <option value="" @(Status == "" ? "selected" : "")>Trạng thái</option>
                         <option value="pending" @(Status == "pending" ? "selected" : "")>@Wording.Unconfimred</option>
                         <option value="inprogress" @(Status == "inprogress" ? "selected" : "")>@Wording.Status_InProcess</option>
                         <option value="complete" @(Status == "complete" ? "selected" : "")>@Wording.Status_Completed</option>
                     </select>
                     @Html.DropDownList("BranchId", SelectListHelper.GetSelectList_Branch(Request["BranchId"], "Chi nhánh"))
                     @Html.DropDownList("CreateUserId", SelectListHelper.GetSelectList_User(Request["CreateUserId"], "Người lập phiếu"))

                 </p>

    }

    @if (ViewBag.SuccessMessage != null && ViewBag.SuccessMessage != "")
    {
        <div class="alert alert-block alert-success">
            <button class="close" data-dismiss="alert" type="button">
                <i class="ace-icon fa fa-times"></i>
            </button>
            <i class="ace-icon fa fa-check green"></i>
            @ViewBag.SuccessMessage
        </div>
    }

    @if (ViewBag.FailedMessage != null && ViewBag.FailedMessage != "")
    {
        <div class="alert alert-block alert-danger">
            <button class="close" data-dismiss="alert" type="button">
                <i class="ace-icon fa fa-times"></i>
            </button>
            <i class="ace-icon fa fa-warning red"></i>
            @ViewBag.FailedMessage
        </div>
    }

    @helper GridColumnStatusName(string status)
    {
        switch (status)
        {
            case "pending":
                <span class="label label-info">@Wording.ProductSampleStatus_Make</span>
                break;
            case "Registered":
                <span class="label label-warning">@Wording.ProductSampleStatus_Registered</span>
                break;
            case "Refuse":
                <span class="label label-warning">@Wording.ProductSampleStatus_Refuse</span>
                break;
            case "Cancel":
                <span class="label label-success">@Wording.ProductSampleStatus_Cancel</span>
                break;
        }
    }

    @helper GridColumnName(string name, int id, string note)
    {
        name = string.IsNullOrEmpty(name) ? "No Title" : name;
        <a href="@Url.Action("Detail", "ProductSample", new { Id = id })">@name</a>

        if (!string.IsNullOrEmpty(note))
        {
            <span class="help-button" data-rel="tooltip" data-placement="bottom" data-original-title="@note">?</span>
        }
    }


    @if (!isPopup)
    {
        using (Html.BeginForm("Delete", pageSetting.ModuleName, FormMethod.Post))
        {
            @Html.Grid(Model).Columns(columns =>
       {

           columns.Add().Titled("#").SetWidth(50).RenderValueAs(o =>
         {
             rowNumber++;

             return @<text> @(rowNumber + ((currentPage - 1) * numberOfItem)) </text>;
});
columns.Add().Titled(BuildCheckAll().ToHtmlString()).SetWidth(20).Sanitized(false).Encoded(false).RenderValueAs(n => CheckDeleteColumns(n.Id));
columns.Add(u => u.Status).Titled(Wording.Status).SetWidth(100).Sanitized(false).Encoded(false).RenderValueAs(n => GridColumnStatusName(n.Status));
columns.Add().Titled("Mã chương trình").Sortable(false).Sanitized(false).Encoded(false).RenderValueAs(u => GridColumnName(u.Code, u.Id, u.Note)).SetWidth(100);
columns.Add(u => u.ProductCode).Titled("Mã SP/DV").SetWidth(100);
columns.Add(u => u.ProductName).Titled("Tên SP/DV");
//columns.Add(u => u.Note).Titled(Wording.Note);
columns.Add(u => u.CreatedDate).Titled(Wording.CreatedDate).SetWidth(130).Sortable(true).Format("{0:dd/MM/yyyy HH:mm}");
columns.Add(u => u.ModifiedDate).Titled(Wording.ModifiedDate).SetWidth(130).Sortable(true).Format("{0:dd/MM/yyyy HH:mm}");
columns.Add(u => u.Id).Titled(Wording.Action).Sanitized(false).Encoded(false).RenderValueAs(u => GridColumnCommand(u.Id)).SetWidth(20);
}).WithPaging(30)

            using (Html.BeginButtonContainer(pageSetting))
            {
                <a class="btn btn-primary btn-mini" href="@Url.Action("Create", pageSetting.ModuleName)">
                    <i class="ace-icon fa fa-plus"></i>
                    @Wording.CreateNew
                </a>
                <button name="DeleteAll" value="DeleteAll" type="submit" class="btn btn-mini btn-danger" onclick="return CheckIsval();">
                    <i class="ace-icon fa fa-trash bigger-120"></i>
                    @Wording.Delete
                </button>
            }
        }
    }
    else
    {
        @Html.Grid(Model).Columns(columns =>
    {
        //columns.Add().Titled(BuildCheckAll().ToHtmlString()).SetWidth(20).Sanitized(false).Encoded(false).RenderValueAs(n => CheckDeleteColumns(n.Id));
        //columns.Add().Titled(Html.DisplayNameFor(u => u.FirstOrDefault().Name).ToString()).Sortable(false).Sanitized(false).Encoded(false).RenderValueAs(u => GridColumnName(u.Name, u.Id, isPopup));
    }).WithPaging(10)
    }
    
    @section Scripts {
        @Html.ScriptBottom_ValidationMvc()
        @Html.ScriptBottom_ChosenStyle()
        @Html.ScriptBottom_DatePicker("dd/MM/yyyy")
        <script type="text/javascript">
            $('.class-delete-all').on('click', function () {
                if ($('.class-delete-all:checked').length == $('.class-delete-all').length) {
                    $('#checkAll').prop('checked', true);
                } else {
                    $('#checkAll').prop('checked', false);
                }
            });
            function CheckIsval() {
                if ($('[name="DeleteId-checkbox"]').is(':checked') == false) {
                    alert("Phải chọn ít nhất 1 item.");
                    return false;
                }
                else {
                    if (confirm('Bạn có chắc muốn xóa các item đã chọn ?')) {
                        return true;
                    }
                    else {
                        return false;
                    }
                }
            }

            $('[name="Delete"]').click(function () {
                if (confirm('Bạn có chắc muốn xóa item ?')) {
                    $(this).closest('tr').children('td').each(function (i, e) {
                       // $(this).find("input.class-delete-all").prop("checked", true);
                        return true;
                    })
                }
                else {
                    return false;
                }

            })

            $('.grid-header').mouseover(function () {
                $('.grid-header')[1].title = "Chọn tất cả";
            });
        </script>

    }
