@model Erp.BackOffice.Areas.Administration.Models.UserUserViewModel

@using Erp.BackOffice.Helpers
@using Erp.BackOffice.App_GlobalResources
@{
    ViewBag.Title = Resources.Wording.ChangPasswordForUsers;
    Layout = "~/Views/Shared/_PopupLayout.cshtml";

}
<style>
    .field-validation-error
    {
        color:red;
        padding-left: 10px;
        display: inline-block;
        padding-top: 5px;
    }
</style>

@using (Html.BeginForm_AceStyle("Cấp mới mật khẩu", "ChangePasswordForUsers", "User", null, FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.UserId)

    <div class="form-group">
        @Html.LabelFor(model => model.NewPassword, new { @class = "control-label col-sm-3" })
        <div class="col-sm-9">
            @Html.PasswordFor(model => model.NewPassword, new { @class = "col-sm-4" })
            @Html.ValidationMessageFor(model => model.NewPassword)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ConfirmPassword, new { @class = "control-label col-sm-3" })
        <div class="col-sm-9">
            @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "col-sm-4" })
            @Html.ValidationMessageFor(model => model.ConfirmPassword)
        </div>
    </div>

    <div class="row-fluid wizard-actions span4">
        <button type="submit" class="btn btn-info" name="Submit" value="Save">
            <i class="ace-icon fa fa-check bigger-110"></i>
            @Resources.Wording.Save
        </button>
    </div>

}

@section Scripts
{
    @if (ViewBag.status == "success"){
        <script type="text/javascript">
            alert('Thành công!');
            //parent.ClosePopupAndDoSomething();
            parent.location.reload();
        </script>
    }

    @Html.ScriptBottom_ValidationMvc()

    @if (ViewBag.SuccessMessage != null)
    {
        <script type="text/ecmascript">
            alert("@ViewBag.SuccessMessage");
        </script>
    }
}