@model Erp.BackOffice.Areas.Administration.Models.ForgetPasswordViewModel

@using Erp.BackOffice.Helpers

@{
    ViewBag.Title = Resources.Wording.ForgetPassword;
    Layout = "~/Views/Shared/_AnonymousLayout.cshtml";
}

@section HeadOfPage
{
    <title>@MvcHtmlString.Create((string)ViewBag.Title)</title>
    <meta name="description" content="User login page" />
}

<div id="forgot-box" class="forgot-box widget-box no-border visible">
    <div class="widget-body">
        <div class="widget-main">
            <h4 class="header red lighter bigger">
                <i class="icon-key"></i>
                @MvcHtmlString.Create(Resources.Wording.RetrievePassword)
            </h4>

            <div class="space-6"></div>
            <p>
                @Resources.Wording.EnterEmail
            </p>

            @using (Html.BeginForm())
            {
                @Html.ValidationSummary(true) 
                <fieldset>
                    <label>
                        <span class="block input-icon input-icon-right">
                            @Html.TextBoxFor(m => m.Email, new { @class = "span12", @placeholder = "Email" })
                            <i class="icon-envelope"></i>
                        </span>
                        @Html.ValidationMessageFor(m => m.Email)
                    </label>

                    <div class="clearfix">
                        <button class="width-35 pull-right btn btn-small btn-danger">
                            <i class="icon-lightbulb"></i>
                            @Resources.Wording.Send
                        </button>
                    </div>
                </fieldset>
            }
        </div>
        <!--/widget-main-->

        <div class="toolbar center">
            <a href="@Url.Action("Login", "User", new { @area = "Administration" })" class="back-to-login-link">@Resources.Wording.BackToLogin <i class="icon-arrow-right"></i></a>
        </div>
    </div>
    <!--/widget-body-->
</div>
<!--/forgot-box-->

@section Scripts
{
    @Html.ScriptBottom_ValidationMvc()

    @if (ViewBag.SuccessMessage != null)
    {
        <script type="text/ecmascript">
            alert("@ViewBag.SuccessMessage");
        </script>
    }
}